[2018-12-08 19:48] dillonharlessNHRMC commented on #494
@xeladotbe thanks for the reply! It wasn't exactly what I was looking for, but I appreciate the response.

Turns out the link I posted in my comment was actually the solution I was looking for, but Alexa was just going silent because I did not add .withShouldEndSession(false) originally... So I was able to achieve my goal of switching intents by setting the state in attributes equal to a string be

[2018-12-08 19:48] #494 closed, assigned to nobody

[2018-12-09 00:58] topleft commented on #488
@tianrenz Feel free to close. We have another solution using the ARN  address and appending the lambda version like so -->  `arn:aws:lambda:region:ACCOUNT_ID:function:FUNCTION_NAME:VERSION`

[2018-12-10 22:16] #488 closed, assigned to nobody

[2018-12-11 10:58] pietrovismara commented on #398
@tianrenz And how would you use `IntentRequest`?
`HandlerInput` takes no type arguments, does that mean i have to cast the request object like this?

`const request = <IntentRequest>handlerInput.requestEnvelope.request;`

It seems very inelegant....

[2018-12-12 13:21] lucakl commented on #283
How is this working in v2 ?

[2018-12-17 23:50] tianrenz commented on #493
Closing this issue due to inactivity.  Please feel free to reopen the issue.

[2018-12-17 23:50] #493 closed, assigned to nobody

[2018-12-18 18:57] jmeyers91 opened #496 "CredentialsError: Missing credentials in config - no info in the docs about `.ask/config`"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I'm trying to deploy a skill to another organization using an IAM user provided by the organization, but after setting the credentials in `~/.

[2018-12-18 21:12] RonWang commented on #496
Hey @jmeyers91

Could you check the profile you use for deploy command does exist in your ~/.aws/credentials file? The credential file will contains your profile name surronded by [ ].

ask-cli does use the aws credentials file for aws credential, and the message "CredentialsError: Missing credentials in config" is actually from aws-sdk's. Let me know if this helps you out!

Thanks,
Ron

[2018-12-18 21:14] jmeyers91 commented on #496
The profile does exist in `~/.aws/credentials`. I was able to fix the issue by re-running `ask init` and selecting the profile.

[2018-12-18 21:14] #496 closed, assigned to nobody

[2018-12-18 21:35] soltrinox commented on #434
That makes three. I would like this feature as well. I am getting a CERTIFICATION rejection in the Alexa Functional Test section. Help on the NodeJS  side would be greatly appreciated.

Please provide a code snippet to add to my NodeJS Express code to properly reject the NON-ALEXA request only documentation is for Java ASK SDK missing for nodejs.

[2018-12-18 23:09] soltrinox commented on #434
I tried both and i am still getting rejection on Alexa Dev Console.

[2018-12-20 14:44] fuzzykarthik opened #497 "Sdk issue"
I tried upgrading Alexa version. But it throws error. Can I please help.me.with that. Please refer issue number 2439

[2018-12-20 16:22] fuzzykarthik commented on #497
Dear team,
I was using alexa sdk and aws sdk for my lambda function. I tried to upgrate that to version 2. But it is throwing error , not able to rollback my changes as well.
Can you please help me on this
i downloaded from the below link
https://developer.amazon.com/blogs/alexa/post/decb3931-2c81-497d-85e4-8fbb5ffb1114/now-available-version-2-of-the-ask-software-development-kit-for-node-js
but ex

[2018-12-20 21:16] tianrenz commented on #497
Hi @fuzzykarthik ,

Could you update the issue to use our issue template? Also, could you attach the code snippet of the part throwing the error?

Regards

[2018-12-27 09:15] AnkitBajpaii commented on #177
after all the slots are filled, dialogState remains at IN_PROGRESS instead of switching to COMPLETED.

[2018-12-30 11:07] stefan-spittank opened #498 "Using the DynamoDbPersistenceAdapter results in module initialization error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
Using the DynamoDbPersistenceAdapter to have a way to store information session independent.

## Current Behavior
The usage

[2018-12-30 11:44] stefan-spittank commented on #498
Hmm, there is a test button in the lambda management console. If I execute this I get a more descriptive error:

[code]

Not sure which credentials in which config are missing, though.

Logging the config in the index.js verifies that the credentials are missing:
[code]

[2018-12-30 12:49] stefan-spittank commented on #498
The docs at: https://docs.aws.amazon.com/de_de/sdk-for-javascript/v2/developer-guide/loading-node-credentials-lambda.html

state, that:

Just to get some progress I tried it anyway. Additionally to the role I already created I created a new user with that role, dowloaded it's credentials and tried to load the aws-config from a config file:
```AWS.config.loadFromPath('./aws-config.json');```

Howev

[2018-12-30 17:09] stefan-spittank commented on #498
I created completely new / empty lambda in region us-east-1, updated all my cli stuff and ran into the same problem. Probably not related to the region?
Wouldn't be a solution anyway, since I can't set the endpoint of my voice interaction model to a lamda in that region (if I try I get the error "The trigger setting for the Lambda arn:aws:lambda:us-east-1:668867983508:function:newRecipe is invalid

[2019-01-02 15:49] westlakem commented on #54
The recommended way breaks dialog flow.  You cannot pass the intentHandler to a "handle" function and then in that other intent have it delegate because the request & slots are of the wrong intent.

[2019-01-02 15:54] westlakem opened #499 "Forward request to new intent"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
Need the ability to emit to a new intent in V2, while switching dialog & intent in the request to the new intent.

## Curre

[2019-01-02 18:29] tianrenz commented on #499
Hi @westlakem ,

Currently, the skill can't proactively change the intent. The switching of intent request needs to be triggered by user utterance (That is, user says something different). The "forwarding" feature in the v1 SDK will only allow for sending the SAME request to different handle function. But it doesn't actually change the intent content.

Regards

[2019-01-02 19:09] tianrenz commented on #498
Hi @pixelos-cc ,

I've tried to replicate the error and was unable to do so. Could you try the following code snippet and pass the credential inline?

[code]

[2019-01-03 12:18] stefan-spittank commented on #498
Hi @tianrenz,

thanks for your reply. I've spent now several days on this issue and finally got it working.

Long story short: I think this issue can be closed, it a configuration error on my side, though I still not fully understand what exactly happend.

The long version (maybe it helps someone else having a similar issue).

I said I could replicate this issue with a new lambda. This was true bu

[2019-01-04 09:34] sem4phor commented on #481
I recommend you to write your own utility file for common functions like this. Then you could upload it to npm for example (see https://docs.npmjs.com/creating-and-publishing-private-packages) and import it in your project. Such helper ,ethods are out of the ask scope IMO

[2019-01-05 00:29] tianrenz commented on #497
Closing the issue due to inactivity. Please feel free to reopen.

[2019-01-05 00:29] #497 closed, assigned to nobody

[2019-01-05 00:37] tianrenz commented on #498
Hi @pixelos-cc ,

Glad the issue got resolved. We've noticed that the configuration of webpack can sometimes cause problems with aws-sdk credential configuration. My best guess is the webpack removed some logic in aws-sdk when doing the bundling. But adding the target as node should fix the problem.

Please see this [issue](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/issues/384) fore

[2019-01-05 00:37] #498 closed, assigned to nobody

[2019-01-09 11:11] unlucio opened #502 "ask init doesn't create the expected .ask folder"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Preamble: this lib's doc is so confusing after 2 days dealing with it I'm not even sure where my head is now. It's undoubtedly extensive but a

[2019-01-09 21:07] RonWang commented on #502
Hi Luciano,

The "init" command is used for authorization: https://developer.amazon.com/docs/smapi/ask-cli-command-reference.html#init-command for Alexa skill development. Since it's a user profile, we store the cli_config in the $HOME path.
What you are looking for is actually the "ask new" command which set the starting template for you along with a project config, which is used to track the pro

[2019-01-09 21:08] RonWang commented on #502
And can you describe more of your usage for "I haven't even been able to find a simple page listing all the objects/namespaces/methods", what do you mean by that?

[2019-01-09 23:32] Bubelbub commented on #446
But sorry @nikhilym, I want to implement Amazon Pay now.
And then I have this workflow.

`Order Intent` -> `Connections.Response` -> How get back? `Order Intent`

In order intent I'm returning a `Connections.SendRequest` directive.
Then my response / next intent is `Connections.Response`.
And how to get back to my `Order Intent`?

Yes I'm able to use something like `OrderIntent.handle(handlerInput

[2019-01-09 23:34] Bubelbub commented on #499
But sorry @tianrenz, I want to implement Amazon Pay now.
And then I have this workflow.

`Order Intent` -> `Connections.Response` -> How get back? `Order Intent`

In order intent I'm returning a `Connections.SendRequest` directive.
Then my response / next intent is `Connections.Response`.
And how to get back to my `Order Intent`?

Yes I'm able to use something like `OrderIntent.handle(handlerInput

[2019-01-10 03:46] franklin-lobb commented on #499
@Bubelbub what's the user flow you're trying to achieve?  I would think you'd want to confirm order intent prior to sending the Connections.Request to AmazonPay.  (I'm presuming this includes the order details.)  If you capture what you need to retain in persistent attributes (could be the entire request!) before making the request to Amazon Pay, you'll have access to it when it returns.  If you r

[2019-01-12 18:56] pankaz opened #503 "please forward] ask-cli installation problem on Mac"
I was trying to use ask-cli on my Macbook. When I run "sudo npm install -g ask-cli", I get the following error:

`npm ERR! path /usr/local/lib/node_modules/ask-cli/node_modules/mkdirp/bin/cmd.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod
npm ERR! enoent ENOENT: no such file or directory, chmod '/usr/local/lib/node_modules/ask-cli/node_modules/mkdirp/bin/cmd.js'
npm ERR! enoent T

[2019-01-15 14:53] minlare commented on #297
To get detailed error logs for this type of error do the following:

In the Alexa skill page, click on test, type an utterance, and you'll see your request, and possibly response (if your code successfully generates one). Copy the request, go to your lambda code and configure a new test event, paste the request in there and hit save and test.

The result should show you what went wrong or at least

[2019-01-16 03:59] jprateekvmware commented on #344
We looking at something , where we have filed a request. The process takes too much time.
We can emit response to the user "You ticket is getting filed, will confirm short while" and once the ticket is created we emit response . Your ticket number is .....

[2019-01-16 06:22] CloudPixle commented on #399
I have noticed that "sometimes" we have the same issue: I can get videos to play when firing directly into the intent from a one-shot, but any sort of menu navigation before trying to play the video seems to make the video fail.

[2019-01-16 07:55] raftheunis87 commented on #362
Hi all :) Just a quick question regarding APL.

So i'm using the latest node sdk for Alexa in combination with Express. I'm trying to do something with the TouchWrapper in APL. This is what is defined in my template:

`{
                  "type": "TouchWrapper",
                  "item" : {
                    "paddingLeft": "@marginLeft",
                    "paddingRight": "@marginRight",

[2019-01-16 13:52] raftheunis87 commented on #362
Nevermind! Got it working! needed to add a reprompt, because alexa wasn't listening anymore. Apparently touch events only work when Alexa is still listening.

[2019-01-17 21:11] reflexdemon opened #504 "addRequestHandlers array of requests - Feature Request"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I have reviewed #383  and I am trying to achevie something else.

## Expected Behavior
 I have actually extrnalized all my implementations outsi

[2019-01-17 23:28] tianrenz commented on #504
HI @reflexdemon ,

Thanks for the interesting input here. I'll bring the idea back to the team and discuss the feature.

Meanwhile, the code snippet you posted above should be able to work. Could you paste the error log here?

Regards

[2019-01-17 23:31] tianrenz commented on #502
Closing the issue due to inactivity. Please feel free to reopen if the problem persists.

[2019-01-17 23:31] #502 closed, assigned to nobody

[2019-01-18 20:43] reflexdemon commented on #504
@tianrenz Thanks for quick turnaround. I got that working on the hello world program. Now,I need to do investigation on why it will not work on my main project.

I have done the following improvements to the sample hello-world code.
1. Moved al the handlers to individual files.
2. Have ability to include new handlers as and when needed to the `./handlers` folder and this gets registered automatica

[2019-01-18 20:44] tianrenz commented on #504
Hi @reflexdemon ,

Glad the problem is solved! Closing the issue now. Please feel free to reopen if need any further help!

Regards

[2019-01-18 20:44] #504 closed, assigned to nobody

[2019-01-18 20:46] reflexdemon commented on #503
did you try `npm install -g ask-cli` without `sudo`?

[2019-01-21 21:08] RonWang commented on #503
Hey @pankaz
First please make sure you don't have ask-cli installed before you run the "sudo npm install -g ask-cli".
Then my question is how do you install the npm? It seems the mkdirp dependency is not found, could you try install that first and then run the installation of ask-cli?
Let me know the result! Thanks~
Ron

[2019-01-21 22:55] ghost commented on #436
The right answer is if a user disables your skill, the framework should delete the persistent info record from the DynamoDB stream for the alexa skill automagically.  Why leave dead data in my persistence store?  The user has decided to disable the skill.  It even gives you a warning that it will remove information but it's not deleting it from my dynamo db stream.

[2019-01-25 08:19] ghost commented on #436
@FTC23Admin That should be how it's handled, especially since the user gets a new account ID from amazon upon reactivation, so all previous data is dead. However I don't think it is technically feasible for Amazon to go into your DB and delete stuff, since there is no guarantee everyone structures the data the same way.

[2019-01-25 10:36] SubrahmanyamSistha commented on #246
any update on alexa notifications?

[2019-01-25 13:51] reflexdemon opened #505 "Replay dialog and terminate"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
When I try to replay a dialog, I am expecting it to be terminated after the `AMAZON.StopIntent` or `AMAZON.CancelIntent` ha

[2019-01-29 11:29] stefanopog commented on #434
Hello, was anybody able to find an interim solution that works ? Thanks so much

[2019-01-30 19:13] tianrenz commented on #503
Closing the issue due to inactivity. Please feel free to reopen if problem reappear.

Regards

[2019-01-30 19:13] #503 closed, assigned to nobody

[2019-01-30 19:13] tianrenz commented on #499
Closing the issue due to inactivity. Please feel free to reopen if the problem reappear.

Regards

[2019-01-30 19:13] #499 closed, assigned to nobody

[2019-01-30 21:18] RonWang commented on #505
Hi @reflexdemon ,

First thanks for using CLI, especially the usage of integration test through CLI's dialog command. And for your question, the dialog command supports some special commands (https://developer.amazon.com/docs/smapi/ask-cli-command-reference.html#dialog-command). One of the special commands "!quit" is the solution to your problem.

You can add !quit as the last userInput in your te

[2019-01-30 22:37] 32teeth commented on #408
This works...   ...except for the LaunchHandler

[code]

in the console
[code]

[2019-01-31 08:26] dustincoates commented on #408
@32teeth it's hard to say _exactly_ what's happening without seeing your code, but here are some possible issues:

1. You don't have a `HelpIntentHandler`. Unlikely because you've referenced it, but check anyway.
2. You've named it something else than `HelpIntentHandler`
3. You're importing your handlers from other files and didn't import `HelpIntentHandler`

You wouldn't get that error from withi

[2019-01-31 14:22] 32teeth commented on #408
LaunchRequestHandler.js
[code]

HelpIntentHandler.js
[code]

index.js
[code]

[2019-01-31 14:47] 32teeth commented on #408
My apologies
I have found my delta

Seems the problem was between the keyboard and the screen (LOL)

[code]

shoule be
[code]

[2019-01-31 22:51] Srinivasb0 opened #506 ".addAudioPlayerPlayDirective is not responding after cancel the intent and want to play song again"
Hello,

I am creating an audio stream by using this template.
https://github.com/skilltemplates/audio-stream-starter-alexa

Where in here I was able to play the .mp3 file first time in Alexa companion app with the invocation of  Alexa ask Brownie Master to Play. In the process of testing, I was able to stop the music with the Utterance of Cancel or Stop. But the song is not re-playing with the utt

[2019-02-01 00:04] tianrenz commented on #506
Hi @Srinivasb0 ,

To help further investigate the issue, could you please provide some cloudwatch log if you have them?

Also, could you please update the issue to use our issue template and provide more detailed description on the part

Was there any error message that Alexa says or is it simply non-responsive?

Regards

[2019-02-01 08:13] Srinivasb0 commented on #506
@tianrenz Thank you for your response.

Here is the log from Cloud watch
    module initialization error: ReferenceError at Object.<anonymous> (/var/task/index.js:404:5) at
    Module._compile (module.js:652:30) at Object.Module._extensions..js (module.js:663:10) at
    Module.load (module.js:565:32) at tryModuleLoad (module.js:505:12) at Function.Module._load
    (module.js:497:3) at Module.requi

[2019-02-01 12:30] reflexdemon commented on #505
I would like to reopen the issue. I am getting an error signal and fails my batch.
[code]

Please refer to https://developer.amazon.com/docs/smapi/ask-cli-command-reference.html#replay-file-format

[2019-02-01 16:22] reflexdemon commented on #472
I had written a utility for this issue and it works without failing. We had to let the teams know we cannot have such non XML friendly characters in the responses.

[code]
Usage:
[code]

I agree this is annoying to do this manually. You may use this as a `quick help`.

[2019-02-01 19:39] tianrenz commented on #506
Hi @Srinivasb0 ,

thanks for providing the info. Could you try using the TEST on Lambda function console to test it? It usually gives a more meaningful error message.

Regards,

[2019-02-01 20:04] RonWang commented on #505
I see your issue here now. So the replay file is first designed to auto play the utterances and then let user continue the prior conversation. That's why special command is not considered in current approach. I've forwarded this to our service team, and we will treat it as a feature request to support special command in this flow. I will update here once that's supported in the new release!

[2019-02-01 21:23] Srinivasb0 commented on #506
Hi @tianrenz

This is the error from lambda console, Cannot read property 'type' of undefined and it looks like different error

Response:
{
  "errorMessage": "Cannot read property 'type' of undefined",
  "errorType": "TypeError",
  "stackTrace": [
    "Object.canHandle (/var/task/index.js:61:49)",
    "GenericRequestMapper.<anonymous> (/var/task/node_modules/ask-sdk-runtime/dist/dispatcher/reques

[2019-02-01 22:16] RonWang commented on #483
Hi @brettswift
Could you provide us more details on your issue. CLI manages both Alexa and AWS credentials but relying on defferent authentication domains. Alexa's developer portal uses Login with Amazon and for AWS part I assume your AD usage is based on AWS Cognito for your Federated identity? When I saw your stack trace I thought you meant for the AWS part. But then when I read your post, it se

[2019-02-05 15:35] markuskappel opened #508 "Peer dependency "ask-sdk-model" version must be updated in ask-sdk-core"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

The version of the peerDependency ask-sdk-model in ask-sdk-core's package.json must be updated to ^1.9.0.

The version of ask-sdk-model in the

[2019-02-05 22:20] tianrenz commented on #508
Hi @markuskappel ,

Thanks for your input about this. In v2.3.0, we added support for adding `canfullfilIntent` to the `responseBuilder`. Such change requires the the ask-sdk-model > 1.9.0. However, since we are only using the type definition for development work, such dependency requirement would be added as the `dev-dependency`. I'll add this task to our work backlog.

However, when it comes to

[2019-02-05 22:39] falent opened #509 "Alexa doesn't recognize utterances and intents in alexa sdk v2"
I was working a long time with alexa sdk v1 and everything works. I change to sdk v2 and it looks strange :( I refactored my code and I can talk with alexa

``
    U: ask mySkill
    A: Hi, what is your name
    U: my name is monica
    A: nice to see you monica
    U: what is my gender?
    A: Your name is Monica and gender female
``
and it works as expected. But... When my user say somethong lik

[2019-02-05 22:43] tianrenz commented on #509
Hi @falent ,

ASK SDK doesn't have the ability to influence how Alexa resolves user utterances to your skill intent. It receives intent as it is and route it to your defined handler.

Could you verify that your skill is actually receiving the `ApiIntent` when there's a strange utterance being said? If you have cloudwatch logs, please attach them here. Normally, when user says some unrecognized int

[2019-02-05 23:39] falent commented on #509
Hi @tianrenz,

everything works. Sorry for my silly question. I needed to add FallbackIntent.

Thank you for your help :)

Best Regards,

[2019-02-05 23:39] #509 closed, assigned to nobody

[2019-02-05 23:53] tianrenz commented on #506
Hi @Srinivasb0 ,

It seems on this location `index.js:61:49` you are accessing an undefined object. Would you mind attach that part of code here for debugging purposes?

Regards

[2019-02-06 14:22] markuskappel commented on #508
Hi @tianrenz ,

not sure if I fully understand. ask-sdk v2.3.0 requires ask-sdk-core  v2.3.0 and ask-sdk-model: ^1.0.0 as a normal dependencies. That is why ask-sdk-model (v1.2.0 in my case) is in my node_modules. The presence satisfies the *peer* dependency of ask-sdk-core to ask-sdk-model: ^1.0.0 even thought I don't specified that dependency.

My project is written in TypeScript  and `tsc` fail

[2019-02-07 20:26] dgreene1 commented on #69
Thanks @tianrenz :)

[2019-02-08 15:07] richjdsmith commented on #359
This has since been removed for anyone who finds this thread whille looking for documentation on persisting data on Alexa.

[2019-02-12 10:17] SijiaDavis opened #510 "`ask diff` says both `skill.json` and `models/en-US.json` differ from the latest version"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I was running into `[Error]: The local stored [skill] eTag does not match the one on the server side.` when attempting to deploy. While checking

[2019-02-12 20:25] RonWang commented on #510
Hey @SijiaDavis ,

Thank you for the post and I think this is a very valid question.

Our consideration for "diff" is: we will tell users about version matching status (eTag match or not), and further, the content differences.
The first message, e.g. "Your skill.json differs from the latest version", is to tell you that the version is different so be careful if you deploy. The eTag mismatch will n

[2019-02-13 09:25] SijiaDavis commented on #510
@RonWang
I appreciate the prompt response, yes that makes sense, but I wonder if it's possible to explicitly state that the difference lays in the version, in terms of the content.

[2019-02-13 13:42] lekanoni20 opened #511 "ask-sdk issue when creating Reminders"
handlerInput.serviceClientFactory.getReminderManagementServiceClient is not a function

[2019-02-13 18:44] tianrenz commented on #511
Hi @lekanoni20 ,

Could you update your issue with the template?

We need information such as the version of ask-sdk-model you are using to identify the issue.

Regards,
Tianren Zhang

[2019-02-15 00:15] #436 closed

[2019-02-15 15:10] dgreene1 commented on #408
@tianrenz the solution you provided (https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/issues/408#issuecomment-397018053) only appears to work with non-dialog intents. When handler A returns the result of handler B (and in the case where handler B delegates) Alexa ends the session with this error: `Only updated intent of the same type can be sent with a \"Dialog.Delegate\" directive`.

Spec

[2019-02-15 19:23] tianrenz commented on #408
Hi @dgreene1 ,

Thanks for your support in SDK! 👍

Regarding your use case above, could you provide information to questions below:

1. does handler A also handle a intent request that is dialog enabled?
2. when handler B handles intent, how does it return delegate directive? When forwarding from A to B, B.handle method should modify the incoming request.

If you can attach some code snippet of ha

[2019-02-15 19:35] dgreene1 opened #512 "Types for Slot are incorrect"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

The d.ts files would have correct types for the slot values that reflect how they look with the raw JSON. For instance, a

[2019-02-15 20:37] dgreene1 commented on #408
Great questions, and I apologize for not producing a large code snippet first. And thank you for the speedy response.

No. Handler A has slots, but it does not require confirmation nor delegate. So I believe that makes it not a dialog. Sorry-- the terms are quite strange to me.

I'll show a code snippet below that demonstrates it how A calls B which delegates.

How might our code accomplish that?

[2019-02-15 21:17] tianrenz commented on #408
@dgreene1 ,  sorry I made a typo above.  it should be

For the event to be "dialog enabled", I meant if the intent or any of it's slots require elicitation or confirmation? Your handler B should only return a delegate directive in response to a request that requires above.

Regards

[2019-02-15 21:59] dgreene1 commented on #408
@tianrenz I am not modifying the input. The issue occurs when handlerB delegates and handlerA does not have any slots that require delegation.

A similar issue happens if handlerB calls `addElicitSlotDirective` for a slot that handlerA does not have.

A potential (but onerous) workaround is to make sure that handlerA has every slot that handlerB has. This is burdensome and error prone because our

[2019-02-18 07:57] krithi96sk opened #513 "How to access intent slot values using handlerInput in ASK-SDK v2"
I'm creating a basic calculator skill using ASK-SDK v2. I'm not sure how to get the slot values provided by the user into the Lambda code with the new version. I was able to make it work with the older version.

Conversation
User: Open calculate
Alexa: You can ask me to add, subtract, multiply and divide
User: Add two and three
Alexa: Sum of 2 and 3 is 5

Below is my IntentSchema

[code]

I'm addi

[2019-02-18 17:19] aishjain opened #514 "How to use .withAutoCreateTable(true) in ask-sdk2.0 such as to avoid creation of a dynamo db table every time i run the lambda function"
Basically I am using .withAutoCreateTable(true) in ask-sdk2.0 to create a dynamo db table in order to store the session attributes but every time i run the lambda function a db is created again and since the name remains the same it overrides the last one resulting in loss of data.Any solution would be helpful.Thank you!
PS-the question might seem a bit too naive but I ma new to it sorry for it

[2019-02-18 20:36] tianrenz commented on #506
Closing the issue due to inactivity. Please feel free to reopen if the issue persists.

Regards

[2019-02-18 20:36] #506 closed, assigned to nobody

[2019-02-20 00:01] tianrenz commented on #408
Hi @dgreene1 ,

Sorry for the delay in response. I think this is a common misunderstanding of "intent forwarding".

When we "forward" an intent from handler A to handler B. SDK doesn't really change the content of the original intent your skill receives. Handler B needs to return a response that's suitable for handling the original request.

For example, If handler A receives an intent that has tw

[2019-02-20 00:02] tianrenz commented on #483
Closing the issue due to inactivity. Please feel free to reopen if the issue persists.

[2019-02-20 00:02] #483 closed, assigned to nobody

[2019-02-20 00:05] tianrenz commented on #508
Hi @markuskappel ,

Thanks for your input in this. I'll record this info and include a fix in future releases.

Regards

[2019-02-20 00:06] tianrenz commented on #511
Closing the issue due to inactivity and insufficient information for investigation. Please feel free to open a new issue using our template if the problem persists.

Regards

[2019-02-20 00:06] #511 closed, assigned to nobody

[2019-02-20 00:12] tianrenz commented on #512
Hi @dgreene1 ,

Thanks for your input. I will bring this back to our team and discuss the fix.

Regards

[2019-02-20 00:16] tianrenz commented on #513
Hi @krithi96sk ,

Your code snippet above looks fine. Could you provide any error logs for this?

Regards

[2019-02-20 00:20] tianrenz commented on #514
Hi @aishjain ,

I tried with a test skill and was not able to replicate the issue. The table was only created the first time and any subsequent call will not recreate the table.

To facilitate the investigation, would you mind update the issue using our issue template and provide all the information on there?

Regards

[2019-02-20 07:45] krithi96sk commented on #513
Solved. It was a careless typo issue. I used resuestEnvelope instead of requestEnvelope.
I still get an error with addintent though, the others are working fine.
When I ask alexa to add two and three, she responds with "sum of 2 and 3 is 23"
I can't seem to find out where the logic has gone wrong.

[2019-02-20 17:12] tholu opened #517 "ask-cli clone fails with AccessDeniedException"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

When trying to clone an existing Alexa Skill, it fails with:

[code]

I have setup the IAM policy according to: https://developer.amazon.com/de/

[2019-02-20 17:29] tholu commented on #517
The problem seems to be less likely an "Access denied" kind of error, but more like an "Lambda function not found" error, as `ask lambda download` shows nothing to choose from.

When I look at my AWS Lambda console, there are no Lambda functions at all (despite deploying the skill and getting some Lambda function ID in the "Endpoint" menu on the Alexa Developer Console).

[2019-02-21 07:45] RonWang commented on #517
Hey @tholu

According to your description (since you can get the Lambda function ARN), are you first creating the Alexa hosted skill through website and trying to move your development to local using ask-cli?

If so, because the Lambda function for the hosted skill is actually owned by Alexa, you could not download it using your aws account. This is why you got the "Access denied" error.

For now

[2019-02-21 09:53] tholu commented on #517
@RonWang Thanks, this makes sense - it works for me this way now, `ask deploy` was successful. Would be good to add this to the documentation somewhere.

[2019-02-21 09:53] #517 closed, assigned to RonWang

[2019-02-21 13:35] #513 closed, assigned to nobody

[2019-02-22 09:29] krithi96sk opened #518 "DynamoDB table creation error using ASK-SDK v2"
I am a novice Alexa Skill Developer having issues migrating from v1 - v2.
My skill is to make Alexa remember where I have stored personal belongings using DynamoDB. It's basically like an inventory.

I'm using the ask-sdk standard package and node js 8.10

I used .withTableName('PlacesandThings') and .withAutoCreateTable(true) to create the table. Is this the right method? I'm pasting my Lambda ha

[2019-02-24 21:14] mkliu opened #519 "How to develop during certification?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

My skill is in certification phase, during this time I can't deploy changes. The process takes many days, what's the best practice for developm

[2019-02-25 07:55] RonWang commented on #519
Hey @mkliu

[ask-cli](https://developer.amazon.com/docs/smapi/quick-start-alexa-skills-kit-command-line-interface.html) has a solution towards this issue by using the profile for your skill project.

You can create a new profile, say you name it "dev", initiated with a different Alexa (Amazon) account and a different AWS account/user than the one you are using for your current skill (This will pro

[2019-02-26 23:53] tianrenz commented on #518
Hi @krithi96sk ,

From your code snippet above, it seems you are using the custom Skill Builder which doesn't have the ``withTableName()`` method. You can use the ``Alexa.SkillBuilders.standard()`` instead. For more information, you can check out this documentation [here](https://ask-sdk-for-nodejs.readthedocs.io/en/latest/Configuring-Skill-Instance.html).

Regards

[2019-03-01 06:42] rgjamkhedkar commented on #398
I am facing a similar issue.

For code `handlerInput.requestEnvelope.request.dialogState`, tsc gives error - `Property 'dialogState' does not exist on type 'PlaybackFinishedRequest'.`

`request` in `requestEnvelope` has this type
`interfaces.audioplayer.PlaybackFinishedRequest | events.skillevents.SkillEnabledRequest | services.listManagement.ListUpdatedEventRequest | events.skillevents.ProactiveS

[2019-03-01 15:33] richjdsmith commented on #359
@TianTXie , I don't suppose you have a custom implementation on an open project that I could look at, do you?

[2019-03-01 15:45] richjdsmith commented on #490
This would be greatly appreciated as it would allow usage of some other data item as a Global Secondary Index, which would be great for sorting purposes (game leaderboards, etc). I'm struggling to do this without building a custom adapter, which I'd prefer not have to do if at all possible.

[2019-03-03 08:51] mkliu commented on #519
Thanks for the reply @RonWang , this looks like a workable temp solution. thanks!

[2019-03-03 08:51] #519 closed, assigned to RonWang

[2019-03-03 08:54] mkliu opened #520 "Catalog associated with custom skill?"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Ask-cli allowed me to associate a catalog with my custom skill. But looks catalog isn't supported on custom skill? If so the cli should probably blocks this scenario to

[2019-03-03 11:14] nujcharee opened #521 "git pull"
Hi
I couldn't find anywhere in the documentation to get an equivalent of git pull on Alexa command line. please can you help?
Many thanks

[2019-03-04 20:12] tianrenz commented on #514
closing the issue due to inactivity. Please feel free to reopen if problem persists.

[2019-03-04 20:12] #514 closed, assigned to nobody

[2019-03-04 22:54] tianrenz commented on #512
HI @dgreene1 ,

In the latest ``ask-sdk-model`` [release](https://github.com/alexa/alexa-apis-for-nodejs/blob/master/ask-sdk-model/index.ts#L510), we've updated the ``value`` field to be optional. This should fix the incorrect typing definition as you mentioned above.

Closing the issue for now. Please feel free to reopen if the issue persists.

Regards

[2019-03-04 22:54] #512 closed, assigned to nobody

[2019-03-04 23:01] dgreene1 commented on #512
@tianrenz does that mean that this library will get a version bump and a yarn upgrade to include the model changes?

[2019-03-04 23:03] tianrenz commented on #512
Hi @dgreene1 ,

The changes are already released in the latest version v1.12.0

Regards

[2019-03-04 23:04] dgreene1 commented on #512
Thank you! I guess I should have installed GreenKeeper by now or something. You’re the best @tianrenz :)

[2019-03-04 23:05] tianrenz commented on #512
@dgreene1 Thanks for your support in ASK SDK. Please let us know if you have any more questions.

[2019-03-06 19:09] tianrenz commented on #518
Closing the issue due to inactivity. Please feel free to reopen if issue persists.

[2019-03-06 19:09] #518 closed, assigned to nobody

[2019-03-06 19:31] #472 closed, assigned to nobody

[2019-03-06 20:24] lekanoni20 opened #524 "AccessDeniedException Error when calling householdlist API Code 403"
Hi,
When I try to create a list, i am starting to get the AccessDeniedException Error 403 and this only recently started to happen. Below is the full error code i get when trying to run the test event in AWS Lambda,
  'x-amzn-errortype': 'AccessDeniedException:http://internal.amazon.com/coral/com.amazon.coral.service/',
  vary: 'Accept-Encoding,X-Amzn-CDN-Cache,User-Agent',
  'x-cache': 'Error fro

[2019-03-06 20:30] tianrenz commented on #524
Hi @lekanoni20 ,

Could you verify that your skill has enabled HoustholdList api option in the skill developer console? and also that you grant the permission in the skill page in the alexa app?

Would you mind updating your issue using our issue template [here](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/.github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md)? It will help investigate t

[2019-03-07 01:04] #481 closed, assigned to nobody

[2019-03-07 11:26] lekanoni20 commented on #524
If your talking about enabling the list read and write permissions in the skill developer console then yes i have. Also, the skill is still in development so it's not on the skill store yet. I'll use the issue template to elaborate on the issue.

[2019-03-07 11:47] lekanoni20 commented on #524
---
name: AccessDeniedException Error when calling householdlist API Code 403
about: Issue with householdlist api in SDK

---

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

When I try to cre

[2019-03-07 16:41] #524 closed, assigned to nobody

[2019-03-07 16:41] lekanoni20 commented on #524
Issue solved

[2019-03-07 17:48] RonWang commented on #521
Hi @nujcharee

This is a really good question so thanks for asking!
May I first know what's the reason you need this feature? What's the background when you need this functionality?

Thanks,
Ron

[2019-03-07 19:03] #508 closed, assigned to nobody

[2019-03-07 19:32] RonWang commented on #520
Hi @mkliu

Thanks for your post. Yes that's correct, catalog is not supported in custom skill, but you can still associate catalog with music skills. So far this is what this API is mostly used for. We will implement the validation in skill association to check if the skill is one of allowed skill types in SMAPI service, to avoid confusion.

Thanks,
Ron

[2019-03-11 13:18] nujcharee commented on #521
Hi Ron,
During my first alexa skill development I didnt know much what to do but I was familiar with git so naturally my thinking process was pretty much Git. I saw similar commands like `ask push` but there isnt `ask pull`. For example I might do some changes in Lambda and in the core skills part (the skill.json part), I changed codes in VS Code and I can see everything to do with the project but

[2019-03-17 20:31] davinci26 opened #527 "Testing & Debugging experience"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe:
</code></pre>

## Testing & Debug experience

I am not sure what are the debugging + code quality expectations for Alexa skills. There are various issues here.

[2019-03-19 18:23] jacobweber opened #528 "DynamoDbPersistenceAdapter -- can't await table creation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
If you pass createTable=true, DynamoDbPersistenceAdapter will create the table in its constructor using an asynchronous cal

[2019-03-19 20:25] jmeyers91 opened #529 "Ask CLI error deploying new unedited project"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Just got back to work on an Alexa skill I hadn't touched in a few months, but it wouldn't deploy, so I created a 'hello world' project with the

[2019-03-20 19:13] jacobweber opened #530 "Docs: SsmlUtils not documented"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
N/A

## Current Behavior
The [docs](https://ask-sdk-for-nodejs.readthedocs.io/en/latest/Building-Response.html#available-me

[2019-03-21 17:21] jmeyers91 opened #531 "Ask CLI fails to load AWS_ACCESS_KEY_ID from env variables"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

When I run `ask deploy`, I get this error:

[code]

Then I run `echo $AWS_ACCESS_KEY_ID` and it prints my access key id. I've set the access key

[2019-03-21 18:38] jmeyers91 commented on #531
It appears this bug was introduced in `ask-cli@1.6.2`. I'm able to deploy successfully with `ask-cli@1.6.1`.

[2019-03-21 20:48] jmeyers91 commented on #527
I'm also interested in this. One solution I've considered for testing is to manually pass custom payloads through the lambda handler. For example:

tests/handler.test.js

[code]

I haven't tried this yet. Unfortunately alexa events and responses are deeply nested and complicated, so most of the work here would probably be spent reverse-engineering the SDK to figure out how to structure the test ev

[2019-03-24 11:15] sebsto opened #532 "SDK 2.5.1 has inccorect type definition"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
My skill is receiving request like the below :

[code]

## Current Behavior

The above request can not be type cast to `Req

[2019-03-25 17:56] tianrenz commented on #530
Hi @jacobweber ,

Thanks for the tips. I will add a task to our backlog!

Regards

[2019-03-25 18:12] tianrenz commented on #528
Hi @jacobweber,

Thanks for your input! The decision to put the createTable call inside of the constructor is made out of several concerns.

First, ``DynamoDbPersistenceAdapter`` isn't used directly by the developer but used internally by the ``AttributesManager``. And since ``AttributesManager`` interface is generic, the underlying storage solution might not support a table creation operation, we

[2019-03-25 18:28] jacobweber commented on #528
Ah, didn't realize it returned "success" before it finished creating the table.

In theory, it could still be useful to have a createTable function, even if it's not part of the interface. Your application knows the type of adapter object it's using, since it creates it, so it could take advantage of additional methods that aren't part of the interface. But unless there's also a method that tells

[2019-03-25 18:35] tianrenz commented on #528
Thanks for your input! I'm closing the issue for now. Please feel free to open new issues if you encounter other problems.

Regards

[2019-03-25 18:35] #528 closed, assigned to nobody

[2019-03-25 23:16] RonWang commented on #531
Hi @jmeyers91

Thanks for reporting!

This issue has been fixed in v1.6.5 release. It was introduced back in v1.6.2 so please upgrade your CLI to unblock.

Best regards,
Ron

[2019-03-25 23:22] RonWang commented on #510
Hey @SijiaDavis

We just released ask-cli@v1.6.5 where the diff command has been enhanced to display the diff result by version diff and content diff. CLI will display content diff only when the diff contains a meaningful comparison file for each line. Please check it out and let us know if that solves the confusion that you met.

Best,
Ron

[2019-03-26 04:40] RonWang commented on #521
Hi @nujcharee ,

From your description, I think you really enjoy the developer experience using CLI, where you can concentrate on your VSCode skill project for development.

And to answer your question: similar to "git diff", you can really try to use "ask diff" command to see what's changed based on your local skill project. This command compares the local project with server version of the skill

[2019-03-26 04:48] RonWang commented on #529
Hey @jmeyers91 ,

Thanks for the post! I tried to reproduce this issue, but the skill template works correct for me. Because this error message is from AWS Lambda client when you attempted to retrieve the Lambda function, could you check if you AWS credential is set correctly? Could you check if your ~/.aws/credentials file is same format as mentioned in https://docs.aws.amazon.com/ses/latest/Deve

[2019-03-27 00:12] juliaqiuxy opened #533 "Certificate check fails when requests originate from the Alexa Developer Console"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

Certificate check should pass when valid regardless of where requests originate from i.e. Alexa Developer Console or a phy

[2019-03-28 10:16] greglak opened #534 "Intent Chaining Feature Passing one Slot value to another Intent holding two Slots"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
When using the newly released Intent Chaining between Intents with a different number of slots, I would like to pass the sl

[2019-03-28 14:02] 20chix commented on #534
Similar issue here, any advice ?

[2019-03-28 15:49] evisat commented on #534
I'm having similar issues If anyone has some suggestions, please.

[2019-03-29 20:36] tianrenz commented on #533
Hi @juliaqiuxy ,

Since you are using alexa-verifier  to handle request validation, it's likely that the problem comes from their part. Would you mind to open an issue on their github repo while we are investigating this issue?

Currently we have an open issue #434  tracking the feature request for validating request URL, signature, etc.

Regards

[2019-03-30 03:27] juliaqiuxy commented on #533
@tianrenz Thanks. Created an issue, mreinstein/alexa-verifier/issues/64, on alexa-verifier as well.

[2019-03-30 13:03] anadaz commented on #527
This is what I do for testing lambda locally:

- Install this npm package https://www.npmjs.com/package/lambda-local
`npm install -g lambda-local`

- Capture all requests json from developer portal (launch, all intents, stop or cancel), save each in a separate file
-  run this command in terminal or create npm script
`lambda-local -l ./lambda/custom/index.js -h handler -e ./lambda/custom/debug/lau

[2019-04-01 13:51] dillonharlessNHRMC commented on #387
@tianrenz This. Is. Great. I feel like I've scoured the web looking for this information... Is this in the documentation? Did I just overlook this?

[2019-04-01 14:57] dillonharlessNHRMC commented on #387
@tianrenz Thanks a lot for this, it helped me understand the documentation better. My situation is basically the exact same as @nisaromron , and I'm wondering... regarding your suggestion to @nisaromron, when migrating to V2 handlers, can you keep both the LaunchRequest and NewSession handlers?

My train of thought to make it work:

in the canHandle function for Launchrequest just check to see if

[2019-04-02 18:33] dillonharlessNHRMC opened #537 "Response builder returns null when called separate file?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe:
</code></pre>

## Expected Behavior
I would expect the responseBuilder to speak back to Alexa no matter where it is called, as long as it's
surrounding functi

[2019-04-03 01:37] #531 closed, assigned to RonWang

[2019-04-03 05:36] RonWang commented on #510
Close this issue. Please feel free to re-open if you still have question!

[2019-04-03 05:36] #510 closed, assigned to RonWang

[2019-04-03 19:50] #532 closed, assigned to nobody

[2019-04-03 19:51] tianrenz commented on #530
Hi @jacobweber ,

We've added documentation for all ASK SDK utilities in the latest [commit](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/commit/884a904979bc23db217b4f06acd946ecec006a01)! Closing this issue for now. Please feel free to reopen if problem persists!

Regards

[2019-04-03 19:51] #530 closed, assigned to nobody

[2019-04-05 02:59] davinci26 commented on #527
I ended up using the [bespoken virtual-alexa framework](https://github.com/bespoken/virtual-alexa) for testing purposes.

Still I would love to see what is the Alexa-team recommendation on the subject. Basically I would love to see what the team that developed SDK considers best practices in terms of skill development. :)

[2019-04-08 21:16] RonWang commented on #521
Closing this issue. Please feel free to reopen if you have any further question!

[2019-04-08 21:16] #521 closed, assigned to nobody

[2019-04-08 21:17] RonWang commented on #529
Closing this issue. Please feel free to reopen if you have further question!

[2019-04-08 21:17] #529 closed, assigned to RonWang

[2019-04-08 22:48] jmeyers91 commented on #529
Sorry didn't get around to responding about this. Updating the ASK CLI to `1.6.5` seems to have fixed this issue, but I'm still running into some AWS credential issues. My `~/.aws/credentials` file looks like this:

[code]

My `~/.zshrc` includes the same credentials as env variables:

[code]

I can also echo these env variable credentials:

[code]

And I'm guessing the ask CLI doesn't load them,

[2019-04-09 16:11] gavinr commented on #306
I am getting this error too - would be nice if escaping automatically were an option. `ssml-builder` library does not appear to be maintained.

(PS - related/duplicate of #25 and https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/issues/472#issuecomment-459779174 ?)

[2019-04-09 16:19] nikhilym commented on #306
Hey @gavinr , @dealancer ,  #522 added support for auto-escaping XML characters feature in the SDK. Does this align with the use-case you were trying? If not, please feel free to open a new issue on the repo so that we can investigate into it further.

[2019-04-09 16:57] gavinr commented on #306
@nikhilym Thank you for pointing me to that PR. It looks like that does solve my problem! Note that in [v2.5.1](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/CHANGELOG.md#251-2019-03-08) the behavior of that PR [was removed from being default](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/commit/31ce953), so as a developer we have to call that [utility method](http

[2019-04-09 17:09] gavinr commented on #25
As of 2019, if you're not using `ssml-builder`, you can use the [ssmlUtils.escapeXmlCharacters() utility method](https://ask-sdk-for-nodejs.readthedocs.io/en/latest/ASK-SDK-Utilities.html#ssmlutils). ([more info](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/issues/306#issuecomment-481334973))

[2019-04-10 03:39] hideokamoto commented on #537
Hi.
Could you share your code in the ticket?

The responseBuilder will not return any object without calling `getResponse()` method.

## Show the response JSON
[code]

## Not show the response JSON
[code]

[2019-04-10 12:08] dgreene1 commented on #246
I’d settle for some simple clear documentation because at the moment I can’t even find an API spec for the calls I assume I have to make to set notifications. That link provided above by @TianTXe has a sequence diagram but there are no technical information on how to implement those calls.

[2019-04-11 13:54] TheDreamSaver opened #539 "Slot Validations with Manual Dialog Delegation Doesn't Work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Slot Validations with Manual Dialog Delegation Doesn't Work

## Expected Behavior
1. I have an intent with three slots, all required.
2. All slo

[2019-04-12 11:21] TheDreamSaver commented on #539
Update - This issue has been observed when I use custom slots and the "Accept only Slot Type's values and synonyms" validation, but works well in case of built-in slot and accept only/reject only a set of values.

[2019-04-13 22:41] TheDreamSaver opened #540 "Dialog Management Doesn't Accept Values for Manual Validation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

The Dialog Management doesn't accept values being reset after manual validation of slot values.

## Expected Behavior

My use case is asking the

[2019-04-15 15:36] dillonharlessNHRMC commented on #537
This was a typo on my part, we can close it. I missed a return statement.

[2019-04-15 15:36] #537 closed, assigned to nobody

[2019-04-17 09:14] aishjain opened #542 "I am trying to learn how to migrate a SDK1 code to SDK2, using the ask-sdk-v1adapter , i am getting TypeError: Cannot read property 'locale' of undefined or module initialization error: TypeError. I have used a simple Hello world program but still no success. I used the same hello world program as used in the example just the difference is that the handler given in sdk2 format is HelloWorldIntentHandler, here is the code"
[code]

[2019-04-18 05:17] hideokamoto commented on #542
What versions are you using for?

Node.js:
ask-sdk:

[2019-04-18 06:54] aishjain commented on #542
node js- 8.xx
ask-sdk- 2.5.1

[2019-04-18 07:23] hideokamoto commented on #542
Thanks.
I've tried your code in my Hosted Skill, but it works.

This code is everything?

[2019-04-18 07:25] aishjain commented on #542
ya...this is all and then just alexa skill on the console, an intent named HelloWorldIntent

[2019-04-18 15:29] #542 closed, assigned to nobody

[2019-04-21 17:23] edwincarbajal commented on #359
Thank you! This saved me 🙌

[2019-04-25 14:39] dillonharlessNHRMC opened #545 "Alexa invokes intent with certain slot values but not others?"
## I'm submitting a...

[x ] Bug report

I have an intent that should be invoked on 'yes', 'no', or 'repeat'. On 'no' and 'repeat' it works absolutely perfectly. On 'yes', i get an error. Then I check Cloudwatch and it says it couldn't find a suitable handler. However, when I test in Lambda with 'yes' in the value of the slot, it works perfectly.
## Expected Behavior

Intent should be invoked and

[2019-04-25 16:08] dillonharlessNHRMC commented on #545
Okay so I got it working after I edited the directive. This got it to work.

[code]

I assumed that if I put the value in there it would automatically set it to yes which is not what I want... but for some reason it waits for user input. Can someone tell me why this is?

Thanks a lot.

[2019-05-02 21:51] syberkitten commented on #398
Having the same issue.

[2019-05-07 17:06] reflexdemon commented on #505
Any update on this issue?

[2019-05-08 23:01] ShenChen93 commented on #545
Hi @dillonharlessNHRMC

Sorry for responding late. I am trying to reproduce the problem you met by using the intent and slots you provided. However, for my test code, the yes utterance can correctly mapped to RoundingVerifyIntent. Even I add AmazonYes intent to my skill, the custom intent always has the priority to be consumed. I wonder if you can provide me with the JSON input to your lambda when

[2019-05-09 23:58] ShenChen93 commented on #539
Hi @TheDreamSaver

Sorry for reponding late and thanks for posting this issue. We do observed this problem, although slot value is set to a correct value manually, the validation will be invoked. This is not caused by SDK, I have reached out to internal service team.  Will notice you once we got their reply.

Thanks,
Shen

[2019-05-10 00:10] ShenChen93 commented on #540
Hi @TheDreamSaver

Thanks for posting this issue. Your use case seems reasonable. However, there's nothing we can help from SDK side, so I reached out to internal service team to see if they can provide any solutions for this case.

Thanks,
Shen

[2019-05-10 11:07] dillonharlessNHRMC commented on #545
@ShenChen-Amazon Hey, Shen. Thanks for responding. Unfortunately I didn't save a version of the code that wasn't working... It was just strange that without eliciting the slot directly, it wouldn't understand 'yes'. However, since it's working now, I think we can close this and I may open another issue about my further, not-exactly-related questions.

Thanks again!

[2019-05-10 17:19] ShenChen93 commented on #545
Hi @dillonharlessNHRMC ,

Thanks for updating. Close this issue for now. Please feel free to reopen it if you meet similar problem again.

Shen

[2019-05-10 17:19] #545 closed, assigned to ShenChen93

[2019-05-16 07:18] TommyBs opened #548 "ReminderManagerServiceClient.deleteReminders() is not a function"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
Calling

[code]

should delete all reminders. But it actually throws an error that deleteReminders() is not a function ye

[2019-05-16 20:33] nikhilym commented on #548
Hey @TommyBs , thanks for getting this to our attention. This is a documentation issue in our SDK docs. You can check on the [Reminder Management API Reference developer doc](https://developer.amazon.com/docs/smapi/alexa-reminders-api-reference.html) that there is no such API `delete Reminders` available for use. We will update our docs to get this removed.

[2019-05-16 20:46] #548 closed, assigned to nobody

[2019-05-17 12:38] StefanV85 opened #550 "AWS CodeCommit not compatible to Alexa ASK CLI"
Hello
The AWS CodeCommit Repositorys doesn't have an URL which ends with ".GIT"
e.g.
`https://git-codecommit.eu-west-1.amazonaws.com/v1/repos/XXXX-Alexa-Template`

Unfortunately in the ASK CLI is a Check that a Valid GIT URL must end with .GIT
Its in ask-cli\lib\utils\url-utils.js    Method: isUrlWithGitExtension

If i modify this check, the ASK CLI works very fine with CodeCommit Repositorys.
e.g

[2019-05-19 20:51] kenroyandfamily opened #551 "Viewport no longer available in requestEnvelope"
Until a couple of weeks ago I was getting the device's display size (e.g. pixelWidth) via:

handlerInput.requestEnvelope.context.Viewport.pixelWidth

But "Viewport" is now undefined.

If it is no longer available, then how does one get the screen size of a device?

[2019-05-20 21:27] RonWang commented on #550
Hi Stefan,

Thanks for posting your usage over this command, I think it's a valid use case. We will investigate how to accept a broader range of URL inputs as well as keeping it secure.

Thanks,
Ron

[2019-05-21 11:01] naraenmd opened #552 "TypeError: Cannot read property 'locale' of undefined"
Hi guys, can anyone help me with this issue

2019-05-21T09:47:51.281Z7b9825eb-7e05-4494-8980-6e6661cf13ef
[index.js.zip](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/files/3202169/index.js.zip)
TypeError: Cannot read property 'locale' of undefined
at Adapter.execute (/var/task/node_modules/ask-sdk-v1adapter/dist/adapter.js:126:42)
at handler (/var/task/index.js:404:7)

[2019-05-24 15:15] jakerye opened #553 "Add example for updating dynamic entities outside of launch intent"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I want to update dynamic entities from a non-launch intent.

## Expected Behavior

What I really want is:
  1. (User) "Alexa, ask Board Game Bot

[2019-05-27 15:51] GitRaghu2019 commented on #485
How to update ask-sdk-model? I have similar code to fetch email address but after  below statement const upsServiceClient = serviceClientFactory.getUpsServiceClient(); there are no logs.
cloud watch logs are not giving any hint.

[2019-05-29 06:33] hideokamoto opened #555 "Can not retrieve my ISP products from serviceClient"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

I've made curl command to get expected response.

[code]

I think we can get same props by the following command.

[code

[2019-05-29 06:35] hideokamoto commented on #552
Will you check the skill request?
eg). `console.log(event)`

[2019-05-29 07:30] naraenmd commented on #552
yes @hideokamoto . Why am I facing this issue?any ideas please

[2019-05-29 11:44] jimenaCabrejas commented on #406
Hi,

Do you know if this solution should work on the Amazon Alexa Android App? I tried @tianrenz example skill but I got the problem described above. It waits for 3 seconds then says this is a test speech and hello world just after each other.

Thanks and regards

[2019-05-29 13:26] syberkitten opened #556 "Unable to make HTTP request to api.amazonalexa.com from lambda"
Hi

Using the Alexa simulator, and an actual device.

a skill times out when ever calling this method, sample:
`
upsServiceClient: services.ups.UpsServiceClient = serviceClientFactory.getUpsServiceClient()
phoneNumber = await upsServiceClient.getProfileMobileNumber()
`
no exception, just after 6 (or X) seconds of timeout the skill returns:
`There was a problem with the requested skill's response`

[2019-05-29 21:09] broadhu2 commented on #553
Not sure if it's possible (if you're eliciting a slot in the other intent). I tried the following workaround using a [response interceptor](https://ask-sdk-for-nodejs.readthedocs.io/en/latest/Processing-Request.html#request-and-response-interceptors) to add the "Dialog.UpdateDynamicEntities" directive to the original response (which already has a "Dialog.ElicitSlot" directive), but I got an error

[2019-05-30 02:01] hideokamoto commented on #552
I'm no longer using alexa-sdk and v1-adapter.
But i think we need to check the request parameters.

Will you add `console.log()` like this?
You can check the entire request log in your CloudWatch Logs console.

[code]

[2019-05-30 02:06] hideokamoto commented on #556
The error code is `"type":"INVALID_RESPONSE"`.
So I think the issue might be in response object.

Could you check the response object by using the response interceptor ?
In my case, I always add the following interceptor in my skill.

[code]

[2019-05-30 19:54] harristom opened #558 "S3 delete persistent attributes not working"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

I set/save some persistent attributes, then delete them

## Current Behavior

Could not delete item (x) from bucket (y):

[2019-05-30 23:36] hideokamoto commented on #558
The `deleteAttributes()` method is available in grater than 2.4.0.
You should replace your package.json like this.

[code]

[2019-05-31 09:17] harristom commented on #558
Tried that but still getting the same error. The method definitely exists
because the error I get is that I don't have access to the item in S3.

On Fri, 31 May 2019 at 01:36, Hidetaka Okamoto <notifications@github.com>
wrote:

[2019-06-02 13:07] harristom commented on #539
I'm having the same problem, is there any news on this?

[2019-06-02 14:07] syberkitten commented on #556
Thanks for the lead.

I've tried different request libraries, such as:
`request-promise`
`request-promise-native`
and
`request`

locally when testing everything works and I'm getting a result from:
https://api.amazonalexa.com/v2/accounts/~current/settings/Profile.mobileNumber

Yet when this is run from within a lambda,
the promise looks to be lost.... there is NO continuation of the code
after the

[2019-06-02 15:36] syberkitten commented on #556
This is a non issue, the problem was a network restriction.

[2019-06-02 15:36] #556 closed, assigned to nobody

[2019-06-04 18:57] jacobweber opened #559 "Provide function for escaping rich text"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

It would be useful to have a utility function for escaping rich text, for constructing strings to pass into `Alexa.RichTextContentHelper.withPrim

[2019-06-07 22:02] ShenChen93 commented on #551
Hi @kenroyandfamily ,
Sorry for responding late. I tested my hello world skill on aws lambda, by console.log(handlerInput.requestEnvelope.context.Viewport.pixelWidth), I can correctly get the right value. Please let me know if the problem still exist.

Thanks,
Shen

[2019-06-07 22:14] ShenChen93 commented on #539
@harristom  The teams are currently looking into this. I will update the thread once we receive some info.

[2019-06-07 22:31] kenroyandfamily commented on #551
The problem still exists.  I am also testing using aws lambda and console.log.  When I log "handlerInput.requestEnvelope.context" there is no "Viewport" at all.  And it is not just me, my beta-testers see the same thing.

This is what "context" logs as:

context:
{ AudioPlayer:
{ offsetInMilliseconds: 180880,
token: '742620957',
playerActivity: 'FINISHED' },
System:
{ application: [Object],
user:

[2019-06-07 22:35] ShenChen93 commented on #551
@kenroyandfamily May I know what sdk version are you using?

[2019-06-07 23:22] kenroyandfamily commented on #551
version 2.5.2

[2019-06-10 05:31] hideokamoto commented on #558
Well...
Is the item not empty?
Probably, some S3 API throws `Access Denied` error when the item not found in the S3 bucket.

Could you run the following code to reproduce the issue?

## First test
The code will create an S3 object before deleting the object.
So It will work well.

[code]

## Second test

The example will throw an Error from `getPersistentAttributes` method.
Because the user's S3 o

[2019-06-10 14:46] franklin-lobb commented on #558
I tried this and found the function through the error when using Hosted Skills, and did not throw an error if the function was running in my own AWS account.

[2019-06-10 16:52] baileytincher opened #560 "Use with Proxy"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Many organizations can only use CLI tools like this through their internal proxy. Currently there is no documentation on how to do this, while t

[2019-06-10 17:49] ShenChen93 commented on #551
Hi @kenroyandfamily,
The viewport property is originally inside the alexa request(context object). From SDK side, we just clone the context object and add it to handlerInput. Therefore, I guess the reason for your problem is the alexa request send to your skill lambda doesn't include viewport information.  From our doc: https://developer.amazon.com/docs/alexa-presentation-language/apl-viewport-cha

[2019-06-11 03:33] hideokamoto commented on #558
How do you create the adaptor?
In Hosted skill, we need to set the `process.env.S3_PERSISTENCE_BUCKET` param to bucketName.

[code]

[2019-06-11 05:28] franklin-lobb commented on #558
Within the Alexa-hosted environment, you set `bucketName` to the S3_PERSISTENCE_BUCKET value which is set by the Alexa-hosted environment to your S3 bucket name.  To create the adapter outside of the Alexa-hosted environment, set `bucketName` to the name of the bucket you want to store the data in (ensuring the function execution role has appropriate access to the bucket).

[2019-06-11 07:41] ShenChen93 commented on #555
Hi @hideokamoto,
Thanks for posting this issue. I created a new skill and tested it following the way you mentioned above, and I can get the correct responses from both curl way and SDK serviceClient way. Therefore, I want to collect more info to help me narrow down the problem. So, when you create the custom skill, what apiClient did you provide to SDK? Are you using the DefaultApiClient from ask

[2019-06-11 22:57] ShenChen93 commented on #558
Hi @harristom @franklin-lobb ,

Thanks for reporting this bug. I reproduced the error you mentioned, but it's not our sdk side problem. Therefore, I need to reach out to host skill team to figure it out. Will inform you once I got their response.

Thanks,
Shen

[2019-06-11 23:28] ShenChen93 commented on #558
The service team started their work on this issue. Will update here once they fixed it.

[2019-06-12 09:05] germanviscuso opened #562 "Add ASK SDK Utilities code snippets to the SDK documentation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

There are no code snippets so developers can see how to use ASK Utilities in this page https://ask-sdk-for-nodejs.readthedocs.io/en/latest/ASK-S

[2019-06-12 09:19] piqueen314 opened #563 "Custom Slot Type UI Does not save Alexa speech prompts or User utterances"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

If I create a Slot Type using the UI that auto generates the JSON code for the interaction model, in the section Slot Filling the Alexa speech

[2019-06-12 18:11] ShenChen93 commented on #562
Hi @germanviscuso ,

Thanks for reporting this problem and providing good materials. I have reached out to docs team to work on it.

Thanks,
Shen

[2019-06-12 19:31] ShenChen93 commented on #563
Hi @piqueen314

I tested the UI with my own skill but didn't find the same problem. All the texts I put in the text boxes are saved correctly after I clicked the + button. Could you please try re-login and see if the problem still exist ?

Thanks,
Shen

[2019-06-14 22:15] #562 closed, assigned to ShenChen93

[2019-06-15 12:58] kenroyandfamily commented on #551
I attempted to upgrade to the next version, but made some mistakes and had to back out.  Now the skill is getting the ViewPort property.  Not sure why.  Perhaps reseting the SDK locally cleared out any bit flip that may have occurred during development?  Just one of those weird things that happens with no reasonable explanation.  Gremlins!?  Thanks for your help :-)  BTW, I'm not quite sure how to

[2019-06-17 04:27] ShenChen93 commented on #551
Interesting, maybe the version2.5.2 is not well installed in the beginning? Anyway, glad you solve this probelm. I will close this issue, please feel free to reopen it when similar issue happen again.

[2019-06-17 04:27] #551 closed, assigned to ShenChen93

[2019-06-18 16:49] jbfitb commented on #231
Is there a way of knowing the device type in a skill? Like knowing that the request came from a Bose headphones vs an Echo show?

[2019-06-19 18:28] ShenChen93 commented on #558
@harristom @franklin-lobb

I think this issue has been fixed already. Could you please try and see if the problem still exist ?

Thanks,
Shen

[2019-06-19 18:31] ShenChen93 commented on #555
Hi @hideokamoto Just want to follow up. Are you still having this issue ?

[2019-06-19 20:25] ShenChen93 commented on #539
@TheDreamSaver @harristom

Thanks for your patient. The service team's reply is the validation will always be triggered if slot validation is enabled. Similar issue is reported in python sdk https://github.com/alexa/alexa-skills-kit-sdk-for-python/issues/85.  The service team is looking for more information from the developers regarding this. It would be great if you can vote for this feature [her

[2019-06-19 20:25] #539 closed, assigned to ShenChen93

[2019-06-19 21:07] ShenChen93 commented on #563
Close this issue for now. Please feel free to reopen it.

[2019-06-19 21:07] #563 closed, assigned to ShenChen93

[2019-06-19 22:32] ShenChen93 commented on #540
Hi @TheDreamSaver

Thanks for your patient and sorry for getting back to you late. Do you still have the problem ? I create a similar test skill just like the one you described above. In the inprocessHandler, I set city value to null and alexa will ask user for it again. Here is my code:
[code]

[2019-06-20 00:37] ShenChen93 commented on #552
@naraen1117

Sorry for responding late. Have you tried to log the event just like hideokamoto mentioned. It would be great if you can paste the event logs here, so we can use that to narrow down the problem.

Thanks,
Shen

[2019-06-20 17:58] ShenChen93 commented on #558
Close it for now, please feel free to reopen it if the problem still exist.

[2019-06-20 17:58] #558 closed, assigned to ShenChen93

[2019-06-21 02:25] mInzamamMalik commented on #246
any update?

[2019-06-24 09:14] tamerbak commented on #246
Any update on this feature ?

[2019-06-24 11:46] chearmstrong opened #565 "TypeError: Cannot read property 'apiConfiguration' of undefined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe:
</code></pre>

I'm trying to get the device temperature unit, using `getSystemTemperatureUnit`. However, I'm getting the following error:

`TypeError: Cannot r

[2019-06-24 12:13] chearmstrong commented on #565
OK, I think I resolved it myself.

Looks like it doesn't like the destructuring of the object for `serviceClientFactory.getUpsServiceClient()`. So this works:

[code]

[2019-06-24 12:13] #565 closed, assigned to nobody

[2019-06-24 16:13] chearmstrong opened #566 "JSDoc is wrong for `getSlotValue`"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Hi.

The JSDoc is wrong on the `getSlotValue` function:

https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/4941344aa62b84895b560f495

[2019-06-24 22:14] ShenChen93 commented on #566
@chearmstrong

Thanks for reporting this issue. Will fix it soon :)

[2019-06-24 22:43] #566 closed, assigned to ShenChen93

[2019-06-25 09:38] nephisto1954 commented on #485
Don't know if that may help but looking at the email permission, shouldn't it be `alexa::profile:email:read` instead of `alexa::profileemailread` ?

[2019-06-25 18:07] TheDreamSaver commented on #540
Can you share your interaction model as well, so that I can try it out?

[2019-06-25 21:26] ShenChen93 commented on #540
Sure. I paste my sample skill here. Let me know if there's differences between yours and this skill, so I can better reproduce the problem you meet.
[code]

[2019-06-27 00:12] ShenChen93 commented on #534
@greglak @20chix  @evisat

Sorry for responding late. Are you still having this issue right now ? I have a skill with an intent which requires three slots. And I use the intent chaining feature in my Launch request and fill one slot. Then Alexa will prompt the rest two slots without any issue. If this issue do exist in your skill, could you please provide the interaction model so I can better repr

[2019-06-27 11:28] hideokamoto commented on #555
I’m sorry to late.
I always to use DefaultAPIClient and custom skill builder like this.

[code]

[2019-06-27 19:55] greglak commented on #534
Apologies for not updating this thread, the case has been solved with this suggestion from the Amazon Support Team:

- handler:
[code]

- interaction model:
[code]

example of interaction:
User: i have a color
(platform autodelegates to elicit slot in first intent)
Alexa: what color first intent?
U: blue
(skill hit (with dialogState COMPLETED) in first intent: skill delegates to second intent fill

[2019-06-27 19:55] #534 closed, assigned to ShenChen93

[2019-06-28 16:08] germanviscuso commented on #453
We now have slot validation that you can define in the voice interaction model. For those reading here's more info: https://developer.amazon.com/docs/custom-skills/validate-slot-values.html

[2019-07-01 20:21] ShenChen93 commented on #552
Close for now, please feel free to reopen

[2019-07-01 20:21] #552 closed, assigned to ShenChen93

[2019-07-01 21:07] ShenChen93 commented on #527
Hi guys,

Thanks for your patient. We have already noticed that the current testing experience is not user friendly, and we will improve it for sure. Thanks for posting this issue :) Closed this issue for now

[2019-07-01 21:07] #527 closed, assigned to RonWang

[2019-07-03 08:58] refatalsakka commented on #122
solution???????

[2019-07-03 19:18] xuaninbox opened #568 "Alexa Presentation Language and Activity Log"
After switching from Display Interface to APL it no longer shows up in the Activity Log page in the app (You can still find it in the Voice History). Is there a way to use Display Interface with APL?

[2019-07-04 12:15] radinet-zoe opened #569 "Is it possible to not install Python for Alexa?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

As title, I want to know if Alexa

[2019-07-08 17:05] ShenChen93 commented on #569
Hi @radinet-zoe

Are using the avs-device-sdk(https://github.com/alexa/avs-device-sdk) or alexa-skills-kit-sdk-for-nodejs(https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs) ? If you are using the avs-device-sdk, maybe it's not the right place to post this issue :). If you are using our sdk, we don't have any dependencies on Python.

Thanks,
Shen

[2019-07-08 17:37] ShenChen93 commented on #568
Hey @xuaninbox

I turned on the APL interface on developer console, and test my skill. All the activities are displayed well in my app's activity log. Did I miss something cause with current info you provided, I cannot reporduce your issue. One more thing I need to check, while writing your lambda function, do you add withSimpleCard option in response builder? Since without card info in response,

[2019-07-08 22:23] xuaninbox commented on #568
Hey @ShenChen-Amazon Yes I did remove withSimpleCard, does this mean the Display Interface can be used with APL and APL takes priority?

[2019-07-09 20:00] ShenChen93 commented on #568
Hi @xuaninbox

I tried to use the display interface and APL at the same time, and APL content shows with priority. However, since SDK doesn't manage the priority, it would be great if you can post your question on https://forums.developer.amazon.com/spaces/165/index.html and get help from Alexa support team..
Closed this issue for now and please feel free to reopen it if you have any concerns.

Th

[2019-07-09 20:00] #568 closed, assigned to ShenChen93

[2019-07-09 20:12] ShenChen93 commented on #555
@hideokamoto

Sorry for responding late. It's really weird behavior, and I cannot reproduce this issue. Therefore, I need to reach out to service team to figure it out. Could you please provide your requestEnvelope so we can get required customer info.

Thanks,
Shen

[2019-07-09 22:22] spham opened #570 "audio player not start"
hi

i try this without success for play a single audio file ,in test

[code]

i see this

[code]

and also, when i change

[code]

![Screenshot at juil  10 00-21-04](https://user-images.githubusercontent.com/1083631/60927026-a6505a00-a2a8-11e9-878c-b0ae9f6f6ddc.png)

can you suggest a quick curse for make a audio player ?

[2019-07-09 22:28] rmtuckerphx commented on #570
Just trying the URL in the browser, I get an Access Denied. That means that the item in the S3 bucket is not public. The audio file must be publicly accessible.

[2019-07-09 22:36] spham commented on #570
i have replace for url https://pham.es/sap/osemaine.mp3 @rmtuckerphx

[2019-07-09 22:47] rmtuckerphx commented on #570
I see that the file is 48kbps and 16000Hz so that is fine.

There are 2 forms of audio: short form is 240 seconds or less and long form is longer. The SSML audio tag only accepts audio that is short form. So the problem could be that the audio is too long. If that is not it, maybe changing the audio from stereo to mono.

If you want to play long-form audio, you need to use the audio player and not

[2019-07-09 23:00] spham commented on #570
ok
but i have same issue with https://pham.es/sap/oweek.mp3 < 240 s @rmtuckerphx

[2019-07-10 04:55] spham commented on #570
I check exemple but it seems not clear

[2019-07-11 07:16] iamartificialhuman opened #572 "Alexa Device Serial Identification with Lambda Skill query from AVS server"
Hello AVS Team,

We have a project where in AVS is enabled on multiple devices having unique serial id. As per our business requirement, we have enabled custom alexa skill which can be used to get status and control certain features in these devices.

Now as per our design of solution, we need to identify, a way as to which device was used by the user to invoke our custom skill. We looked into pos

[2019-07-11 20:53] ShenChen93 commented on #572
Hi @iamartificialhuman ,

I want to make sure the sdk you are using is avs-device-sdk right? If so, it might be the wrong place to post this issue. Here is the github link for avs sdk (https://github.com/alexa/avs-device-sdk), it would be great if you can re-post this issue there. Let me know if you have any problems.

Thanks,
Shen

[2019-07-12 06:29] iamartificialhuman commented on #572
Hello Team,

I  already raised a issue in avs-device-sdk and they suggested to raise here only.

**Below are the comments from amazon team(avs-device-sdk) :**

The avs-device-sdk does share the Device's serial number with the AVS server as part of authentication using the CBLAuthDelegate. However, I am not sure if it is exposed on the lambda.

Since this is a specific question regarding alexa-skil

[2019-07-12 07:11] ShenChen93 commented on #572
Hi @iamartificialhuman

So you are looking for an unique ID for each device right ? If so, you could retrieve the device Id from lambda function. You can get it by context.System.device.deviceId. If you use our sdk, it is wrapped in the handlerinput, you can get it through handlerInput.requestEnvelope.context.System.device.deviceId. Let me know if this is the thing you are looking for.

Thanks,
Sh

[2019-07-12 11:59] iamartificialhuman commented on #572
Yes I are looking for an unique ID for each device just after skill enable(before invoking my skill for first time).
Is there any service or way to get this device id by using access token or authorization code or anything else?

[2019-07-12 20:03] ShenChen93 commented on #572
@iamartificialhuman

From our SDK, it's the only way we can get the device Id. It would be great if you can post this issue on our community(https://forums.developer.amazon.com/spaces/165/index.html), alexa support team will help you with that. Close this issue from our side for now. Please feel free to reopen if you have any questions.

Thanks,
Shen

[2019-07-12 20:03] #572 closed, assigned to ShenChen93

[2019-07-15 20:24] ShenChen93 commented on #569
Closed this issue for now. please feel free to reopen it if you have any questions.

[2019-07-15 20:24] #569 closed, assigned to ShenChen93

[2019-07-16 04:38] hideokamoto commented on #555
Now I've replaced all ISP service client by own.
https://github.com/ask-utils/ask-utils/blob/master/packages/isp/libs/client.ts#L8-L49

I'm not sure why, but the my client works well.
Do you have any idea why to call the ISP API by using axios is works well and core client does not work?

[2019-07-16 19:01] ShenChen93 commented on #540
@TheDreamSaver  Are you still having this issue? May I get any update :)

[2019-07-18 05:33] TheDreamSaver commented on #540
Hey
Sorry forgot to update. I am not having this exact issue anymore.
Will open another request if I face something similar.

[2019-07-18 05:33] #540 closed, assigned to ShenChen93

[2019-07-19 18:49] ShenChen93 commented on #560
Hi @baileytincher

Sorry for responding late and thanks for the feature request. We tried to implement this feature in current version of CLI, but this require us to replace the simple-oauth2 module as this module doesn't provide developer ability to use proxy, reference: https://github.com/lelylan/simple-oauth2/issues/16. After discussion within our team, I am sorry to info you that we  are not g

[2019-07-23 18:47] baileytincher commented on #560
Hi @ShenChen-Amazon thank you for looking into this.

Do you have any recommendations on workarounds? The company I am working for is a large enterprise with tight security measures in place. We cannot currently use the ASK CLI due to these proxy related issues, and without it have no means of properly developing for Alexa. I have to imagine that any similar company in a regulated industry would h

[2019-07-24 13:38] nephisto1954 commented on #556
@syberkitten. Any chances you could describe the steps you took to resolve the Network restriction as I am facing similar issues.

Many Thanks

[2019-07-24 18:36] ShenChen93 commented on #570
Hi @spham

Sorry for responding late. I used the LaunchRequestHandler you provided, but just changed the mp3 src to  https://pham.es/sap/oweek.mp3.
[code]
And I tested it on developer console, it works well with my test skill.
![image](https://user-images.githubusercontent.com/45435608/61818990-ed8d2d80-ae06-11e9-8d8e-efc1dee40079.png)

From the screenshot you provided, even the sentence 'Sortir a

[2019-07-25 22:49] spham commented on #570
i always have same issue

![Screenshot at juil  26 00-48-51](https://user-images.githubusercontent.com/1083631/61913978-2a5c4000-af3f-11e9-9436-6fcdcdb37b82.png)

[2019-07-26 00:26] ShenChen93 commented on #570
@spham,

This time you successfully invoke the skill, however, the skill may fails due to the audio. Since I cannot reproduce your issue, could you please paste your whole lambda function here ?

Thanks,
Shen

[2019-07-26 04:40] spham commented on #570
here the complete code
https://gist.github.com/spham/e4eb451770ad42f5e7c2a76d588bf402

[2019-07-26 06:57] spham commented on #570
it's ok for me, thanks you

[2019-07-26 06:57] #570 closed, assigned to ShenChen93

[2019-07-27 19:39] LorenzNickel opened #574 "APL Datasource can't contain multiple root files"
_This is not an issue which directly regards this sdk, but I think it still is the best way to get an answer on this._

Is it possible that a datasource-file for an apl-document can only contain one valid root object?

If I didn't do anything else wrong, this is working as a datasource-json-file:

[code]

while this isn't:
[code]

(In the first case I get the value with `${payload.data.city1}`, in

[2019-07-27 20:05] LorenzNickel commented on #574
Ah, I just figured out that this is JSON standard.

[2019-07-27 20:05] #574 closed, assigned to nobody

[2019-07-29 21:58] ShenChen93 commented on #560
Hi @baileytincher

Thanks again for reaching out. I see what you mean and it's defenitely a valid point. We have actively started looking into the code. Thanks for your patient and I will update the thread once we have progress.

[2019-08-01 22:35] ShenChen93 commented on #560
Hi, @baileytincher

We released the CLI V1.7.10 at July 31st, and add new feature to support proxy usage. User now can set their proxy by setting the Environment variable. Let me know if you have any problems :)

[2019-08-01 22:55] baileytincher commented on #560
This is fantastic, thank you!

Ironically the last day of my internship working on this ended this morning, so I cannot personally verify. I am going to forward this back to my team though and hopefully they can test it out and get back to you!

Appreciate the quick response though, this is exactly what they needed

[2019-08-05 07:12] essieM commented on #399
Guys, do we have any templates/sample code for a video skill for the Amazon echo for living room devices, e.g a Smart Tv? I have been scouring the internet for some guidance on this.. I would truly appreciate any pointers.

[2019-08-05 16:36] joshbean commented on #399
@essieM - I don't know about full end-to-end templates or examples, but you can take a look at the [Video Skills for Living Room Entertainment Devices](https://developer.amazon.com/docs/video/steps-to-create-a-video-skill.html) documentation. It has a few code snippets that might help you get started.

[2019-08-05 17:02] ShenChen93 commented on #533
New package ask-sdk-express-adapter is available on NPM now, which make it easy to host skill as webservice. Therefore, close the issue. Please feel free to reopen if there's any problems.

[2019-08-05 17:02] #533 closed, assigned to nobody

[2019-08-05 17:03] ShenChen93 commented on #434
New package ask-sdk-express-adapter is available on NPM now, which make it easy to host skill as webservice. Therefore, close the issue and please feel free to reopen if you have any problems.

[2019-08-05 17:03] #434 closed

[2019-08-05 17:07] ShenChen93 commented on #560
Hi, @baileytincher

I am sorry this feature block your intern project. Thank you again for posting this request. I will close this issue and please feel free to reopen if you got any problems.

Thanks,
Shen

[2019-08-05 17:07] #560 closed, assigned to RonWang, ShenChen93

[2019-08-08 18:05] balsimpson commented on #513
it might also be because the value that Alexa is getting is '2' and '3' as strings. Use parseInt to convert to number and then add.

[2019-08-15 09:02] indunie opened #580 "Handling second reprompt"
Is there any method to handle or use second reprompt?

In my scenario, I want alexa to ask a question related to another intent, if user does not response to the reprompt.
Can someone answer please.

[2019-08-15 20:22] dorian-marchal commented on #505
Any news on this?

[2019-08-19 18:04] ShenChen93 commented on #580
Hi @indunie ,

From this [doc](https://developer.amazon.com/docs/echo-button-skills/receive-voice-input.html#reprompts),  alexa will turn off the sessions if there's no response after reprompt. I am sorry our SDK cannot add this feature because it's a limit from the platform.

It would be really grateful if you can log this requirement as a user voice request [here](https://alexa.uservoice.com/for

[2019-08-19 18:04] #580 closed, assigned to nobody

[2019-08-27 22:36] dorian-marchal opened #581 "Update an Alexa skill model from a server"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Is there a way to publish a new Alexa model from a server (e.g. an AWS lambda or a GC function)?

I have a custom `Product` slot with values bas

[2019-08-28 00:20] SleepyDeveloper commented on #581
I've never configured the CLI to work on a lambda function, but you can use `ask init --no-browser` for cases where you're running in environment that doesn't have a browser.

There's a way to configure the ask cli to work in Cloud9. https://github.com/alexa/alexa-cookbook/blob/master/guides/cli/cli-cloud9.md

Hopefully this helps.

[2019-08-28 06:14] dorian-marchal commented on #581
Thanks but the `--no-browser` flag still requires me to login manually. It just prints the login URL instead of opening my browser.

I'll look into the setup instructions for Cloud9 but it looks like it's based on this `--no-browser` flag.

[2019-08-28 20:15] ShenChen93 commented on #581
Hi @dorian-marchal ,

Currently CLI only be used globally due to the limitation of module-alias package. https://github.com/ilearnio/module-alias/issues/66

For your feature request, I want to know more details. Like which Database are you using (If you are using s3 or dynamo, it would be much easier) ?

Thanks,
Shen

[2019-08-29 07:16] dorian-marchal commented on #581
I'm building an Alexa Skill for an existing app with Firebase Firestore as a database. I would like to publish a new model when the `onWrite` [Firebase event](https://firebase.google.com/docs/functions/firestore-events) is triggered.

These triggers are written as Cloud Functions (akin to AWS Lambdas) so I can't really install a package globally, there.

I can't create `~/.ask/cli_config` manually

[2019-08-29 11:15] dorian-marchal commented on #581
Is `ask-cli` open source? Maybe I can fork it for my needs.

[2019-08-29 23:10] ShenChen93 commented on #581
Hi @dorian-marchal ,

The current CLI you are using is not open sourced. But we just open sourced our [CLI v2](https://github.com/alexa-labs/ask-cli) last week and it's still in public beta. It slightly change the deploy behavior and use cloud formation to deploy aws resources. But you can still reuse the [deploy skillMeta logic](https://github.com/alexa-labs/ask-cli/blob/master/lib/commands/deplo

[2019-09-04 22:28] ShenChen93 commented on #555
Hi @hideokamoto ,

Thanks for being patient. I went through all kinds of way to reproduce it but failed. Could you try to use our default api client again and see if the issue still exist ? If you still have this problem, could you please provide us with your request ID or the requestEnvelope so we can trace from service side.

Thanks,
Shen

[2019-09-10 03:13] ultradian commented on #555
I think I have a similar problem.  I put the code into a repo at https://github.com/ultradian/basic-alexa-isp/blob/master/src/index.js.  It is basically a stripped down version of the Amazon sample code at https://github.com/alexa/skill-sample-nodejs-fact-in-skill-purchases/blob/master/lambda/custom/index.js, using the `standard` SkillBuilder.  Running it produces an error as soon as it hits the c

[2019-09-10 03:46] hideokamoto commented on #555
Thanks for a reply.
But unfortunately, we decided to un-use the serviceClient to get the ISP products.
Now we're using own API Client to call the ISP API endpoint.

Could you help @ultradian 's problem?
regards.

[2019-09-10 05:10] ShenChen93 commented on #555
Hi @ultradian,
To make an API call, you need to first register your api client to the builder. Here is the doc for [API client](https://developer.amazon.com/docs/alexa-skills-kit-sdk-for-nodejs/call-alexa-service-apis.html#apiclient).  Our SDK provides [defaultApiClient](https://developer.amazon.com/docs/alexa-skills-kit-sdk-for-nodejs/call-alexa-service-apis.html#defaultapiclient), you could easi

[2019-09-10 05:14] ShenChen93 commented on #581
Since CLI is open sourced right now, will track all cli issues in [CLI Repo](https://github.com/alexa-labs/ask-cli) in the future. Close this issue for now.

[2019-09-10 05:14] #581 closed, assigned to ShenChen93

[2019-09-13 17:55] #555 closed, assigned to ShenChen93

[2019-09-16 07:39] yoichiro commented on #398
I'm also facing the same issue.

[2019-09-16 15:26] hideokamoto commented on #398
I think we want to add a new function to pick the specific type request object from the `requestEnvelope` object.
So I've create a new PR to add the feature.

thnks

[2019-09-16 19:39] ultradian commented on #555
Hi @ShenChen-Amazon ,

Adding your change to the code above generates the error:
[code]
It seems that the `withApiClient` only is a method for the `custom` SkillBuilder.  I find it hard to discover what is contained in the Standard SkillBuilder and how to access it, although the docs say that ApiClient should be automatically included (which is why I guess it is unnecessary to have the function).

[2019-09-17 06:41] ShenChen93 commented on #555
Hi @ultradian

Sorry it was my mistake as I just realized you are using the standard SkillBuilder. And yes you are right, `withApiClient` fucntion is only for `custom Skillbuilder`, the `DefaultApiClient` is registered to your `standard SkillBuilder` by default.

For your issue, I tried to reproduce by follwing steps: I copied [your code](https://raw.githubusercontent.com/ultradian/basic-alexa-isp

[2019-09-17 07:54] ShenChen93 commented on #555
I did more research based on the error message you provide. I wonder how you test your skill code. Cause when you invoke your skill, there's one property called `apiEndpoint` in the request which Alexa send to your lambda function. Following is the request my lambda function received from Alexa:
![image](https://user-images.githubusercontent.com/45435608/65021965-f66d1d80-d8e4-11e9-8462-7c010ee21a

[2019-09-27 04:32] ultradian commented on #555
@ShenChen-Amazon Thanks for your efforts.  I updated the code in the [repo](https://github.com/ultradian/basic-alexa-isp/blob/master/src/index.js) to include the `getAllEntitledProducts` function and to use the `custom` Skillbuilder. Here is one `handlerInput` from logging `intentHandler`:
[code]
I got it from using the Simulator in the dev panel.

The error in the log has has changed.
[code]
I'm

[2019-09-27 17:22] anthowm opened #584 "how to prevent an intent trigger if another intent has not been called first."
## I'm submitting a...
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X ] Other... Please describe:
how to avoid my skill to trigger WaitAnswerIntentHandler if RandomLetterIntentHandler does not activate first.

<pre><code>
let gameState = 0;
</code>const RandomLetterInt

[2019-09-27 22:05] ShenChen93 commented on #555
Hi @ultradian ,

I guess you modified the logging a little bit ? Cause the timestamp, requestId looks werid. Also, the value of authorizationValue is undefined. As you can see from our code base [here](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-core/lib/skill/CustomSkill.ts#L85), the autorizationValue is just a copy of apiAccessToken in alexa request. Therefore, co

[2019-09-27 23:19] ShenChen93 commented on #584
Hi @anthowm

Thanks for using our SDK. For the issue you post,  I want to confrim your use case first. I see you have two intentHandler A and B, and you don't want to trigger B when A is not activated before. Then the solution depends on your expected behavior of the skill.

First, to detect whether intent A is triggered before, you can maintain a global variable or use our [AttributeManager](http

[2019-09-28 00:28] anthowm commented on #584
@ShenChen-Amazon Hi thanks for ur reply, I take your first approach so I create a gameState as global var to handle it and it works but always trigger IntentReflectorHandler. How I return errorHandler can you share me the docs or an example. thanks !

[2019-09-28 02:41] ShenChen93 commented on #584
Hi @anthowm,

The IntentReflectorHandler is used for interaction model testing and debugging. I don't know how you defined it, but I guess the canHandle function looks like this:
[code]
Therefore, it can means this handler can handle all IntentRequest and thus the incoming request can always find a handler to handle it. No error handler will be triggered as the request is well handled.

For your u

[2019-09-28 22:02] ultradian commented on #555
Hi @ShenChen-Amazon ,
This is really weird, but when I just ran the code again, it worked without errors.  I added a little more logging code to be sure the entire product list was passed, and it looks good.  I'll see if I can backtrack and generate the error again.

[2019-09-29 20:52] anthowm commented on #584
Hi @ShenChen-Amazon
Your example works for my project.
Thanks, Shen !

[2019-09-29 20:53] #584 closed, assigned to ShenChen93

[2019-10-03 02:54] hideokamoto opened #585 "tslint dose not check tst dir files"
Probably the tslint script `$ npm run gulp -- tslint` does not check the `tst` dir files.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
When we wrote a un allowed cod

[2019-10-04 01:26] ShenChen93 commented on #585
Hi @hideokamoto ,

The issue you post is a known behavior of current SDK. The tslint cli only take specific file such as the use case you mentioned above, or a directory which contains tsconfig file. In our [tsconfig file](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-core/tsconfig.json#L16), we just include 'lib' folder without 'tst' folder, hence the lint doesn't co

[2019-10-07 04:09] hideokamoto commented on #585
I try to update the `gulpfile-base.js`, and it works fine, probably.
https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/pull/587/files

How do you think the idea?
If you think OK, we can start to fix tslint errors in all `tst` dir files.

[2019-10-30 20:30] #585 closed, assigned to ShenChen93

[2019-11-04 09:39] benrolfe opened #589 "Volume up/down"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I've built a Skill that successfully plays a long audio file (~ 30 minutes). When the user (while the audio is playing) says "Alexa, volume up",

[2019-11-04 09:46] benrolfe opened #590 "AudioPlayer events"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

In development & production I'm not receiving any `AudioPlayer` events. I'm expecting to receive `AudioPlayer.PlaybackStopped` when the audio is

[2019-11-12 09:20] lucidokr commented on #362
Thank you for your example.
Can you update the example with another one with the verification requested of the signature?
https://developer.amazon.com/it/docs/custom-skills/host-a-custom-skill-as-a-web-service.html#cert-verify-signature-certificate-url

I'm trying to use the express adapter provided but i can't understand how to integrate it. Now i'm trying to integrate a manual signature verifica

[2019-11-12 09:38] lucidokr opened #591 "Provide sample code for an express based Skill using the v2 SDK and Signature verification"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Could you please create an example Alexa skill that's built as an express app, which shows how to pass request / context to handlers and how to

[2019-11-13 05:57] nishanth-pvn opened #592 "Alexa custom Skill getting auto exit after 30 seconds of inactivity (In Echo Cube 1st Gen Device, post upgrade to Fire OS 6.2.xx)"
Hello,

I have developed a custom alexa skill using APL to display product sales information for business users based on their voice query for different products.

Prior upgrading Echo Cube (1st Gen) to Fire OS version 6.2.xx, in older versions custom skill and displayed APL screen in TV will remain active without any time limit based on user query till we close the skill calling closeintent our s

[2019-11-14 19:23] nikhilym commented on #589
Hey @benrolfe ,

You are right. Alexa should be handling the volume for you. However, if you are in a skill session, any utterance will try to match to your skill because Alexa doesn't know if the user is talking to the skill or to the service itself. I am guessing your skill session was still open when you were trying the 'volume' options. As for the volume control through SDK, there is no contro

[2019-11-14 19:23] #589 closed, assigned to nobody

[2019-11-14 20:30] nikhilym commented on #590
Hey @benrolfe , I tried to reproduce this in the [official multistream audioplayer sample](https://github.com/alexa/skill-sample-nodejs-audio-player/tree/mainline/multiple-streams). Whenever I trigger the "stop" utterance, the skill is receiving the `PauseIntent` and the skill is returning an `AudioPlayer.Stop` directive. After that, the skill is receiving the `AudioPlayer.PlaybackStopped` request

[2019-11-14 20:30] #590 closed, assigned to nobody

[2019-11-14 20:36] nikhilym commented on #592
Hey @nishanth-pvn , since this is not related to SDK, I suggest you to check through the [developer forums](https://forums.developer.amazon.com/spaces/165/index.html) with the APL team on the behavior. Please link the forum post later to this issue for community contribution.

I am closing this issue for now. Please reopen in case you have problems with the SDK. Thanks.

[2019-11-14 20:36] #592 closed, assigned to nobody

[2019-11-14 20:38] nikhilym commented on #591
Hey @lucidokr , thanks for raising the issue. We have a backlog item for this request and will provide you with a code sample soon.

[2019-11-14 20:39] nikhilym commented on #550
Since this issue is related to ASK-CLI, it's better to track it on the CLI repo. @RonWang can you transfer this to the corresponding repo?

[2019-11-17 17:54] guruprasaad123 opened #594 "Getting 401 when sending Progressive Response | Alexa"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

As mentioned this [article](https://developer.amazon.com/blogs/alexa/post/f952eca8-7f6f-4490-85d8-a805b50f6d25/alexa-ski

[2019-11-18 19:04] sjames1958gm commented on #591
One issue I had trouble with the adaptor is that my boilerplate express app had `app.use(bodyParser.json());`
which caused a error in the first of the three request handlers pushed onto the array in the adaptor. A note to not add this middleware before adding the request handlers should be included.

[2019-11-22 10:56] mfizz1 opened #595 "Struggling to get AudioPlayer directives and Pause/Play to be recognised."
I am trying to do this in a self hosted skill on amazon. My package.json is as follows:

Is there anything else to be considered?

Package.json:

`{
  "name": "hello-world",
  "version": "1.1.0",
  "description": "alexa utility for quickly building skills",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "Amazon Alexa",
  "license": "

[2019-11-22 20:21] btburton42 commented on #505
Can we get a status update? We have an end-to-end test runner project on hold pending resolution of this issue.

[2019-11-27 12:59] Genoil commented on #572
I have the same issue. The context.System.device.deviceId you are referring to appears to be identical even if the devices have a different serial number.

[2019-11-28 01:28] ShenChen93 commented on #591
Hi @lucidokr

Thanks for being patience and using our new ExpressAdapter package ! Your request is reasonable and we will work on sample skills in near future.

To answer your question: if you are using express and try to build an express app, you can ignore [this part](https://developer.amazon.com/docs/alexa-skills-kit-sdk-for-nodejs/host-web-service.html#for-web-application-without-express-frame

[2019-11-28 01:35] ShenChen93 commented on #591
Hi @sjames1958gm ,

Thanks for reaching out. And yes you're right, as you can see in our [code base](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-express-adapter/lib/adapter/ExpressAdapter.ts#L69), the express adapter will send error response if other middleware is registered before the handler. Due to your report, I think only a error response might not be enough. I

[2019-11-30 00:42] ShenChen93 commented on #595
Hi @mfizz1

Sorry for responding late. It would be great if you could use our issue template, cause with the current info you provided, it would be hard for me to reduplicate your issue.

So far, I can see you are trying to build a self hosted skill with AudioPlayer feature. I wonder if the skill response correctly to other intent such as LaunchIntent. If the issue only happen while handling the a

[2019-11-30 22:32] mfizz1 commented on #595
I must apologise, I was looking at multiple issues at the same time. I meant to post in the audio player repo. I later changed the issue to be more representative of what I thought the issues was since I couldn't delete the comment. I managed to debug the problem

[2019-11-30 22:32] #595 closed, assigned to ShenChen93

[2019-12-10 03:30] ShenChen93 commented on #594
Hi @guruprasaad123 ,

Sorry for responding late. I fetch out your code base and found some issues:
* For the custom skillBuilder, there's no apiClient registered to it. Thus, your code
[code]
can not return expected  directiveServiceClient as serviceClientFactory is undefined. To solve this problem, you could register our DefaultApiClient to your custom skill builder by following
[code]
* Second,

[2019-12-10 03:36] ShenChen93 commented on #594
Also, from the error message you provided. I guess you copy the request body from somewhere(maybe the developer console) and create a new lambda test event to test your lambda code. If that is the case, you probably need to use the console to get the latest request and then update the lambda test event.

[2019-12-12 22:00] nnnayan commented on #356
Thanks, this solution worked for me too!

[2020-01-02 17:20] teddy-owen opened #598 "Dynamic Entities for NON-MUSIC slots and catalogs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x ] Feature request
[x ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Please add documentation/features to allow for Dynamic entities to work for NON-MUSIC slots and thus catalogs.
It seems that Amazon has not pr

[2020-01-03 21:56] sattpat commented on #598
Hi @teddy-owen . Thanks for reporting this issue. I am trying to understand what your use case here is. If your use case requires a custom catalog, you should be able to do so and entity resolution should work on the slot. We can better understand your issue if you could share the skill model and the intent requests that you are making.

[2020-01-05 20:52] StefanV85 commented on #550
is there anything new about this? i updated the ask cli and have again the same problem. but my hack doesn't work anymore. if i change again the url-utils.js the error doesn't apear, but the ask cli is not asking about git credentials... it hangs... and doesn't create my skill.

[2020-01-07 18:53] ShenChen93 commented on #594
Close for now, feel free to reopen if issues still exist

[2020-01-07 18:53] #594 closed, assigned to ShenChen93

[2020-01-07 18:56] sattpat commented on #598
Hi @teddy-owen. I was able to test the dynamic entities feature and the conclusion I can draw is that "static catalog" refers to values that are entered against a slot type in the interaction model.
All that is needed is the slot type defined in the interaction model and then a set of sample values which are entered against the slot type, to train the models.
Then at runtime, you can use dynamic e

[2020-01-16 09:23] michael-sanderson opened #599 "DefaultApiClient creating empty object"
Hi,

using `ask-sdk-core` I have the following code for a custom skill:

[code]
But I am getting the following error:

`Cannot read property 'apiEndpoint' of undefined` and it turns out this is because `serviceClientFactory` is empty in the `handlerInput` as a result of DefaultApiClient making an empty object?

At a complete loss here.

[2020-01-17 01:40] phitq1 opened #600 "[Market-all] custom tabbar active tab and inactive tab #3"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>
## Current Behavior
- custom tabbar to circle , change when tab active and tab inactive

## Possible Solution
- set style tabbar
- change color w

[2020-01-17 01:45] phitq1 opened #601 "[Market-all] add image logo , comment and set background color into header #4"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>
## Expected Behavior
- remove notify in left header
- add image in title header
- set background in header

## Current Behavior
- add image and c

[2020-01-17 01:50] khoivva opened #602 "[Market-all] create card for horizontal list #5"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
- create card for item
- show lastPrices , totalInvestor , image , like , tokenName , tokenTemplate , companyName

## Curre

[2020-01-17 03:19] phitq1 opened #603 "[Market-all] create flatlist 2 column #6"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
- create list 2 column

## Current Behavior
- set properties numColumn = 2
- set style for item list

[2020-01-18 07:20] hideokamoto commented on #603
Is it a feature request of APL?

[2020-01-18 07:22] khoivva commented on #603
Hi hideokamoto.
i saw this feature in your picture sent me [Market-all] screen.
flatlist 2 column inside tabs

[2020-01-18 07:22] hideokamoto commented on #599
Could you share your code of the `package.json`?

[2020-01-18 07:24] khoivva commented on #603
i'm so sorry about this.
i create issue wrong place

[2020-01-20 09:15] michael-sanderson commented on #599
I am using Lambda layers - the `ask-sdk-core` package.json is:

[code]

[2020-01-20 09:16] michael-sanderson commented on #599
I also have a layer for `csv-parser`

[2020-01-20 19:38] ShenChen93 commented on #599
Hi @michael-sanderson

I used the same version of ask-sdk-core and tried to reproduce the issue.   I write some simple code to get my isp info by using `monetizationServiceClient`, which is retrieved by using handlerInput.serviceClientFactory.
[code]
And I can successfully get the Alexa service response
[code]

Your case seems weird. As I cannot reproduce with the current info, could you please pa

[2020-01-20 20:37] ShenChen93 commented on #603
Since it's not our issue, close all the four.  :)

[2020-01-20 20:37] #603 closed, assigned to nobody

[2020-01-20 20:37] #602 closed, assigned to nobody

[2020-01-20 20:38] #601 closed, assigned to nobody

[2020-01-20 20:38] #600 closed, assigned to nobody

[2020-01-21 09:31] michael-sanderson commented on #599
So the below code attempts to make a reminders client by invoking: `handlerInput.serviceClientFactory.getReminderManagementServiceClient()`

[code]

The skillbuilder passes the api client via the following from index.js:

[code]

The problem is that invoking DefaultApiClient is building an empty object. I know this because logging it out serviceClientFactor gives me:

[code]

As a result of this,

[2020-01-21 15:02] michael-sanderson commented on #599
I believe the problem lies in the fact I am using lambda layers but not sure why.

[2020-01-21 19:32] ShenChen93 commented on #599
Hi, @michael-sanderson Thanks for replying and providing the necessary info.

From the serviceClient object log you provided, it seems apiEndpoint and authorizationValue is missing. From our source code [here](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-core/lib/skill/CustomSkill.ts#L84), our SDK directly copy the apiEndpoint and apiAccessToken from original Alexa r

[2020-01-21 22:31] DavidePezzolla opened #604 "[Skill Request Verify method] bug in retrieving header fields"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I am trying to expose an Alexa Skill through an API Gateway, hence I am relying on this library to validate the request I receive.
I was not abl

[2020-01-22 09:02] michael-sanderson commented on #599
Yeah so this answers my questions. My test object in Lambda, which is how I am testing it, doesn't include this information. So I need to add this to the test object.

The problem I have been describing is unique to testing in the lambda console so my guess is the problem doesnt actually replicate in live. I will check this and confirm

[2020-01-22 20:43] ShenChen93 commented on #604
Hi @DavidePezzolla

Thanks for reporting this issue. I have created a [PR](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/pull/605) to fix it and will do a patch release when it's merged in.

Thanks,
Shen

[2020-01-22 22:59] ShenChen93 commented on #604
Hi @DavidePezzolla ,

We just merged in the PR #605 , and released a patch version v2.0.1. You could update the package to the latest version to solve your issues. Close this issue for now and please feel free to follow up if you have any questions.

Thanks,
Shen

[2020-01-22 22:59] #604 closed, assigned to ShenChen93

[2020-01-23 11:18] HebaSobhi2019 opened #606 "Why am I getting “IndentationError: expected an indented block”?"
hello every one ,,
i need your help
i am using Python 3.6
and run then code on it :

from statsmodels.stats.stattools import durbin_watson
out = durbin_watson(model_fitted.resid)

for col, val in zip(df.columns, out):
    print(adjust(col), ':', round(val, 2))

then i get this error :
File "<ipython-input-85-ca62954b96ce>", line 6
    for col, val in zip(df.columns, out):
      ^
IndentationError:

[2020-01-23 18:59] ShenChen93 commented on #606
Hi @HebaSobhi2019 ,

Thanks for reaching out. However, the info you provided is not related to SDK, it might be python syntax problem. If you are using ASK python SDK and find problems while using our package, you could ask question [here](https://github.com/alexa/alexa-skills-kit-sdk-for-python).

Thanks,
Shen

[2020-01-23 18:59] #606 closed, assigned to nikhilym

[2020-01-23 19:00] nikhilym commented on #606
Hey @HebaSobhi2019 , this is a python related issue and unrelated to the SDK.

Statements inside the `for` loop needs to be indented for Python to recognize the structure to execute. More information [here](https://docs.python.org/3/tutorial/controlflow.html#for-statements).

[code]

Please feel to reopen in case you face issues with the `ask-sdk*` libraries we offer. Also, since this is the NodeJ

[2020-01-29 13:37] ZuBB commented on #344
Hello everyone! Sorry for bumping of quite old thread/issue

@TianTXie I am just wondering if you have any news on subject. It would be really nice to have an ability to so something like next

[code]

[2020-01-29 18:02] #599 closed, assigned to ShenChen93

[2020-01-30 17:45] ShenChen93 commented on #598
Hi @teddy-owen ,

It seems you are confused by the term 'static catalog'. 'Static catalog' refers to the slot types (+ values) defined in the interaction model, but 'static catalog' is not a term used across Alexa documentation and should be removed for consistency.

We've updated our [doc](https://developer.amazon.com/en-US/docs/alexa/custom-skills/use-dynamic-entities-for-customized-interactions

[2020-01-30 17:45] #598 closed, assigned to sattpat

[2020-02-06 07:59] mduzgun opened #609 "Device control with Alexa skill"
Hi, everyone.
I want to control my Alexa devices using Alexa Skill.
For example, when I say "hello" to Alexa and lights (Sengled brand) are on.
Could I do this using Alexa skill?

[2020-02-07 06:07] ShenChen93 commented on #609
Hi, @mduzgun

To use skill to control alexa devices, you may need to build a Alexa smart home skill instead of Alexa custom skill. You could refer to [this doc](https://developer.amazon.com/en-US/docs/alexa/smarthome/understand-the-smart-home-skill-api.html) for more info. Unfortunately , our SDK only work for custom skill right now, and we will bring smart home SDK in future.

Thanks,
Shen

[2020-02-07 06:07] #609 closed, assigned to ShenChen93

[2020-02-10 04:04] voiceactivity opened #610 "AudioPlayer Interface doesn't support HTTP Authorization header (in fact any of HTTP headers) along with the audio file URL"
Hi team,
About 6 months ago we published the Sound Drive skill. This skill allows users to play their own audio files from their Google Drive accounts. The skill uses AudioPlayer Interface.

Many people (including those ones with Premium subscriptions) were enjoying this skill until now.  But now we have no other choice but shut it down.
The reason for that is the change Google recently made in th

[2020-02-10 10:15] ghost commented on #610
Hang on, I think you are rather over-panicking here

https://cloud.google.com/blog/products/application-development/upcoming-changes-to-the-google-drive-api-and-google-picker-api

Here’s what we recommend you do if authentication with the HTTP header is not possible:

For file downloads, redirect to the webContentLink which will instruct the browser to download the content. If the application want

[2020-02-10 16:28] voiceactivity commented on #610
Hi,
Thank you for your reply.

We tested those options of course.
They both return the HTML pages with the button. When you click the button,
the download starts.
But we need a binary stream instead for the player.

Thank you
Paul

On Mon, 10 Feb 2020 23:15 digitaltoast, <notifications@github.com> wrote:

[2020-02-10 17:19] voiceactivity commented on #610
In terms of file exports you mentioned (
https://developers.google.com/drive/api/v3/reference/files/export)
This is the result of request:

{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "fileNotExportable",
    "message": "Export only supports Google Docs."
   }
  ],
  "code": 403,
  "message": "Export only supports Google Docs."
 }
}

Export only supports Google Docs, so

[2020-02-11 19:24] RonWang commented on #505
Hey all!

With the [ask-cli](https://github.com/alexa-labs/ask-cli) release to Github (now as [ask-cli-x](https://www.npmjs.com/package/ask-cli-x)), please check the status from issue https://github.com/alexa-labs/ask-cli/issues/56 for further notifications.

Close this issue.

[2020-02-11 19:24] #505 closed, assigned to RonWang

[2020-02-17 21:40] ShenChen93 commented on #610
Hi Paul @voiceactivity

Thanks for posting this issue. Cause this feature request need APIs support and then we could release new SDK models, I reached out to internal service team and delivered your demand. Right now all relevant  team start looking into it.

I will keep this issue open for now, and please keep tuned :)

Thanks,
Shen

[2020-02-17 22:32] voiceactivity commented on #610
Thank you Shen!

If this issue were addressed that would be awesome!

We have customers with subscriptions who are eager to pay for this service.
We're receiving emails from people asking when this skill will be available
in their countries.
Potential is great!

In case the issue addressed we could update the skill in a matter of few
hours to pass the HTTP Authorization header along with the audio

[2020-02-21 10:58] shubhamsbhosale96 opened #611 "Want to publish data on aws iot with alexa using aws-iot-device-sdk and ask-sdk in lambda"
I have provided my lambda code file below and I wanted to add aws-iot-device-sdk in it so where should i write the function awsIot.device function in code. when I write it at start of the code, I was getting an error as

Response:
{
  "errorMessage": "2020-02-21T10:53:02.615Z c574f829-1f9e-47d0-bcb7-4437def75a1e Task timed out after 3.00 seconds"
}

Request ID:
"c574f829-1f9e-47d0-bcb7-4437def75a1

[2020-02-22 20:54] JonathanDn commented on #434
@ShenChen-Amazon There's not a single example in the documentation in github or in NPM to how to properly use this. I would much appreciate one to successfully verify my web service with amazon through a middleware...

[2020-02-23 07:55] ShenChen93 commented on #434
Hi @JonathanDn

There's doc link under [Usage and Getting Started tab](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/tree/2.0.x/ask-sdk-express-adapter#usage-and-getting-started), and will direct to [Alexa developer portal](https://developer.amazon.com/en-US/docs/alexa/alexa-skills-kit-sdk-for-nodejs/host-web-service.html).  Sorry the link seems not obvious enough :(    Please feel free

[2020-02-23 07:57] JonathanDn commented on #434
After a few hours of searching, reading, and triyng various things according to the API documentation I was able to find this video of this kind fellow who helped me get up and running and close a cycle with a test skill that will be triggered + send a hello world response.
https://www.youtube.com/watch?v=wH6mkxuf9tE

Thanks though.

[2020-02-24 03:52] #520 closed, assigned to nobody

[2020-02-25 13:45] NicoWeio commented on #591
Hey there,
I just created a little [repo with an example](https://github.com/NicoWeio/ask-express-adapter-example). Hope this helps!

[2020-02-25 19:17] ShenChen93 commented on #611
Hi @shubhamsbhosale96

Thanks for reaching out. The place you create IotClient and make the function call looks good to me. Thus I guess the root cause is from the usage of IOT SDK.

Cause I don't have any experience of using aws-iot-device-sdk, thus I reach to their team for help. Here is the concerns I got from them:
``(1) They are using a fixed client ID for their mqtt connection.  This will br

[2020-02-25 19:17] #611 closed, assigned to ShenChen93

[2020-02-28 04:37] voiceactivity commented on #610
Have you given up on this request?

[2020-03-30 19:55] germanviscuso opened #613 "API docs sample code is not using the ASK SDK utils"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

In this page https://developer.amazon.com/en-US/docs/alexa/alexa-skills-kit-sdk-for-nodejs/develop-your-first-skill.html all the code samples ar

[2020-03-31 23:37] mikelid-zz opened #614 "LambdaHandler is not exported"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
LambdaHandler is the public type produced by CustomSkillBuilder.lambda() but the type is not exported which causes trouble

[2020-04-01 18:23] ShenChen93 commented on #613
Hi @germanviscuso ,

Thanks for reporting those doc issues. Will reach out to doc team to update the doc !

Thanks,
Shen

[2020-04-01 18:55] ShenChen93 commented on #614
Hi @mikelid ,

Thanks for reporting this issue. Made the PR #615 to fix. Closed this issue as the fix commit already merged.

Thanks,
Shen

[2020-04-01 18:55] #614 closed, assigned to ShenChen93

[2020-04-10 16:33] germanviscuso opened #616 "Add documentation for Timers support to SDK api reference docs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Add Timers API documentation as it's supported in the SDK (both for en and ja)
https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/tree/2.0

[2020-04-14 06:36] voiceactivity commented on #610
Hi @ShenChen-Amazon I hope you're doing well. Any updates for this request?
Thank you

[2020-04-14 22:13] ShenChen93 commented on #610
@voiceactivity ,

Thanks for being patient. Unfortunately, at this moment, we haven't heard any updates from services team about this feature release. I will post updates here once this feature released to public.

Thanks,
Shen

[2020-04-23 15:28] aounleonardo commented on #398
When will the fix #582 by @hideokamoto be pushed to master? I have the newest code module on npm but don't have access to the getRequest function.
`"ask-sdk-core": "^2.6.0",`

[2020-04-24 04:16] sholkay opened #618 "Reminders API SSML not working with Audio Tag"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe:
</code></pre>

Audio tag not working in Reminders API SSML tags,
[code]

## Expected Behavior

This would return a reminder in which Alexa will first speak in

[2020-04-27 18:55] ShenChen93 commented on #618
Hi @sholkay ,

Thanks for reporting this issue. I used the code you provided above and could reproduced the issue. However, the behavior is slightly different as there's no gap between 'testing1' and 'testing2' when I triggered my demo skill. I will report this issue to service team and will update status here once got their reply.

Thanks,
Shen

[2020-04-29 10:55] guilhermecaixeta opened #619 "The directive Navigation.SetDestination it's not accepted in the sdk nativally"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Context

Currently the Navigation.SetDestination directive type is not offered as a valid type in the Directive type, if we need use this it'

[2020-04-30 04:21] ShenChen93 commented on #619
Hi @guilhermecaixeta ,

Thanks for reporting this feature request. It seems this feature hasn't been onboard to SDK. We will prioritize it and push model release ASAP. Keep the issue open for now and I will update status here.

Thanks,
Shen

[2020-04-30 11:53] sravankumarreddy9 opened #620 "ask clone command not working"
I'm trying to clone the skill from the developer console. when i run the below command. I'm getting the error.
ask clone "skills"
Command not recognized. Please run "ask" to check the user instructions.
If i try to deploy the skill to developer console i'm getting error as below:
C:\Users\reddymv\proactive-event-starter-api>ask deploy
[Warn]: Please make sure you are in the root directory of the p

[2020-04-30 12:04] ThomasVuillaume opened #621 "'Hello world' template example crashes at Lambda start because of Runtime.ImportModuleError"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I retrieved the latest version of the ask-cli (2.2.0) and I was trying to give a try on a fresh example.
I chose the `ask new` command with the

[2020-04-30 13:17] ThomasVuillaume commented on #621
Turned out it was an ask-cli related problem, caused by a failing Powershell module during Zip file construction ... All info (for unfortunate Windows users like me) are there : https://github.com/alexa/ask-cli/blob/develop/docs/FAQ.md#q-for-windows-users-if-your-skill-return-empty-response-and-log-shows-module-not-found-genericerrormapper-or-cannot-find-module-dispatchererrormappergenericerrormap

[2020-04-30 13:17] #621 closed, assigned to nobody

[2020-04-30 16:09] RonWang commented on #620
Hi @sravankumarreddy9 ,

ask-cli is open sourced now, I've created a new issue with your problem at https://github.com/alexa/ask-cli/issues/153. Will close this one and we can explain over there.

[2020-04-30 16:09] #620 closed, assigned to nobody

[2020-04-30 16:42] hideokamoto commented on #613
Is the doc's code is OpenSource?
If yes, we can create a new Pull Request to update it.

Thanks.
@ShenChen-Amazon

[2020-04-30 18:07] ShenChen93 commented on #613
@hideokamoto

Nah, the doc is not OpenSource. Let me check with doc team for updates.

Thanks,
Shen

[2020-04-30 21:32] ShenChen93 commented on #618
Hi @sholkay ,

Got the response from the service team. Unfortunately, audio tag is not supported yet in reminder, the public doc is misleading. The service team will correct the doc and give a list of supported tag.

I also checked with them if there are any way to attach audio in reminder, but it seems this feature is not available right now.

Since it's the feature request on service side, I wil

[2020-04-30 21:32] #618 closed, assigned to ShenChen93

[2020-04-30 22:43] voiceactivity commented on #610
Hi @ShenChen-Amazon ,

Any chance to get a direct contact of anybody in charge in the service team?
It's really shame that we are loosing such a great opportunity right now by postponing the fix.

Cheers,
Paul

[2020-05-01 00:02] ShenChen93 commented on #610
@voiceactivity ,

I am very sorry for the delay. You could log the issue on forums: https://alexa.uservoice.com/forums/906892-alexa-skills-developer-voice-and-vote if you want to contact with the service team directly.

Thanks,
Shen

[2020-05-01 01:05] voiceactivity commented on #610
We have done this already, a couple of months ago. Dead quiet.
Posted there another comment.
But , to be honest, I've started giving up in my hope that feature will ever be implemented and our skill could be resurrected. I cannot see that Amazon is interested in it.

Thank you,

[2020-05-02 14:12] guilhermecaixeta commented on #619
Thank you for you answer @ShenChen-Amazon. This will help me a lot.

[2020-05-08 11:07] pkehr09 opened #623 "Request does not contain resolutionsPerAuthority array"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
My quiz skill should have my utterance inside the jSON request object, no matter if the utterance is correct, or incorrect

[2020-05-08 18:10] ShenChen93 commented on #623
Hi @pkehr09

Thanks for using our SDK ! According to the behavior you logged above, it seems you met some issues in the coming request object. However, since our SDK is just pass through layer without any changes to the original request, so it's should not be a SDK issue.

I would recommend you to log this issue to [Alexa Forums](https://forums.developer.amazon.com/spaces/165/index.html), where yo

[2020-05-08 18:10] #623 closed, assigned to nobody

[2020-05-15 21:58] qo4on commented on #12
How can I do the same on Python?

[2020-05-19 00:34] hideokamoto opened #628 "[s3-persistent-adapter] Throw Error if item does not exists"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Example code

[code]

## Expected Behavior

The `console.log(data)` will show `undefined` or `{}` or `null` if the persistent attributes do n

[2020-05-19 00:53] hideokamoto commented on #628
FIY.

The Skill's IAM policy for S3 is this.

[code]

And the example code will work well before creating a new item like this.

'''Failed'''
[code]

'''Works'''
[code]

[2020-05-19 00:56] hideokamoto commented on #628
Is the IAM policy missing any actions for the s3-persistent-adapter?
Or should we create a patch for the issue?

Thanks.

[2020-05-20 01:29] ShenChen93 commented on #628
@hideokamoto

Thanks for reporting this issue. I could reproduce this issue.

In summary, our S3 persistent adapter based on aws sdk, and the [getAttributes function](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-s3-persistence-adapter/lib/attributes/persistence/S3PersistenceAdapter.ts#L63) is based s3Client.getObject() function. For this issue, when there's no object

[2020-05-20 01:59] ShenChen93 commented on #628
Hi @hideokamoto ,

After doing more research, found the [root cause](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#getObject-property).
Here is the statement in aws sdk doc:
 If the object you request does not exist, the error Amazon S3 returns depends on whether you also have the s3:ListBucket permission.

If you have the s3:ListBucket permission on the bucket, Amazon S3 will re

[2020-05-20 02:00] #628 closed, assigned to ShenChen93

[2020-05-20 18:44] 10-ny commented on #17
Hi guys,
it happened the same to my Skill. It was working but suddenly, the access token is not appearing in `handlerInput.requestEnvelope.session.user.accessToken` even though I have my account linking configured properly.

Any resolution ?

[2020-05-24 21:07] max-grigoriev opened #629 "`addDelegateDirective` always trigger auto delegation logic."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I want to trigger dialog behavior from one intent to another one and fill default values for known slots.
## Expected Behavior

I have first int

[2020-05-26 18:56] ShenChen93 commented on #629
Hi @max-grigoriev

Thanks for using our SDK ! For your issue, I am wondering if you marked the personName as required in dialog model ? If so Alexa will ask users to fill the slot first. Would be great if you could provide your InteractionModel for the GetTasksForPerson for further investigation

Thanks,
Shen

[2020-05-26 20:12] max-grigoriev commented on #629
hi @ShenChen-Amazon
Yes, this field is required:
[code]
but I thought the dialog isn't enabled without required field. So I can't make `addDelegateDirective` from one intent to another one.

[2020-05-26 20:54] mikelid-zz commented on #629
Dialog.delegate is specifically passing control the DM service to do something.  In this case the updated intent doesn't yet have the personName slot so it asks the user for it, as per the dialog definition.  The setting for auto-delegation doesn't apply to this scenario as you are explicitly delegating.

* If you have a default value, you can set it as part of updatedIntent.slots in your delegate

[2020-05-26 21:41] max-grigoriev commented on #629
@mikelid what is the difference between `enabled auto delegation` and `disabled`?
I thought when I have auto delegation then Alexa asks the user to fill empty slots. And when it's disabled then it's the intent task to fill the slot.

[2020-05-27 01:11] mikelid-zz commented on #629
For the purposes of this discussion, _delegation_ means "control passed to the dialog-management service".  And note that the intent doesn't "do anything".. it is merely data.  The only active things are your skill code and the DM service.

_explicit delegation_ means "the custom skill code was running and it chose to pass control to the dialog-management service to finish the turn, by means of th

[2020-05-27 19:45] max-grigoriev commented on #629
@mikelid  thanks for the clarifications.

if I have and intent with a couple of slots and I can go to this intent from different other intents. And some of them can have some values for some slots.  What are the best practices to fill intent's slots and then ask a user to fill remaining empty slots?

[2020-05-28 14:19] wangyeking opened #630 "addAudioPlayerStopDirective did not clear the Alexa Icon on Android notification bar"
I am using Alexa Skill for playing some MP3 files, and all works properly, but since we are not going to have a database, so we plan not to support resume intent, which means when user say stop , we should be able to totally stop the play.

but when I test via Alexa App on Android device, once I start a play via addAudioPlayerPlayDirective, there will be an notification in Android device, which le

[2020-05-29 18:19] ShenChen93 commented on #629
@max-grigoriev ,

I think the best way is to provide slot value while sending the directive. If your Intent B has slot C and D need to be filled, and you send directive to B from Intent A, you could do the following in intentA:
[code]
Thus only the slot D is not filled, and alexa will ask user for it if slotD is also marked as required.

[2020-05-29 18:36] ShenChen93 commented on #630
Hi @wangyeking ,

If you want to let Alexa Skill totally stoped, you should close the skill session. In responseBuilder, it will close the skill session by default. But if you have the reprompt, the session will not closed. You could force to close the session with withShouldEndSession set to true.
[code]
Could you please try and see if it works. And share the piece of code how you handle stopInte

[2020-05-31 10:52] max-grigoriev commented on #629
@ShenChen-Amazon  that's my initial step.
I did
[code]
but in this case, Alexa doesn't ask for a name but it's just waiting for this name to be said. And then Intent code is invoked with a new name. I see in logs `IN_PROGRESS` only when user says his name but nothing from the previous Intent:
[code]

I found that if I use delegation from `Launch` intent to `InitMe` (my intent)
[code]

And everythi

[2020-05-31 17:29] max-grigoriev commented on #629
I tried to go from `Launch` to `GetTasksForPerson` and it doesn't work. When I change the intent name in Launch delegation then everything works.
I found that the difference is only that one intent has a single slop but another has two slots. So I removed the second slot and after that this intent stopped working too.
And when I add a new slot to `GetTasksForPerson` then `personName` begins workin

[2020-06-01 08:23] ShenChen93 commented on #629
@max-grigoriev ,

I created a simple skill and could reproduce your issue. Thus, the issue is: Intent B has only one slot need to be filled, and Intent A send delegate directive to intent B with required slot provided. However, Intent B requestHandler is not invoked at all as Dialog Management service is not asking for required slot(already be filled).

I am not sure if it's a valid use case or it

[2020-06-01 14:21] max-grigoriev commented on #629
Done  - https://forums.developer.amazon.com/questions/227380/adddelegatedirective-always-trigger-delegation-log.html

[2020-06-03 18:28] ShenChen93 commented on #630
Close this issue for now, please feel free to reopen if the problem still exist

[2020-06-03 18:28] #630 closed, assigned to ShenChen93

[2020-07-22 18:38] sandeepknambiar commented on #556
I am seeing maintenance screen when I access https://api.amazonalexa.com/

Is there any alternative way to connect or when will be this service available. Please help me in this.

Thanks for your time.

[2020-07-22 19:15] ShenChen93 commented on #556
Hi, @sandeepknambiar
I am going to check with the service team on this issue, btw, may I know what's the use case to directly access this api endpoint ?

Thanks,
Shen

[2020-07-23 06:20] kkocel opened #634 "ASK SDK Controls Framework for other platforms?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

Will ASK SDK Controls Framework will be ported to non-JS platforms? Eg. Java?

[2020-07-23 16:16] sattpat commented on #12
Hey Folks,
We recently published a package - [ask-sdk-local-debug](https://www.npmjs.com/package/ask-sdk-local-debug) that allows you to redirect your skill requests back to your developer machine. It comes with an integration with the new ASK Toolkit for Vscode and is super easy to use. [ReadMe instructions](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-local-debug/R

[2020-07-23 17:07] ShenChen93 commented on #634
Hi @kkocel ,

Thanks for being interested in using the new control framework. The control framework currently under beta and it only support node.js for now. We will consider to support it for other languages once it turns out the framework is useful and people like to use it.

Thanks,
Shen

[2020-07-23 17:07] #634 closed, assigned to nobody

[2020-07-23 19:37] RonWang commented on #550
@StefanV85 Close this issue and please head over to https://github.com/alexa/ask-cli/issues/269 for further discussion.

[2020-07-23 19:37] #550 closed, assigned to RonWang

[2020-07-28 00:15] hnglong commented on #556
Hi @ShenChen-Amazon ,

I saw the same issue: https://api.amazonalexa.com/ - "Website Temporarily Unavailable"
My use case is to link the Alexa with my web app. Below is an instruction
https://developer.amazon.com/en-US/docs/alexa/account-linking/app-to-app-account-linking-starting-from-your-app.html

Request
In the request shown next, set HOST to one of the following, depending on the user's regio

[2020-07-28 00:28] ShenChen93 commented on #556
Hi, @hnglong
I tested this endpoint by using other apis(use Post) and it works as expected. However, when I try to access the webpage of this api by using directly call, I see the same error page. I am not sure if access this api endpoint by using directly call is acceptable behavior, thus I want to check with you whether this api endpoint is working as expected for your use case ? If not, what is

[2020-07-28 00:30] #591 closed, assigned to ShenChen93

[2020-07-28 02:37] hnglong commented on #556
Hi @ShenChen-Amazon,

This is what I put to the post request. Do you know if the api.amazonalexa.com is really down?

POST api.amazonalexa.com/api/v1/users/~current/skills/amzn1.ask.skill.747xxxxx/enablement HTTP/1.1
Header:
Authorization: bearer Atza%7CIwEBINojVdQdXPWMujb9-xxxxx
Content-type: application/json
Body
{
    "stage": "skill stage",
    "accountLinkRequest": {
        "redirectUri": "h

[2020-07-28 21:06] ShenChen93 commented on #556
Hi @hnglong ,

It seems the url path `api.amazonalexa.com/api/v1/users/~current/skills/amzn1.ask.skill.747xxxxx/enablement HTTP/1.1` is not correct as it should not include `api/` prefix. Could you try it again after removing this prefix. The api endpoint is working as I tested it by using other apis.

And I confirmed with service team that the current unavailable webpage is a placeholder for bad

[2020-07-29 03:43] hnglong commented on #556
Hi @ShenChen-Amazon,

Thanks for helping me catch the issue. I removed the "api/" and now the got the new issue "Invalid account linking credentials".
Look like I am almost getting there. Could you please help me to look into this one again?

Header:
Authorization: bearer Atza%7CIwEBINojVdQdXPWMujb9-xxxxx  <---- this I got from Alexa Developer Console (NOT from LWA)
Content-type: application/json

[2020-07-29 17:37] sandeepknambiar commented on #556
Hi,

Could any one brief on the way to access account of mine from API. Any
document on this would help out. I need to check my device status
(online/offline) from this.

Thanks in advance.

On Tue, Jul 28, 2020 at 8:43 PM hnglong <notifications@github.com> wrote:

[2020-07-29 18:19] ShenChen93 commented on #556
Hi @hnglong ,

According to the screen cut you provided, it seems you use the LWA as the web autHorization URI. For my understanding, E.G., if you try to link your skill with google, you will need to provide google auth URI: https://accounts.google.com/o/oauth2/auth and google access token uri: https://oauth2.googleapis.com/token. And get the clientID and clientSecrect from google as well.

Sorry

[2020-07-29 18:23] ShenChen93 commented on #556
Hi @sandeepknambiar

Sorry as this is the repo for ASK SDK, I really don't have lot of context on your question. Would be great if you could log your question at [Alexa Forum under account-linking topic](https://forums.developer.amazon.com/topics/account+linking.html), where people who has better context will help you figure out the solution.

Thanks,
Shen

[2020-07-29 18:54] kakhaUrigashvili commented on #550
@RonWang opened a PR https://github.com/alexa/ask-cli/pull/273

[2020-08-08 16:14] talkingnews opened #638 "ask-smapi-api instructions are completely incorrect for ask cli v2.14.0"
https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/tree/2.0.x/ask-smapi-sdk

The instructions are completely incorrect and misleading. To save anyone else having to waste over 20 hours on this:

Go to:
https://developer.amazon.com/loginwithamazon/console/site/lwa/overview.html - create new token

Go to "allowed return URL" on the "web settings" tab of that new token, and you MUST add:

[code

[2020-08-10 22:15] ShenChen93 commented on #638
Hi @talkingnews ,

Sorry for the misleading. The root cause is the ask util generate-lwa-tokens command change it's behaviors after our SDK doc released. Previously, the generate-lwa-tokens force developer to provide clientid and client secret instead of optional. However, to better support user's CI/CD use case, CLI right now provide default clientId if client id is not provided by user. You coul

[2020-08-11 10:29] talkingnews commented on #638
Hi @ShenChen-Amazon -  I am still unable to find the correct scope for use with smapi node client.

For example, this works:
`ask smapi get-interaction-model --skill-id amzn1.ask.skill.80fXXXXX --stage development --locale en-GB`

But this does not, even if I use the exact same credentials as the ask CLI, or I get new ones.

`smapiClient.callGetInteractionModelV1('amzn1.ask.skill.80fXXXXX', 'devel

[2020-08-11 18:50] RonWang commented on #638
Hey @talkingnews ,

Because in the command line interface you have to quote a string as an entity, you will want to do `ask util generate-lwa-tokens --client-id amzn1.application-oa2-client.02dXXXX --client-confirmation 382XXXXX --no-browser --scopes "alexa::ask:skills:readwrite alexa::ask:models:readwrite alexa::ask:skills:test alexa::ask:catalogs:read alexa::ask:catalogs:readwrite alexa::ask:sub

[2020-08-11 22:34] chia-labradorsystems commented on #553
I'm running into the same problem, is it possible to achieve this now?

[2020-08-12 08:00] talkingnews commented on #638
Hi @RonWang - thank you. I did not see anything about quoting those entities, and I can see from forum posts that other people do not realise this. I will go and point them to this ticket. I was able to get a working token at last (after days), but I still have to remove `alexa::ask:skills:debug` before it would work.

Note: I guess for this same reason, it does not work without specifically quoti

[2020-08-12 16:25] #638 closed, assigned to ShenChen93

[2020-08-13 12:32] bickerdyke opened #640 "ask-sdk-express-adapter should work with firebase"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

ask-sdk-express-adapter should work with firebase. The problem is, as explained [here](https://codeburst.io/express-js-on-

[2020-08-13 19:21] ShenChen93 commented on #640
Hi @bickerdyke ,

Thanks for using our SDK ! The reason we force to use our own parser is due to some edge case caused by json-parser. Sometimes there's decimal number such as `1.0` present in Alexa request, and if developer use json parser, `1.0` will be parsed as `1`. Thus in the express adapter, we use the rawParser instead of the Json-parser, and we want to reduce the possibility for developer

[2020-08-14 12:52] bickerdyke commented on #640
HI. Unfortunately, it didn't work. When I try the [2], I get a "AskSdk.Skill dispatch failed Error, Unexpected token o in JSON at position 1" Is this someone trying to parse an 1.0 version string as integer? :-) However, at least I can reproduce that error on my dev machine...

[2020-08-17 18:06] ShenChen93 commented on #640
Hi @bickerdyke ,

Based on the error type, it seems the verification is done successfully. It would be great if you cloud provide the error trace stack which could help me locate the error.

The [2] express requestHandler is defined [here](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-express-adapter/lib/adapter/ExpressAdapter.ts#L80), it takes the req provided by exp

[2020-08-20 21:23] jdoof opened #648 "ssl-root-cas cannot update certicates when file system is run in read only mode"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

We run a node azure function to run our Alexa Skill. We depend on `ask-sdk-express-adapter` to provide validation of request sent from Amazon. W

[2020-08-20 22:06] ShenChen93 commented on #648
Hi @jdoof ,

Thanks for using our SDK. ssl-root-cas will cache root CAs at locale file system under node_modules, thus it will fail when you use read-only file system. I will log this issue in our backlog, and further investigate the best user experience for caching the root CAs.

For a quick fix, you could use ask-sdk-express-adapter@2.0.1, which doesn't have the feature to validate the certifica

[2020-08-20 23:35] #437 closed

[2020-08-20 23:39] jdoof commented on #648
Thanks, we will  give downgrading a go and report back the results

[2020-08-21 06:14] jdoof commented on #648
@ShenChen-Amazon Just confirming that the downgrade is working as expected.

[2020-08-21 18:03] ShenChen93 commented on #648
@jdoof ,

Thanks for confirmation. We've logged this problem into our backlog, thus will close this github issue for now. Will update here once new version of express-adapter pkg released.

Thanks,
Shen

[2020-08-21 18:03] #648 closed, assigned to ShenChen93

[2020-08-23 21:19] bickerdyke commented on #640
I'm still trying to debug deeper into it, but I have troubles getting an error stack or anything sensible into the firebase log. So I tried check locally what's happening when include json-body-parser into the express stack and run through the [2] handler only. You were right. It's line 40. Looks like JSON.parse receives an already parsed object.

`Ausnahme: SyntaxError: Unexpected token o in JSON

[2020-08-24 17:51] ShenChen93 commented on #640
Hi @bickerdyke ,

Thanks for the update. If the request is already been parsed, I think you could register a custom handler before the [2] handler, parsing the json object to string. Let me know if it works :)

Thanks,
Shen

[2020-08-27 04:14] Daniyaldehleh commented on #555
Hi @ShenChen-Amazon
I am facing the same error
`ask_sdk_model.services.service_exception.ServiceException: The authentication token is invalid or doesn&#39;t have access to make this`
you can vie a sample of the code [here](https://github.com/danieldhz/Alexa_Timer/blob/master/lambda/ISP.py).

[2020-08-27 05:06] ShenChen93 commented on #555
Hi @danieldhz ,

Could you simply introduce how you test your skill ? Are U testing it on developer console ? And what version of SDK and SDK Model are u using ? Also it would be great if you could provide the requestEnvelope of the turn you meet this error.

Thanks,
Shen

[2020-08-27 05:18] Daniyaldehleh commented on #555
@ShenChen-Amazon Hi Shen!
Sorry if original comment wasn't detailed enough.

1. Lambda
2. ask-sdk-core==1.13.0
3. request:
[code]
output:
[code]

[2020-08-27 06:06] ShenChen93 commented on #555
@danieldhz ,

Thanks for providing the info. From the requestEnvelope, it seems the voice purchasing is not enable for this account.
[code]

Thus could you check whether the voice purchasing is enabled ? Here is the doc might help: https://www.pcmag.com/how-to/how-to-shop-on-amazon-with-alexa-voice-shopping#:~:text=To%20start%2C%20open%20the%20Alexa,1%2DClick%20ordering%20be%20enabled.

Thanks,
Sh

[2020-08-27 17:26] Daniyaldehleh commented on #555
@ShenChen-Amazon  I test it using dev console. Thus, there is not voice purchasing for me to enable. As well as, my phone's voice purchasing is already enabled. Nonetheless, the error persists.

[2020-08-27 18:10] Shreyas-vgr commented on #555
Hi @danieldhz, based on your [repo](https://github.com/danieldhz/Alexa_Timer/blob/master/lambda/ISP.py), I see that you are using ASK SDK Python for your ISP skill, can you please raise an issue [here](https://github.com/alexa/alexa-skills-kit-sdk-for-python/issues/new) following the template with description and steps to reproduce your issue ?
It would help us a lot to get an understanding on wha

[2020-08-27 18:19] Daniyaldehleh commented on #555
@Shreyas-vgr Hi Sherya! Nice to see you again. I would definitely follow the template and raise the issue. Btw any news from the timer investigation?

[2020-08-27 18:28] Shreyas-vgr commented on #555
@danieldhz, Sorry for the delay but service team found an underlying issue on their side and are working on it to fix them, will update the open python issue once I get a response back.

--  **Shreyas**

[2020-08-27 18:30] Daniyaldehleh commented on #555
@Shreyas-vgr Is there any hope that I can get back from before the hackathon? as that was the sole purpose why i took on this journey.

[2020-08-29 20:45] bickerdyke commented on #640
That feels somehow wrong... but it worked! Thank you!

This code works both during local development and when uploaded to firebase:

[code]

Thanks again for helping me come up with the workaround and adding it to the backlog. (Shouldn't be a decimal 1.0 a 1 and if it's supposed to be 1.0 a string? :-) )

[2020-08-31 17:25] ShenChen93 commented on #640
Thanks for the updating, glad it's working now :) Closing this issue here for now since it's tracked at our backlog

[2020-08-31 17:25] #640 closed, assigned to ShenChen93

[2020-09-06 22:42] agrohs commented on #408
Is there a full example somewhere of this working?

[2020-09-09 18:05] ShenChen93 commented on #553
Sorry guys for late response. The dialog directive so far cannot working together with other directives such as dynamic entities. If you really need this feature, would be great if you could post this request on [Alexa forum](https://forums.developer.amazon.com/spaces/23/Alexa+Skills+Kit.html) and vote for it.

[2020-09-09 18:05] #553 closed, assigned to ShenChen93

[2020-09-09 18:08] #629 closed, assigned to ShenChen93

[2020-09-09 18:26] ShenChen93 commented on #619
Sorry for the late response. It turns out those directives are wrapped in [ask-auto-sdk](https://github.com/alexa/alexa-auto-sdk) instead of our SDK. But still you could use those directive in your skill code. Sorry for the inconvenient, I know directly api call is not easy to use, we will look into it and provide better user experience.

I will close this issue on our side. Please feel free to re

[2020-09-09 18:26] #619 closed, assigned to ShenChen93

[2020-09-18 08:33] z4o4z opened #652 "updateAccountLinkingInfoV1 is not working"
the method `updateAccountLinkingInfoV1` is not working, the server returns such error:
[code]

after some investigation, I've found that this method sends the data in the body in the wrong format:
[code]

but the correct request should contain linking data in the `accountLinkingRequest` field:
[code]

P.S.
issue in  `alexa-apis-for-nodejs`: https://github.com/alexa/alexa-apis-for-nodejs/issues/10

[2020-09-18 08:37] z4o4z opened #653 "skipOnEnablement field is missed in the AccountLinkingRequest type"
`skipOnEnablement` is missed in the `v1.skill.accountLinking.AccountLinkingRequest` type

P.S.
issue in `alexa-apis-for-nodejs`: https://github.com/alexa/alexa-apis-for-nodejs/issues/12
PR in `alexa-apis-for-nodejs`: https://github.com/alexa/alexa-apis-for-nodejs/pull/13

[2020-09-18 21:13] ShenChen93 commented on #652
Hi @z4o4z ,

Thanks for point this issue out. Since our model pkg is auto-generated, thus we won't accept PR for the fix. Instead, we will fix this issue and release new model pkg soon.

Thanks,
Shen

[2020-09-18 21:14] ShenChen93 commented on #653
Hi @z4o4z

Thanks again for pointing this issue in model. Will fix it in next model release.

Thanks,
Shen

[2020-09-20 15:50] DecathectZero opened #655 "ISP customProductPrompts Inconsistency"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

In `ask-smapi-model` for `CustomProductPrompts` it is referred to as `boughtConfirmationPrompt`
https://github.com/alexa/alexa-apis-for-nodejs/b

[2020-09-22 00:06] ShenChen93 commented on #652
Hi @z4o4z ,

ask-smapi-model 1.12.1 was released with following changes: https://github.com/alexa/alexa-apis-for-nodejs/commit/acf06346c740d5e923e4cc13a097637046aec693. Could you please update model version and let us know if it works correctly.

Thanks,
Shen

[2020-09-22 00:13] ShenChen93 commented on #655
Hi @DecathectZero ,

Thanks for reporting this issue. Idealy those two schema should be exactly match, I will reachout to service team and figure out whether we need to update our model to use property name `boughtCardDescription`. If it's a model issue, we will fix it in next model release.

Thanks,
Shen

[2020-09-22 17:55] ShenChen93 commented on #652
Close this issue for now, please reopen if the issue still exit.

Thanks,
Shen

[2020-09-22 17:55] #652 closed, assigned to ShenChen93

[2020-09-22 17:57] ShenChen93 commented on #653
As mentioned in #652 , patch release of smapi sdk model is done to add skipOnEnablement property as well. Closing this issue for now, please reopen if you have any questions and concerns :)

Thanks,
Shen

[2020-09-22 17:57] #653 closed, assigned to ShenChen93

[2020-09-24 13:09] trademark18 commented on #17
@JonathanSarco I just experienced the exact same thing.  In Alexa for Business it shows that the account is linked and the device has access to the skill.  It just stopped working one day!

[2020-09-24 17:38] ShenChen93 commented on #655
Hi @DecathectZero ,

We released a new patch version of SMAPI Model 1.12.2 yesterday which fix this SPI issue. Thus will close this issue for now. Could you please download the latest SMAPI model and see if the issue is fixed. Please feel free to reopen if you still have questions or converns.

Thanks,
Shen

[2020-09-24 17:38] #655 closed, assigned to ShenChen93

[2020-10-16 22:11] jhonj98 opened #660 "Alexa developer console hangs when returning response from local debugger"
Hi everyone,

Please can you help me with the following issue:

I'm using ask-sdk-local-debug for debugging my skill code, I normally test it without debugging using my lambda function deployed in amazon lambda, but now I want to debug my skill code, I'm using VS Code, when I launch my skill from the developer console testing, everythings seem to run ok, even I can see my debug starting in VS Code

[2020-10-16 23:12] ShenChen93 commented on #660
Hi @jhonj98 ,

Thanks for using our SDK and the new local debug feature. For the timeout error, it's as expected as alexa service will timeout if no response is returned after a while(If you are using breakpoint, the response will be hold and service side will report this error). But it seems there's no breakpoint hit based on your screen cut. I need to investigate why response is not send back to

[2020-10-19 12:37] jhonj98 commented on #660
Hello @ShenChen-Amazon ,

Thanks for your fast reply, the skill id is amzn1.ask.skill.2b8bf215-1cb4-4a60-adc6-ff7b4ab2bcce, the language of the skill is es_MX. And yes, there is no break point in my code.

Kind regards.

Jhon Jairo.

[2020-10-20 17:16] sattpat commented on #660
Hi @jhonj98. Thanks for reporting this issue. Could you rerun this error scenario and notify us on this ticket as soon as you do so?

[2020-10-20 20:13] jhonj98 commented on #660
Hi @sattpat , I tested again the same scenario and the result is the same, no response yet in the developer console and timeout error in local console log.

Thank you.

Jhon Jairo.

[2020-10-20 20:18] sattpat commented on #660
And just to make sure, if you were to stop debugging, does the skill interaction work against the configured lambda/https endpoint?

[2020-10-20 20:24] jhonj98 commented on #660
Yes! if I stop the debugging, and restart my skill testing in the developer console, the skill returns working with my configured lambda/https endpoint.

Jhon Jairo.

[2020-10-20 22:48] Betatester777 opened #661 "Skill crashes when german characters are used in speak function during local debugging"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

lambda has the same behavior in alexa cloud as well as in local environment

## Current Behavior

lambda works fine alexa

[2020-10-22 01:57] ShenChen93 commented on #661
Hi @Betatester777 ,

Thanks for using our SDK and the new local debug feature. I tried to reproduce this issue by using the hello world sample skill and replace the utterance in helloWorldHandler. And I can successfully get the expected response.

![image](https://user-images.githubusercontent.com/45435608/96808819-7742f680-13ce-11eb-95aa-3813dae0be2a.png)

Is there any more detailed error message

[2020-10-22 20:38] Betatester777 commented on #661
Hello Shen,
thank you very much for quick help ;-)
You are right. I'm using asp.sdk.core v 2.10.1.
Your example is structured differently. You test uses alexa simulation in VS code and ask-sdk-local-debug module that works for me even with German characters fine too.
But there is no speech output, just text prints and keyboard input.

I'm using ngrok and I have changed the endpoint in the web cons

[2020-10-22 20:49] Betatester777 commented on #661
Hello Shen,
by the way, the documentation for ask-sdk-local-debug has a small issue:
node ./node_modules/ask-sdk-local-debug/dist/LocalDebuggerInvoker.js
      --accessToken <ACCESS_TOKEN>
      --skillID <SKILL_ID>
      --skillEntryFile <FILE_NAME>
      --handlerName <HANDLER_NAME>
Param **skillID** should be **skillId**

Greetings,
Ingo

[2020-10-22 20:59] ShenChen93 commented on #661
Hi @Betatester777 ,

Thanks for detailed explanation. Yeah, the extension way of simulation doesn't support audio output cause vscode doesn't provide those features so far. Sorry for the inconvenient.

The tutorial you pasted above is the temp solution we provide before we shipped the ask-sdk-local-debug module. With the ask-sdk-local-debug module, you won't need ngrok to redirect alexa request an

[2020-10-22 21:05] ShenChen93 commented on #661
Also thanks for pointing out the spelling issue, just fixed it :)

[2020-10-22 21:16] Betatester777 opened #662 "SSML interpret as spell-out doesn't work correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

The content is spelled independently of the number and order of the characters.

## Current Behavior

In some cases conte

[2020-10-23 08:44] Betatester777 commented on #661
Hi Shen,
have already tried everything.
Both: local and web simulator are using alexa hosted lambda and debugger doesn't stop at breakpoints.
I worked exactly as described in the manual and created access tokens as described too.

### Here is the console output:
`
/home/vorwerk/.nvm/versions/node/v11.13.0/bin/node ./lambda/node_modules/ask-sdk-local-debug/dist/LocalDebuggerInvoker.js --accessToken

[2020-10-23 20:44] ShenChen93 commented on #661
Hi @Betatester777 ,

Thanks for providing the json input. Sorry, I just realized that you are using the EU endpiont, as "apiEndpoint": "https://api.eu.amazonalexa.com". However, as noted in the console output, local debug feature currently only available for invocations from customer in North America region. The EU and other region are not supported for now.

Sorry for the inconvenience. We are wo

[2020-10-23 21:14] ShenChen93 commented on #662
Hi @Betatester777 ,

I could reproduce this issue and seems single dot will be ignored in ssml. However, it's not a SDK issue as the `<say-as interpret-as="spell-out">.</say-as>` do exist in response body. I am curious in which situation you would need a single dot ? I could help reach out to service team for this feature request if theres' a good scenario.

Thanks,
Shen

[2020-10-23 22:15] Betatester777 commented on #662
Hi Shen,
my use case was a dictation As you remember from your school days, the teacher reads sentences aloud and spells out the punctuation marks.
Currently I'm using constants for punctuation marks as a workaround, but with proper support it is much easier to spell the punctuation marks in any language.
Regards,
Ingo

[2020-10-23 23:01] Betatester777 commented on #661
Hi Shen,
It works perfectly. Via web console as well as via local simulator and with German characters as well.
Thank you very much for your help and support.
Hopefully the debugging functionality will soon be available for EU accounts as well.
But for now I'm making good progress thanks to your information and I'm happy.

One last question (Sorry, I have not yet managed to try it out)
do i have t

[2020-10-27 20:13] ShenChen93 commented on #661
Hi @Betatester777 ,

Sorry for responding late. For your last question, unfortunately the local skill have no access permission to Alexa hosted S3 bucket. There's a workaround I can think up to achieve it: 1. [Configure alexa hosted skill to use your personal AWS resources](https://developer.amazon.com/en-US/docs/alexa/hosted-skills/alexa-hosted-skills-personal-aws.html). 2. Get the aws credential

[2020-10-27 21:10] Betatester777 commented on #661
Hello Shen,
Thank you very much for your answer ;-)
I also have an AWS account. So I will try to follow the tutorial above.
Another option I thought about was to use https://github.com/localstack/localstack for local debugging.
Regards,
Ingo

[2020-10-28 05:18] linehammer commented on #606
Python language is a very sensitive language for indentation, it has caused confusion for many beginners. Putting in an extra space or leaving one out where it is needed will surely generate an error message . Some common causes of this error include:

- Forgetting to indent the statements within a compound statement
- Forgetting to indent the statements of a user-defined function.

The error mess

[2020-11-07 21:22] rat commented on #618
This feature is extremely important for engaging with reminders. I am developing a skill to help autistic children, but without audio tags, their engagement is quite bad.

Is there a possibility that the team has already released this resource? @ShenChen-Amazon

[2020-11-08 19:30] tejak85 commented on #572
Also  device id  is changing. Would be great if there is a unique id in the json request.

[2020-11-11 07:27] sattpat commented on #661
Local debugging is now available for EU regions as well. Follow the instructions [here](https://developer.amazon.com/en-US/docs/alexa/ask-toolkit/vs-code-testing-simulator.html#prepare) to configure your region input and get started

[2020-11-11 19:32] #661 closed, assigned to ShenChen93

[2020-11-14 13:12] dante-byte opened #664 "i'm making a simple application and i getting this error {"errorMessage":"Requested resource not found"} I created a terable"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe: i have a simple node.js crud app i make a post request to a table that i created in dynamodb adn i get and error {"errorMessage":"Requested resource not found

[2020-11-14 13:14] dante-byte commented on #292
i'm having the same issue I read the documentation on amazon, but i have a simple post request, my. get request works but my post request doesn't i dont' my sharing my code I'm making. a simple crud app for a demo

[2020-11-16 05:24] ShenChen93 commented on #664
Hi @dante-byte ,

Could you please provide more detailed info thus I could try to reproduce the issue. I wonder if you are making a Alexa Skill with the ask-sdk-dynamodb-persistence-adapter ? And which instruction are you following ? Also is your skill an Alexa hosted skill or non-hosted skill ?

Thanks,
Shen

[2020-11-19 10:04] JDarrenHulipas opened #665 "Custom Alexa skill: searching for the problem"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe: I have a custom Alexa skill and I have an issue that don't know where it came from
</code></pre>

## Expected Behavior

I can't run the skill correctly. When I

[2020-11-19 10:20] ghost commented on #665
It tells you right here!

So you just need to find where you are using "await" and change the function from "function (something)" to "async function (something)"

[2020-11-19 11:40] JDarrenHulipas commented on #665
I already did that mr. @digitaltoast in the LaunchRequestHandler
![image](https://user-images.githubusercontent.com/43959947/99661647-6edcea80-2a64-11eb-8292-810d8328fd24.png)

[2020-11-19 11:57] JDarrenHulipas commented on #665
I already do that. Also in other intents too
![image](https://user-images.githubusercontent.com/43959947/99663260-9a60d480-2a66-11eb-98f2-eeedb6c05088.png)

[2020-11-19 12:02] JDarrenHulipas commented on #665
U right, I found it the problem. it was well hidden

[2020-11-19 12:02] #665 closed, assigned to nobody

[2020-11-23 17:06] SahilS-Hexaware commented on #513
Hi I want access sample or utterance passed by the user from ask-sdk-core I'm trying this handlerInput.resuestEnvelope.request.intent.Can anyone help me in this

[2020-11-23 17:50] SahilS-Hexaware commented on #513
hi,
 I am trying to have full utterance/sample in my code

like -->  what is leave

I want this in my code
Im trying this
handlerInput.resuestEnvelope.request.intent.value

can anyone help me?

[2020-11-23 23:04] ShenChen93 commented on #513
Hi @SahilS-Hexaware ,

Thanks for reaching out. The actual user utterance won't be available in the Alexa request. When users say something to Alexa device, the user utterance will be sent to Alexa NLU service and it will be translated into corresponding user intent based on the skill's interaction model. After NLU process, Alexa will then send the Alexa request to your skill lambda code, and Alex

[2020-12-01 21:10] ShenChen93 commented on #664
Close this issue for now since no responding. Please feel free to reopen :)

[2020-12-01 21:10] #664 closed, assigned to ShenChen93

[2020-12-01 21:16] ShenChen93 commented on #662
Hi @Betatester777 ,

Sorry for responding late.  Our service team suspected the problem is in the way the trailing punctuation is attached to the ultimate word of the preceding sentence. This movement should not cross <say-as> boundary, but it seems it does.

The service team provide another workaround, E.G.:
[code]
I will post update here once this issue is fixed.

Thanks,
Shen

[2020-12-02 05:34] voiceactivity opened #667 "In-Skill-Purchase Connections.Response (Buy|Upsell) with "purchaseResult":"DECLINED" never received for es-ES, es-US locales"
I have a problem with the Spanish version of the Alexa skill that uses ISP:
Connections.Response (Buy|Upsell) with "purchaseResult":"DECLINED" never received for es-ES, es-US locales

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:

[2020-12-02 05:51] ShenChen93 commented on #667
Hi @voiceactivity ,

I would need to reach out to service team to figure out whether Connections.Response is sent back to your skill endpoint when users say 'no'. Could you please provide us with the skillId ?

Thanks,
Shen

[2020-12-02 05:58] voiceactivity commented on #667
Sure: amzn1.ask.skill.03f7a015-354f-4659-92a9-48b822c29556

Thanks a lot for a super quick response!

[2020-12-02 16:53] evidrascu commented on #453
I came accross a similar issue which I fixed by adding a manual check via an` if `statement to make sure the value is indeed a number between certain values.
As I disabled auto delegation for this intent, and never delegated the dialog back to Alexa, I had to validate the slots myself as seen below. It's explained in their documentation that validations rule work only when the dialogue is delegate

[2020-12-02 23:59] ShenChen93 commented on #667
Hi @voiceactivity ,

It seems the service team already know this issue and they are  work on it. I will keep posting updates here.

Thanks,
Shen

[2020-12-03 02:12] voiceactivity commented on #667
Perfect! Thank you.

[2020-12-05 13:13] TheDreamSaver opened #668 "Weird behaviour of interceptors when using (event, context, callback)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

The number of times Request and Response interceptors are printed is incrementing on every request. Please check the image below for reference.

[2020-12-07 01:10] ShenChen93 commented on #668
Hi @TheDreamSaver ,

I tried to use this [code](https://github.com/ShenChen-Amazon/InterceptorTest/blob/master/index.js) to reproduce but failed. Here is the logs I got
![image](https://user-images.githubusercontent.com/45435608/101299195-1ccaf180-37e6-11eb-9aa2-99aae2c2dc1a.png)

In my test, each request produce only one responseInterceptor log and only one requestInterceptor log. Could you pleas

[2020-12-07 11:53] TheDreamSaver commented on #668
Hi

Here is my original code that had the issue - https://hastebin.com/xiqikowibi.js

I was able to resolve the issue when I created a lambdaHandler outside:

[code]

[2020-12-07 23:38] ShenChen93 commented on #668
Hi @TheDreamSaver ,

Thanks for providing the code base. I think i found the root cause based on the workaround you provided. You can think the skillBuilder is a central place where host all requestHandlers, Interceptors. In your code base, line 130, you register all requestHandlers and Interceptors whenever the handler is invoked. Since the skillBuilder has no mechanism to check the duplicate han

[2020-12-08 12:54] TheDreamSaver commented on #668
Thanks a lot for digging into it and the explanation Shen. It is very helpful and does make sense.

So essentially in the normal pattern like below, we are sending a new skillBuilder in each turn?

[code]

[2020-12-08 20:33] ShenChen93 commented on #668
Hi @TheDreamSaver ,

Nah, the above code only generate skillBuilder once. The skillBuilder is a global instance and is generated when `.custom()` is executed. With the normal pattern, all the code will only be executed once and it define the handler functionIn in the end. In each turn, Lambda will invoke the handler function only.

However, if you use the pattern in your first sample, the handler

[2020-12-09 18:27] ShenChen93 commented on #668
Closing since the problem is resolved. Please feel free to reopen if you have other questions :)

[2020-12-09 18:27] #668 closed, assigned to ShenChen93

[2020-12-10 13:30] garejon opened #669 "Multi-turn SMAPI interactions not possible"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

Multi-turn for SMAPI SDK:
Currently a request to an Alexa skill can be simulated, but it is not possible to simulate two r

[2020-12-10 20:33] ShenChen93 commented on #669
Hi @garejon

Thanks for posting this issue. If you are using the smapiClient.simulateSkillV2(), it should be able to keep the session open. Our VSCode extension also [use this api to achieve the skill simulator feature](https://github.com/alexa/ask-toolkit-for-vscode/blob/development/src/utils/simulateSkillHelper.ts#L114) and it support multi-turn dialog. This is the smapi api behind the simulateS

[2020-12-14 09:39] leotorres-16 commented on #669
Hi @ShenChen-Amazon,

I am working on the same project with @garejon I can confirm we are using the `DEFAULT` session mode, however our skill relies heavily on the Audio Player, could this be the reason why we can't do multi turn interactions ? We are trying to tests a simple play -> pause -> resume scenario and when we try to `pause` or go `next` for example with the simulator, the session is gon

[2020-12-15 01:26] ShenChen93 commented on #669
@leotorres-16 @garejon ,

Thanks for the confirmation. I reached out to service team asking if this API support audioPlayer use case, the answer is unfortunately this simulate api right now doesn't support this use case. When the simulate api is invoked, it will auto register device for testing the skill.  However, the auto registered device so far doesn't have certain capabilities like player/tim

[2020-12-15 01:26] #669 closed, assigned to ShenChen93

[2020-12-17 18:40] CraigVella opened #670 "Does not work with beta ASK-SDK"
skill.appendAdditionalUserAgent('ask-express-adapter');
              ^
TypeError: skill.appendAdditionalUserAgent is not a function

[2020-12-17 19:28] ShenChen93 commented on #670
Hi @ChaseHQ ,

Thanks for using our SDK! May I know which verison of SDK are you using ? I am not clear what is the beta ASK-SDK.

Thanks,
Shen

[2020-12-18 16:35] CraigVella commented on #670
I'm trying to utilize name free interactions, so i'm using the public preview/beta as directed by alexa documentation. However the express adapter does not seem to work with the public preview/beta, I get the error posted above within node.

[2020-12-18 19:10] ShenChen93 commented on #670
Hi @ChaseHQ,

Are you using any preview/beta codebase provided by Alexa ? If so, could you please provide me a link so I can take a look. Also I would like to know how you build the skill object. It seems the skill object you passed into express-adapter is not a valida skill object as appendAdditionalUserAgent function was missing.

Thanks,
Shen

[2020-12-18 19:30] ghost commented on #670
I think @ChaseHQ might be looking at https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/tree/2.x_public-beta

It's very confusing - it was last updated in 2018 but says

"This branch is 8 commits *ahead*, 204 commits behind 2.0.x."

It might be an idea to remove it and references to it from the docs if it's not relevant.

[2020-12-18 19:40] ShenChen93 commented on #670
Hi @digitaltoast ,

Thanks for the info. 2.x_public-beta branch was used when our v2 sdk was in public beta stage, as far as I know this branch is not used anymore. I will confirm with my team and delete this branch to reduce confusion.

And, It can explain why appendAdditionalUserAgent is missing, cause this function is added in ask-sdk-core v2.7.0. @ChaseHQ , if you are using the beta branch, co

[2020-12-22 12:00] paul-uz opened #671 "shouldEndSession is not a function"
I am writing the handlers for Cancel and Stop, and I believe I should use `shouldEndSession` to close the session properly.

In the docs, http://ask-sdk-node-typedoc.s3-website-us-east-1.amazonaws.com/classes/responsebuilder.html#shouldendsession, it would appear I can add this to a response like so...

[code]

But, this results in the error `shouldEndSession is not a function`

There is an overwh

[2020-12-22 17:36] ShenChen93 commented on #671
Hi @paul-uz ,

The function `shouldEndSession` is exported in `ask-sdk-v1adapter` package, which is used to help v1 SDK users to migrate to v2 SDK. For your case, you could use `withShouldEndSession` function exported in `ask-sdk-core` package, [ref](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/655f94f/ask-sdk-core/lib/response/ResponseBuilder.ts#L178).

Let me know if it works fo

[2020-12-22 21:05] paul-uz commented on #671
Right.

Can you perhaps update your documentation then? As it is clearly wrong.

[2021-01-05 00:31] ShenChen93 commented on #670
Close this issue for now since no response from requester. Please feel free to reopen if you still have the issue

[2021-01-05 00:31] #670 closed, assigned to ShenChen93

[2021-01-05 00:32] ShenChen93 commented on #667
Hi @voiceactivity ,

I heard from service team that the issue should be resovled now. Could you please try and let us know if it is fixed ?

Thanks,
Shen

[2021-01-05 00:37] ShenChen93 commented on #662
Service side acknoledged this issue, thus I will close it from SDK side now

[2021-01-05 00:37] #662 closed, assigned to ShenChen93

[2021-01-05 01:29] ShenChen93 commented on #671
Hi @paul-uz ,

Sorry for responding late. Right now the api doc is autogenerated based on all the packages in our github repo. The tool we are using to generate the api doc is the `typedoc`. However, right now this tool has limitation on [directory-based hierarchy](https://github.com/TypeStrong/typedoc/issues/379). Thus class with same name but defined in diferrent modules will be combined into on

[2021-01-05 01:39] voiceactivity commented on #667
It works!
Appreciate your help Shen and the Service team of course 👍

Thanks,
Paul

[2021-01-05 11:50] jamesrusso opened #672 "Use this library to create smart-home skills?"
I've spent the evening looking, but is there any Amazon provided library for the development of smart home skills? This library seems to only apply to custom skills?

I'd even be happy with just types for the smart home skill request and responses but can't seem to find them anywhere?

Are they not available?

I don't want to re-invent the wheel especially when this implementation seems so elegant

[2021-01-05 14:06] haruharuharuby commented on #672
Hi, @jamesrusso

Currently, ASK SDK is not compatible with smart home skill.
You are right. ASK SDK is only compatible with custom skills now.

The smart home skill has a big difference to handle the request from Alexa Device. (except top frame)

There is the unofficial and conceptual library for Alexa Smart Home Skill.
https://github.com/secual/alexa-smart-home-controller
for your reference.

[2021-01-05 14:16] jamesrusso commented on #672
Thank you for the link to https://github.com/secual/alexa-smart-home-controller. I'll check it out. I just felt like I was re-inventing the wheel crafting responses, had no typings, etc.

[2021-01-05 14:16] #672 closed, assigned to nobody

[2021-01-08 02:33] #667 closed, assigned to ShenChen93

[2021-01-08 20:11] laurenschneider opened #674 "SSML tags are not resolved in skill response"
# I'm submitting a...

[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
ResponseBuilder.speak() does not process SSML tags.

# Expected Behavior

When returning a response that includes SSML tags, the spoken output applies those tags.

return

[2021-01-08 20:48] ShenChen93 commented on #674
Hi @laurenschneider
Thanks for using our SDK ! The util function escapeXmlCharacters is used to escapse XML Characters. For normal SSML string, you could directly pass it to the speak function as it will automatically determine if it's a plainText or SSML string. Thus you could fix your code by follwing change:
[code]

Let me know if it fix your issue :)

Thanks,
Shen

[2021-01-08 22:53] #674 closed, assigned to ShenChen93

[2021-01-20 02:31] ShenChen93 commented on #559
Looks like this util function is already exist in ask-sdk-core: https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/2.0.x/ask-sdk-core/lib/index.ts#L49.

Closing this issue for now, please feel free free to reopen if it dosn't solve your problem :)

[2021-01-20 02:31] #559 closed, assigned to nobody

[2021-01-20 02:42] jacobweber commented on #559
I don't think escapeXmlCharacters solves the problem, due to the issue I mentioned above. But I'm not working on this anymore, so I don't personally need it.

[2021-01-21 21:49] ShenChen93 commented on #613
The doc is now updated after long delay, thanks again for posting the issue and being patient. Closing this issue now :)

[2021-01-21 21:49] #613 closed, assigned to ShenChen93

[2021-01-21 22:50] ShenChen93 commented on #616
HI @germanviscuso

The doc folder in this repo is actually deprecated, and we moved all docs to developer portal. Sorry for the long delay, the doc team add the timer api link in the Nodejs SDK overview: https://developer.amazon.com/en-US/docs/alexa/alexa-skills-kit-sdk-for-nodejs/overview.html. Closing this issue now :)

Thanks,
Shen

[2021-01-21 22:50] #616 closed, assigned to nobody

[2021-01-30 08:44] mbecker opened #675 "Return responseBuilder speak with german "Umlaute" ("ä", "ö", "ü", ...)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
The following response with a german "Umlaut" ("ä") should be returned and processed by Alexa succesfully:
[code]

## Curre

[2021-02-01 18:22] ShenChen93 commented on #675
Hi @mbecker ,

I tried to reproduce this issue by using the HelloWold template skill and using the following code in my helloWorld IntentHandler
[code]

However, the skill works as expected when I tested it on simulator.
![image](https://user-images.githubusercontent.com/45435608/106500764-1029e900-6477-11eb-8409-4015d20f0121.png)

Thus I wonder if the root cause is something else. If the error ha

[2021-02-01 22:52] mbecker commented on #675
Hi Shen,

thank you very much for trying this on your own! Highly appreciate that!

For me, no "error handling IntentHandler" is triggered. But immediately after the original IntentHandler is triggered the "Request Type SessionEndedRequest" is called with an "error type INVALID_RESPONSE".

The original from Alexa is as follows
[code]

My skill is responding with
[code]

Immediately after the servi

[2021-02-01 23:48] ShenChen93 commented on #675
Hi @mbecker

Thanks for providing the Original request / response. The skill response for unhappy case looks good to me. Probably I would need to reach out to runtime team to figure out why it's failed to dispatch the request to your skill. Thus could you please provide me with your **skill ID** and the **time window** when you met this issue ?

Thanks,
Shen

[2021-02-01 23:58] mbecker commented on #675
Hi Shen,

wow! Sure, the Alexa Skill ID is as follows: amzn1.ask.skill.a38f7e8e-c32a-48f6-ba34-1ab374bbe9ff

The datetime for the original request is as follows: 2021-02-01T22:57:23.000Z
The datetime for the "error" request immediately after responding is as follows: 2021-02-01T22:57:24.000Z

I hope that helps. Thanks again!

[2021-02-02 12:28] mbecker commented on #675
Hi Shen,

the Alexa Skill was self-hosted. That's why maybe that problem exists. With an AWS Lamdba hosted Alexa Skill the problem doesn't occur.

So, I would say it's more or less fixed because it was never an issue with an AWS Lambda hosted Alexa Skill.

But thanks for your looking into this!

[2021-02-02 12:28] #675 closed, assigned to ShenChen93

[2021-02-07 17:02] talkingnews opened #676 "ASK Toolkit for VS Code - Only recently updated skills are appearing in Download list"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

"Download or edit skill" should provide a full list of all skills

## Current Behavior

Only appears to download skills ed

[2021-02-07 17:05] talkingnews opened #677 "ASK Toolkit for VSCode - excessive "Failed to upload telemetry data" in logs"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Current Behavior

"Failed to upload telemetry data" appears in logs excessively. I don't have any outgoing ports blocked.

**NOTE** This is n

[2021-02-07 17:40] nikhilym commented on #677
Hey @talkingnews , thanks for raising the issue. Since this is related to the vscode extension, transferring it to that repo

[2021-02-07 17:42] nikhilym commented on #676
Hey @talkingnews , moving this issue to the vscode extension repository.

[2021-02-10 17:55] lucapalano commented on #660
Same issue for me. Any news about this?

[2021-02-11 15:35] sattpat commented on #660
Apologies for not updating the issue. Last time around I wasnt able to simulate the issue. @lucapalano and @jhonj98, is the locale you are using for testing, consistent with language used in your skill code base? In case of @jhonj98 , the response returned by your LOCAL skill code is in MX as well? @lucapalano and @jhonj98 if you can supply me the latest skill id that you are using when encounteri

[2021-02-12 08:32] sam-goodwin opened #678 "Export services.skillManagement.SkillManagementServiceClient from ask-smapi-sdk."
Why isn't the type of the client exported from `ask-smapi-sdk`?

I am using the `ask-smapi-sdk` and noticed that the `CustomSmapiClientBuilder` exposes a private type.

[code]

Specifically:
[code]

But `SkillManagementServiceClient` is not exported:
[code]

I'm trying to write a class that wraps the client:
[code]

If the type is private, what type am i supposed to put here?

The only way to use