[2021-02-12 08:39] sam-goodwin opened #679 "Simplify SMAPI client instantiation."
Using the SMAPI SDKs has high friction. There are three manual steps:
1. Create a Client ID (store somewhere safe)
2. `ask util generate-lwa-tokens`
3. Manually load `~/.ask/cli_config` and include when instantiating the client.

Every developers has to do this if they want to use the SMAPI SDK.

Can we make it as simple as the AWS CLI?

[code]

[code]

## Desired Experience

[code]

[code]

[2021-02-12 09:23] sam-goodwin opened #680 "Remove "callX" methods from the SMAPI clients."
The SMAPI client has two methods for each API - one high level one and a generic HTTP one, prefixed with `call`. For example: `importSkillPackageV1` and `callImportSkillPackageV1`.

This is confusing for users - it took me a while to figure out what was going on. More importantly, the "high level" API is sometimes not functional. In the case of `importSkillPackageV1`, it return `void` instead of a

[2021-02-15 05:38] ShenChen93 commented on #678
Hi Sam,
The services.skillManagement.SkillManagementServiceClient is exported in the smapi sdk model: https://github.com/alexa/alexa-apis-for-nodejs/blob/master/ask-smapi-model/index.ts#L6772. Thus for now developer need to import the type from model seperately.

To better improve the user experience, I think we could re-export  SkillManagementServiceClient in smapi sdk. Do you think it would be g

[2021-02-17 09:23] lucapalano commented on #660
Hi everyone,

I don't know what NodeJS version was used by @jhonj98 . I'm using NodeJS 14.x with VSCode 1.53.2 on Mac OS X. I also tested it with embedded Skill Simulation in VSCode and from ask cli.

However, I found a solution to my issue. In my case, the timeout was due to the wrong handler registration:
[code]
It was copied from [this amazon guide](https://developer.amazon.com/en-US/docs/alexa

[2021-02-17 19:01] sattpat commented on #660
Marking the issue for closure. Please reopen if the issue hasnt been resolved.

[2021-02-18 20:56] Shreyas-vgr opened #681 "Improve request/response format on local debugging"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
 - Either use better formatting of **Skill response** and **Skill

[2021-02-19 08:07] talkingnews commented on #681
Good request! I was going to suggest this but I thought I was being stupid and just hadn't seen a config somewhere.

Give that the json input and response are shown in the simulator window, what would be much more useful in the debug window would be my own console.warn/log/error output.  OR another window in the simulator for logging info?
![image](https://user-images.githubusercontent.com/1552808

[2021-02-20 01:41] voiceactivity opened #682 "Audio player on Echo devices interrupts playing an audio: possiblly a memory leak."
## I'm submitting a bug

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Other... Please describe: Sorry, the issue should have been raised with the Amazon Service team but it looks
like there is no easy way to do that.
</code></pre>

## Expected Behavior

[2021-02-20 01:58] ShenChen93 commented on #682
Hi @voiceactivity,

As you mentioned, it should not be an issue logged at SDK side. Could you please log this issue at the alxea forum ? I could help reach out to service team with the forum link, and it would be easier for you to directly communicate with service team members.

Thanks,
Shen

[2021-02-20 02:07] voiceactivity commented on #682
Sure. Sorry for that. I'm going to close that one out.
The reference: https://forums.developer.amazon.com/questions/203641/audio-player-error.html?childToView=237210#answer-237210

[2021-02-20 02:07] #682 closed, assigned to nobody

[2021-02-20 02:08] voiceactivity commented on #682
Will be raised with the Alexa service team

[2021-02-22 10:50] wes1993 commented on #524
@lekanoni20 hello, how you have solved the problem?

[2021-02-22 23:14] RonWang commented on #679
+1 There is no doubt that a shared file for credential management would greatly simplify the authorization management.

In the meantime, ASK doesn't have the IAM part as AWS has. We need to investigate how much value the [ClientID](https://developer.amazon.com/docs/login-with-amazon/authorization-code-grant.html#authorization-request) has for skill developers. Because the credential file defined b

[2021-02-23 10:50] TimeO84 opened #683 "ListManagementService isn't accepting the apiAccessToken anymore"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

ListManagementService isn't acception the apiAccessToken anymore, you have to use the deprecated consentToken

## Expected Behavior
let ListMana

[2021-02-23 12:27] matijagrcic opened #684 "Cannot find module WebSocketClient.js"
Installed the [ask-sdk-local-debug](https://www.npmjs.com/package/ask-sdk-local-debug)
Configured the `launch.json`

[code]

Debugger gets attached all the args are passed correctly but it fails with

`Error: Cannot find module 'C:\Git\Alexa\lambda\node_modules\ask-sdk-local-debug\dist\client\WebSocketClient.js'. Please verify that the package.json has a valid "main" entry`

I've looked at that mo

[2021-02-23 21:31] ShenChen93 commented on #684
Hi @matijagrcic

Thanks for posting this issue. As you mentioned, `"program": "${command:ask.debugAdapterPath}", //this didn't find the ask-sdk-local-debug so used "program": "${workspaceFolder}/lambda/node_modules/ask-sdk-local-debug/",`, I wonder what's the error message you got while using the original config ?

Also, previously we haven't think up the use case of linking to the local-debug pac

[2021-02-23 23:27] ShenChen93 commented on #683
Hi @TimeO84 ,

Thanks for using our SDK ! For this issue, I wonder if you correctly grant permission to the skills, here is the doc for instruction: https://developer.amazon.com/en-US/docs/alexa/custom-skills/access-the-alexa-shopping-and-to-do-lists.html#integrate-list-management-capabilities-into-your-skill.

Basically, you would need to first go to developer console, at the permission tab, you

[2021-02-24 00:04] TimeO84 commented on #683
Hello Shen,

all my permissions are set correctly. It stopped working for about 2 weeks. If i use the given consentToken I am able to retrieve the Lists Metadata. Maybe i am wrong on GitHub with this Problem and it is a Problem with the Service itself.

[2021-02-24 00:31] ShenChen93 commented on #683
Hi @TimeO84 ,

Umm, if so probably we can't help you investigate the root cause. I would recommend you to log this issue to [Alexa Forum](https://forums.developer.amazon.com/spaces/23/Alexa+Skills+Kit.html), thus people from service team could works with you to figure it out.

Closing this ticket from sdk side for now. Please feel free to reopen if you have any other concerns :)

Thanks,
Shen

[2021-02-24 00:31] #683 closed, assigned to ShenChen93

[2021-02-24 00:42] ShenChen93 commented on #683
@TimeO84

Actually Alexa just set up a 3P slack community: http://alexa.design/slack. Maybe you could also log question there ?

[2021-02-24 06:15] sam-goodwin commented on #678
I'd prefer to avoid re-exporting types since it breaks jump-to-definition and confuses auto import.

[2021-02-24 13:11] matijagrcic commented on #684
Hi @ShenChen-Amazon and thanks for replaying.

The exception is the following:

![image](https://user-images.githubusercontent.com/3612395/109005063-d29d3200-76a9-11eb-935b-af05fd1072cb.png)

I've already tried to point to the `LocalDebuggerInvoker.js` as I was looking into the possible entry points given the one used doesn't exist, but then the exception is the following:

`Exception has occurred

[2021-02-24 19:19] ShenChen93 commented on #684
Hi @matijagrcic

As the error message is not related to local-debug after you update the config, I think vscode could already find local-deubg package right now. For the new exception, since local-deubug and other SDK pacakges doesn't depend on `bufferutil`, I guess it's a dependency added by other packages or yourself. So looks like it's not only the local debug, but your vscode failed to find ot

[2021-03-01 21:49] ShenChen93 commented on #684
Hi @matijagrcic

Just a quick follow up. Are you still seeing this issue ?

[2021-03-03 18:01] matijagrcic commented on #684
Hi @ShenChen-Amazon ,

I've used the following and then the debugger works fine (hits breakpoints).

`"program": "node_modules/ask-sdk-local-debug/dist/LocalDebuggerInvoker.js",`

Same issue was reported here https://github.com/alexa/ask-toolkit-for-vscode/issues/99#issuecomment-775202569

Where it fails is when I try to do anything with DynamoDB resulting in

`~~~~ Error handled: {"name":"AskSdk.

[2021-03-04 00:13] ShenChen93 commented on #684
Hi @matijagrcic

Glad to hear that the workaround solve your issue. And for sure we will investigate whether the vscode command failed to retrieve the local-deub package path.

Then for the dynamodb issue, the error message is not very helpful, and my guess is the permission issue. When your lambda code is exectued at aws lambda instead of local debug, the lambda use IAM role to access the dynamod

[2021-03-04 10:08] matijagrcic commented on #684
HI @ShenChen-Amazon ,

I'm familiar with IAM role(s) etc and I also think it's because of the permissions but when I ran the

`ask configure`

and followed the steps it fails on the step where it opens the IAM dashboard, full terminal log below along with what's
displayed in the IAM dashboard web page

[code]

IAM dashboard

[code]

So how do I get the `accessKeyId `and `secretAccessKey `when usin

[2021-03-04 19:26] ShenChen93 commented on #684
Hi @matijagrcic ,

If you are using hosted skill, then there's no way to get the credential so far. Hosted skill service manage all the aws resources and they haven't provide way for developer to retrieve.  I am sorry for the inconveience, but this is a good feature request for hosted skill team, I will track it with their team. Closing this issue from our side for now, as the original issue is tr

[2021-03-04 19:26] #684 closed, assigned to ShenChen93

[2021-03-05 11:27] matijagrcic commented on #684
Hi @ShenChen-Amazon ,

Yeah, makes sense.
Let me help you with features requests, and please let me know where should i open them:

Both of the above listed really undermine the whole "hosted skill" mentality.

[2021-03-05 20:29] ShenChen93 commented on #684
Hi @matijagrcic

Just knowed that there's a solution that could help local debug persistent adapter: https://github.com/alexa/alexa-cookbook/tree/master/tools/LocalPersistence, hope it could help for now.

For `allow local debug for hosted alexa skill when using DynamoDB`, you could open an new issue at this repo. For `allow hosted skill to define a "outDir": "dist" instead of having a hardcoded i

[2021-03-15 09:54] Jamie0 opened #685 "Verifier Broken Due To Dependency"
https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/9b0dd9fbd0169e140be09ed3dfda2e30772dd0af/ask-sdk-express-adapter/lib/verifier/index.ts#L288

To validate signatures on incoming requests, the Alexa skills hit uses the 'ssl-root-cas' nodejs package, loaded as `ssl-root-cas/latest`.

This package doesn't appear to have been updated beyond 1.3.1. Due to a breaking change in Firefox, the p

[2021-03-15 17:44] ShenChen93 commented on #685
Hi @Jamie0 ,

Thanks for posting this issue. I just created a new issue on ssl-root-cas repo: https://github.com/windhamg/node-ssl-root-cas/issues/1. If there is no fix plan for ssl-root-cas, i plan to use `tls.rootCertificates` to load all root cas instead (which require node version >= 12.3.0).

Thanks,
Shen

[2021-03-16 02:19] ShenChen93 commented on #685
PR for the fix is merged in: https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/commit/8217a3f38ce1cba9d6b5b9d2488902cf12322cb7. Will do release ASAP

[2021-03-16 18:05] ShenChen93 commented on #685
Closing this issue as ask-sdk-express-adapter v2.10.2 is released to fix this issue

[2021-03-16 18:05] #685 closed, assigned to ShenChen93

[2021-04-21 11:03] mohamed-arradi commented on #618
This feature is indeed very important where we would like reminders to be customized and catered to a specific audience. All my users are asking me this feature, and therefore they put bad rating as it seems logical for them :).

[2021-05-08 02:12] voiceactivity opened #688 "APL video onPause event inconsistently returns event.currentTime (milliseconds)"
**Expected behavior**:
  According to the doc the onPause callback should return a current playback position in the current video track, expressed in milliseconds (currentTime):
https://developer.amazon.com/en-US/docs/alexa/alexa-presentation-language/apl-video.html#onpause

That means, when you trigger a Pause event multiple times (e.g. during multiple time intervals), the APL video player should

[2021-05-08 19:15] ShenChen93 commented on #688
Hi Paul, our SDK is a pass through layer and we can not help on the data consistency issue. Could you please provide me with your Skill Id thus I could help reach out to APL team to further investigate.

Thanks,
Shen

[2021-05-08 20:11] voiceactivity commented on #688
Sure. Thank you.
amzn1.ask.skill.c811a066-3e2c-4a19-b237-ae5026eafb9c

[2021-05-20 14:01] icelic commented on #453
Are there any plans to add some other validation options like isNumber for AMAZON.NUMBER? It would be great if we didn't have to manually check for things like if the AMAZON.NUMBER slot's value is actually a number.

[2021-05-23 18:08] arunsingh28 commented on #660
.

[2021-05-28 17:13] chandora opened #690 "SMAPI's Simulation API Failed with An unexpected error occured"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

I invoked a skill via the SMAPI Simulation API on the following conditions:

* The skill has an intent with a slot.
* The

[2021-05-28 21:07] ShenChen93 commented on #690
Hi @chandora ,

Thanks for using our SDK ! Could you please provide your skill ID ? Thus we could check the logs on service side

Thanks,
Shen

[2021-05-29 01:20] chandora commented on #690
@ShenChen-Amazon

Thank you for checking this.
The skill ID is as follows:

amzn1.ask.skill.322a16f8-88ee-4e53-8e07-feec69668649

The last run was the error case.

Thank you,
chandora

[2021-05-31 20:32] ShenChen93 commented on #690
Hi @chandora ,

Confirmed with the service team. It turns out this is the expected behavior.  With auto delegation Alexa will prompt for slot elicitation without invoking the skill.

this does not happen, the service side do not return any responses where the skill was not involved, and the simulation api fail because of missing skill I/O.

Thanks,
Shen

[2021-05-31 23:36] chandora commented on #690
Hi @ShenChen-Amazon ,

Thank you for the quick response.

Is there any way to test a conversation with the auto delegation?
I know that the Alexa Simulator in the Developer Console supports it. So I believe there might be an API to do it.

If no API is available for it, I will consider submitting a feature request.

I am developing an automated skill test driver, and need this capability for integ

[2021-06-01 21:30] ShenChen93 commented on #690
Hi @chandora ,

Unfortunately, the auto delegation is managed by the Dialog Management service, currently the simulate api doesn't support simulate DM. This is a very good point for the simulate api. I've raised a feature request on the service team.

You could post this feature request at [Alexa forums](https://forums.developer.amazon.com/spaces/23/Alexa+Skills+Kit.html) as well and vote for it,

[2021-06-02 05:31] voiceactivity commented on #610
Looks like the latest AVS AudioPlayer v1.5 added this feature: https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/audioplayer.html#version-changes

Support for passing HTTP header information in an audio stream, enabling DRM and other authenticated resources :

  "header": {
    "namespace": "AudioPlayer",
    "name": "Play",
    "messageId": "{{STRING}}",
    "dialogRequestId": "{{

[2021-06-02 06:51] ShenChen93 commented on #610
Hi @voiceactivity .

Yep, this feature is supported in AudioPlayer v1.5. However, the interface haven't been updated yet: https://developer.amazon.com/en-US/docs/alexa/custom-skills/audioplayer-interface-reference.html, pleaes keep tunned.

Thanks,
Shen

[2021-06-03 00:11] chandora commented on #690
Hi @ShenChen-Amazon ,

It's sad news but I understood.
I will post my feature request once I release the test driver.

Thank you for your support!

Regards,
chandora

[2021-06-06 09:30] TAKARA328 opened #691 "Some viewport profiles in getViewportProfile are not determined correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

`getViewportProfile()` returns the correct viewport profile.

## Current Behavior

When I tried it with the Alexa simulato

[2021-06-07 05:23] #690 closed, assigned to ShenChen93

[2021-06-07 06:22] ShenChen93 commented on #691
Hi @TAKARA328

Thanks for posting this issue. It turns out this util function is not up to date with latest viewportProfile table. We will update this util function ASAP after we confirm with viewportProfile team.

Thanks,
Shen

[2021-06-07 23:44] TAKARA328 commented on #691
Hi @ShenChen-Amazon

Thanks for good reply.  I'm looking forward to it fixed.

Thanks,
TAKARA

[2021-06-11 19:27] ShenChen93 commented on #688
Hi @voiceactivity ,

Got reply from service side. Seems you misunderstand the currenttime,

It will be different depending on when you press the pause button, and the currentTime is how long the Video has been played

Thanks,
Shen

[2021-06-11 20:18] voiceactivity commented on #688
Thank you for your feedback, very much appreciated!

According to the documentation: https://developer.amazon.com/en-US/docs/alexa/alexa-presentation-language/apl-video.html
`"currentTime": Integer, // Current playback position in the current track, expressed in milliseconds`
There is no other definition there.

Just to clarify, are they saying that the `current playback position in the current vi

[2021-06-17 12:27] chandora opened #692 "Skill Messaging API Not Sending Message to Local Skill"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

The Skill Messaging API does not send a message to a skill when the skill is running in a local environment with Alexa Skills Toolkit (ask-sdk-l

[2021-06-20 11:48] hqawasmi commented on #618
@ShenChen-Amazon , Hi , is there any updates on the above issue please

[2021-06-24 17:36] Shreyas-vgr commented on #692
Hi @chandora, thanks for raising this issue. I will reach out to the concerned team regarding this issue and revert back.

[2021-06-24 17:45] sattpat commented on #692
Hey @chandora can you tell me your skill Id ?

[2021-06-26 09:54] chandora commented on #692
@Shreyas-vgr and @sattpat

Thank you for your investigation.
My skill Id is as follows:

amzn1.ask.skill.baad1b9a-fff8-458b-925b-b95d1bf6749b

Please note that the skill has been published, and I experienced the issue with one in the development stage being updated for the next release.

If you need to check a log for the issue, please let me know. I will re-run the test case to reproduce the issu

[2021-06-28 17:53] sattpat commented on #692
Hey @chandora , I didnt read the your entire issue the first time. So just to be clear, your local debug connection is working for launch intents only? What about other intent requests?

How are you invoking the Skill Messaging API? How did you verify that the the skill requests are not making it to your debug connection? I am online on Gitter. So feel free to ping me there so that we can coordina

[2021-06-29 02:43] chandora commented on #692
@sattpat

Thank you for your reply.
As we are in different timezones (I am in Japan), it seems to be difficult to contact you via Gitter.

My local debug connection is not working only for Launch intent but also for other requests. They include request types for LaunchRequest, IntentRequest, Alexa.Presentation.APL.UserEvent and Connections.Response (AskFor). I confirmed it by checking log messages

[2021-06-29 18:14] Shreyas-vgr commented on #692
Hi @chandora, thanks for the detailed steps to reproduce the issue, can you also share the local debug configuration snippet you are executing from VSCode ?

[2021-06-29 18:20] sattpat commented on #692
I looked at the logs and I will list my observations here.

1. You local debug connection is pointing to North America(NA). I see some successful skill requests coming through and assuming that you are using vscode/' dev console to make those requests, that means that your developer account is in NA as well? As pointed out by @Shreyas-vgr above can you please share your launch config?
2. For the s

[2021-06-30 02:05] chandora commented on #692
@sattpat  and @Shreyas-vgr ,

I attach the debug configuration below.
As you can see, it is pointing to FE region.

As my account was made in amazon.co.jp's Web site, I guess my account is in FE (but not sure).
The request messages coming to my skill contain "apiEndPoint": "https://api.fe.amazonalexa.com".

I am invoking the skill from the developer console, VS Code, and my test driver running on

[2021-06-30 08:58] chirag773 commented on #107
this work for me, thank you

[2021-07-10 20:16] StefanV85 opened #693 "Error on SMAPI Call "ListInteractionModelCatalogVersions""
## I'm submitting

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I have Problem when requesting the versions of my slot-catalog.
Everything works fine, before i had 50 versions.
Now i can't reqeust the list with pa

[2021-07-10 22:48] ShenChen93 commented on #693
Hi @StefanV85 ,

Thanks for reporting this issue. I tried the same smapi command with --debug option, and i got the following payload:
[code]

Seems the nextToken is correctly added into the payload. I will reach out to service team to figure it out why this payload is not valid next Monday.  Could you provide your skill ID thus we could check the log ?

Thanks,
Shen

[2021-07-10 23:26] StefanV85 commented on #693
Hi Shen,
Thank you very much for your support.
My Skill-ID is the following: amzn1.ask.skill.fcceb23a-ada9-448e-b788-7ec921dadcea

Kind Regards
Stefan

[2021-07-22 18:31] ShenChen93 commented on #688
Hi @voiceactivity ,

Thanks for your patient. I just got some update from service team: the service team did some update as of July 15th. And they could not repdroduce this issue after the service update.

I wonder if this issue still exist at your end ? If so could you please provide your device serial number thus the service team could help with next step investigation.

Thanks,
Shen

[2021-07-22 19:49] voiceactivity commented on #688
Hi @ShenChen-Amazon ,

It looks good now. I cannot reproduce it anymore.

Thank you and the Service Team for your help in investigation and fixing the issue!

[2021-07-22 19:58] #688 closed, assigned to ShenChen93

[2021-08-26 20:40] ShenChen93 commented on #693
Hi @StefanV85 ,

Thanks for your patient. The fix for this issue is done by our service team today, could you please check if the issue is still exist on your side ?

Thanks,
Shen

[2021-10-01 21:08] zohaibkhan502 commented on #618
Hi @ShenChen-Amazon and @sholkay,

I think the workaround would be if we get the event when the reminder starts beeping we can use the speak tag outside of the reminder Api. Referring to this docs. I gave it a one shot but didn't got any event fired at that time.
https://developer.amazon.com/en-US/docs/alexa/smapi/alexa-reminders-api-reference.html#reminderstarted

[2021-10-04 06:44] talkingnews opened #696 "Request: Migrate DynamoDbPersistenceAdapter to AWS SDK v3 and save 60Mb"
Currently,  DynamoDbPersistenceAdapter has a peer dependency of aws-sdk, which install 65Mb of stuff we don't need.

Whereas the current slimline v3 version of @aws-sdk/client-dynamodb is 4.97 Mb including dependencies.
https://www.npmjs.com/package/@aws-sdk/client-dynamodb

Is anyone working on a re-write, as this library is currently the difference between my skill package being 7Mb or 70Mb!

[2021-10-04 20:52] #693 closed, assigned to ShenChen93

[2021-10-14 22:28] aknad commented on #691
Hi @ShenChen-Amazon,
do you have an update about this issue?
thanks

[2021-10-26 09:31] paul-uz opened #697 "v3 Javascript SDK compatibility?"
When will this SDK be updated to work with the v3 JS SDK?

[2021-10-26 10:15] talkingnews commented on #697
See also https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/issues/696 - same thing, opened 22 days ago but no comments...

[2021-10-26 16:03] sjcomstock67 commented on #697
Thanks for the feedback @paul-uz and @talkingnews. This is something we definitely want to pick up. Prioritization has been challenging given competing priorities. But we'll take a look

[2021-10-26 16:06] sjcomstock67 commented on #696
agree this is a pain point. Will try to bump it up on the priority list.

[2021-10-26 21:13] garciaraul85 opened #698 "Why am I getting: Error in processing request. Do not register any parsers before using the adapter"
I am creating a skill using nodejs + express + express adapter.
I want to add a middleware to intercept the request and check the request body to do some verifications but I get this error:
`Error in processing request. Do not register any parsers before using the adapter`

This is my code for the index.ts:

[code]

So I get the body printed, but I get the error: **Error in processing request. Do

[2021-10-27 00:51] sam-goodwin commented on #696
We definitely want to get to this. @talkingnews just so I understand, are you using any type of bundling/tree-shaking like webpack or esbuild for your skill? This might be especially helpful if you are running in AWS Lambda since the SDKs are provided by the container - bundle the skill and mark `aws-sdk` as external - the bundler will not include any AWS SDK code in your bundle, leaving you with

[2021-11-08 22:34] SRGDamia1 opened #700 "Household lists API not returning next link for large lists"
When making a call to v2/householdlists/{listId}/{status} (via the list management service client or postman) I'm not able to get paginated results.  The first 100 results are returned, but the 'links' object is null.  Without a next page token, I don't see how to access any further items on the list. What is the proper way to get items after the first 100?

[2021-11-09 09:49] aknad commented on #691
the viewports of the echo show 15 are also missing

[2021-11-10 12:33] jazmit commented on #692
Hello, I'm experiencing a similar issue, I can't get any of my requests routed to my local machine.

I followed the instructions here: <https://developer.amazon.com/en-US/docs/alexa/smapi/ask-cli-intro.html#test-locally>
`ask run` works as expected:
[code]

But running `ask dialog`, or even `ask dialog -g development -l en-US` connects to the deployed version of the skill and is unaffected by loca

[2021-12-10 16:41] sjcomstock67 commented on #696
@doiron this was started by @sam-goodwin and there's a linked PR. We just need to finish it up. Will discuss during sprint planning.

[2022-01-25 22:32] arnaudcourtecuisse opened #701 "Typescript: incorrect return type for getSlot"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

I expect the returned value of `getSlot` to matche its typescript definition.

## Current Behavior

The function definitio

[2022-01-26 03:04] GregCKrause opened #703 "Audio stutters every 10 seconds, but only when provided metadata"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

Audio should play smoothly, with or without metadata.

## Current Behavior

Audio stutters every 10 seconds when metadata

[2022-02-02 19:35] #703 closed, assigned to nobody

[2022-02-02 19:37] GregCKrause commented on #703
Not entirely sure what the root cause was, but [this example](https://github.com/dabblelab/3-alexa-audio-streaming-example-skill/tree/637abb983be9209a934dfa67ebbe11b6b66250f9) provided by Dabble Lab did not have the same issue.

[2022-02-08 23:36] TommyQu opened #707 "Will withAutoCreateTable(true) always try to create a table?"
We found a bunch of errors in our cloudtrail event as below, seems some processes are trying to create an existing table constantly.

[code]

In index.js, we are doing something like below

[code]

I'm wondering will withAutoCreateTable(true) always try to create a table even if it exists? So it will throw ResourceInUseException as above that will be shown in Lambda function's error metric?

[2022-02-09 01:23] TommyQu commented on #707
Tested, seems such error won't show in Lambda function's error metric

[2022-02-16 13:55] ciddypoo opened #708 "addDelegateDirective not supported"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ x] Other... Please describe:
</code></pre>

## Expected Behavior
I'm using the addDelegateDirective to chain two intents at the start of a skill, in order to customize the skill responses

[2022-02-17 09:37] igilham opened #709 "TypeError in getSupportedInterfaces"
The utility function `getSupportedInterfaces` contains a TypeError for certain types of requests.

https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/blob/ef6b97e9deaeb902856c33e570f56da8a2ff998a/ask-sdk-core/lib/util/RequestEnvelopeUtils.ts#L274

This code naïvely ignores whether or not the `device` field is defined, throwing the error for requests that do not include it.

I've seen this ca

[2022-02-17 09:48] igilham commented on #709
Fixing this bug is trivial but fixing the test suite is more complex.

~~The tests only exercise one type of `RequestEnvelope`, a `LaunchRequest`. There are several other types of requests which have different properties defined so there's quite a large gap in the test coverage for the core package of the SDK.~~

That wasn't quite correct. There's one mock but the tests modify it in-place to cover

[2022-02-17 14:04] igilham commented on #709
Please note that in my own testing, using `strict` mode in Typescript makes this error impossible. It may be worth considering tighter compiler options to reduce this sort of thing in the future.

[2022-02-17 21:04] #709 closed, assigned to nobody

[2022-02-23 14:07] #708 closed, assigned to nobody

[2022-03-04 09:53] matijagrcic opened #711 "Alexa hosted skill DynamoDB permission error"
Hi,

I have a Alexa Hosted Skill which is live and published. Wanted to continue development on it recently
but since the upgrade to DynamoDB Console v2 I can't explore the items getting  the following error message

[code]

If I can create a new Alexa hosted skill I get the same error message. I can add new items in the DynamoDB thru the Console but exploring them gives this error message even th

[2022-03-08 05:00] tkm22 commented on #711
Can you Try this again, we have changed some S3 access policy last week, but revert back right now, this might be related to your problem.

[2022-03-08 10:57] matijagrcic commented on #711
Thanks for responding @tkm22. I've tried and the error is the same. Even when I create a new Alexa Hosted skill I can't explore items in DynamoDB Console. Can you please look into this?

[2022-03-09 01:43] tkm22 commented on #711
Could you provide me the AWS account, where the DynamoDB is in?

[2022-03-09 01:52] tkm22 commented on #711
And when you refer DynamoDB Console, can you give me the exact link?

[2022-03-09 10:10] matijagrcic commented on #711
Sure, go to

1. Alexa Console https://developer.amazon.com/alexa/console/ask
2. Create a Custom Alexa Hosted Skill https://developer.amazon.com/alexa/console/ask/create-new-skill
3. Then go to the Code tab of the skill https://developer.amazon.com/alexa/console/ask/editor/amzn1.ask.skill.d2a00082-eee3-4161-9390-182a5b7c14e8/development/en_GB
4. Then click on the DynamoDB icon and try and open any

[2022-03-14 14:10] matijagrcic commented on #711
Hey @tkm22 any chance you were available to look at this?

[2022-03-14 17:30] tkm22 commented on #711
Hey @matijagrcic , now we understand the issue is not under our team control (SDK), which is related to the team that takes care of role permission on VoiceHubSSORole as you can tell from the error, I have followed up with their team last week and they said they had acknowledged the issue and prioritized to work on that. I will give an update here when they solve the issue.

[2022-03-15 11:47] matijagrcic commented on #711
Thanks @tkm22, that's great to hear. Looking forward to your update when it's resolved.

[2022-03-25 11:52] matijagrcic commented on #711
Hey @tkm22  is there any info available when to expect this fixed?

[2022-03-25 17:41] tkm22 commented on #711
Hey @[matijagrcic](https://github.com/matijagrcic), sorry to keep you waiting. In short, it is not fixed but I see their team has planned on this issue 3 days ago.

Since I am not on their team, I couldn't tell when it will be fixed, but I assume they are going to work on this recently since it is on their active sprint plan (I don't have access to it), but someone also told me before it will requ

[2022-04-03 15:30] yadavsulekha commented on #216
Hello @tianrenz - How to know which question's answer is 'YES/NO' when you have Multiple intents where work forward on the basis of Yes and No.

[2022-04-11 14:37] leandrock opened #714 "AskSdk.DynamoDbPersistenceAdapter Error: Could not read item"
## I'm submitting a...

<pre><code>
[ X ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

## Current Behavior

Creating a new skill and using the code I allways use on other skills and cannot make the session a

[2022-04-19 04:19] tkm22 commented on #711
closing this, since from internal ticket status, it's been resolved. You can double check the getitem permission.

[2022-04-19 04:19] #711 closed, assigned to nobody

[2022-04-20 19:45] matijagrcic commented on #711
Thanks @tkm22  that's fixed now, just verified.

[2022-04-23 12:53] FelixSelter commented on #660
Same issue for me

[2022-04-28 19:35] doiron commented on #660
Hi FelixSelter,  could you post the code where you build the skill, ie ```Alexa.SkillBuilders```  and comment on your skillId at the same time you attempt so I can know when to search for in the logs.

thanks

[2022-04-28 19:47] doiron commented on #678
closing as this is exposed in the model.

[2022-04-28 19:47] #678 closed, assigned to ShenChen93

[2022-05-03 13:56] AlessandroPaciello opened #715 "error when speak detects an accented character"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

should answer the text passed as a speak parameter

## Current Behavior

it replies with Waiting for the request type of

[2022-05-24 19:12] rdgomt commented on #672
Hey guys. Any news regarding the official smart home SDK?

[2022-05-28 16:47] techandsoftware commented on #660
I've got the same issue.  Debugging with `--region EU` was unreliable, the debug console would hang then eventually get an exception.   Today, local debugging doesn't even start with `--region EU`, as I get a websocket 500 error.   I switched to `--region NA` and downloaded the same skill with an NA account, and this debugs reliably.

[2022-06-01 17:06] javierAlo opened #716 "WebSocket error from ask-sdk-local-debug with EU region"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

Configuring EU as region in launch.json and on start debugging, a debug session should start (for one hour period).

## Cu

[2022-06-01 18:41] stx opened #717 "ExpressAdapter.verifySignature causes skills to fail validation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior

The skill passes validation with verifySignature enabled.

## Current Behavior

`new ExpressAdapter(skillBuilder.create(),

[2022-06-01 19:47] doiron commented on #717
can you elaborate on the extra parameters that are getting appended to the Body?  these are serialized into a [request envelope](https://github.com/alexa/alexa-apis-for-nodejs/blob/master/ask-sdk-model/index.ts#L609) as long as you have the matching ask-sdk-model with those extra parameters you should be able to serialize/deserialize and validate the body.

[2022-06-01 20:35] stx commented on #717
The Alexa console doesn't say what the request is, or what the parameters are, or really what it's even doing. It's just part of an automated process prior to every skill release.

I reverse engineered all of the requests being sent by that process and included the problematic request above. I suspect this is what's being added:

```"certificationParam1":"hello","certificationParam2":"10000"```

[2022-06-01 20:39] stx commented on #717
Perhaps one of these changes in Express 5 is breaking the validator? https://expressjs.com/en/guide/migrating-5.html

Maybe the req.host change or another undocumented update?

[2022-06-01 21:06] doiron commented on #717
oh those ones  thanks for clarifying this.  I believe these are part of the certification tests.  will investigate this further with the certification team.

[2022-06-07 06:43] Betatester777 opened #718 "Debugging doesn't work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I've followed all the steps to debug in VS Code, but still receiving the message: "There was a problem communicating with the requested skill"

[2022-06-07 06:45] Betatester777 commented on #718
No relevant CloudWatch Logs found, while debugger is running

[2022-06-07 15:33] javierAlo commented on #716
It seems that this problem has been solved.

[2022-06-09 07:39] Betatester777 commented on #716
In my case debugging DOESN'T work in EU and NA regions.

[2022-06-09 07:40] Betatester777 commented on #716
https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/issues/718

[2022-06-10 23:51] kevinmarrec commented on #718
I'm having the same issue on `EU` region. The skill won't be reached when debugged.

`ask dialog`
![image](https://user-images.githubusercontent.com/25272043/173163614-8dbdb39f-dd80-443c-a403-2d3aa4fdf6e1.png)

`VS Code Alexa Skill Simulator (FR locale)`
![image](https://user-images.githubusercontent.com/25272043/173163630-f6e204c3-4cb3-4042-89cf-b2240f4bde26.png)

[2022-06-13 08:23] javierAlo commented on #718
Do you have the same problem with all skills? I have verified that it only happens with some of my skills, I think with the last ones that I have created, but not with the oldest ones.

[2022-06-13 09:25] Betatester777 commented on #718
I've the same issue with all skills.
Old, new, NA,EU hosted.
It's frustrating;-(.

[2022-06-13 14:52] betomadrazo commented on #718
Same problem here with all skills, old and new. Windows and Linux.

[2022-06-14 21:48] Betatester777 commented on #718
@ShenChen93 any idea why debugging has stopped to work?

[2022-06-15 11:00] fernandaBonaldo commented on #718
Same problem here will all skills too, in NA and EU.

[2022-06-16 15:12] CarlosMed commented on #718
We are also getting an issue with local dev in NA. Sadly it just breaks with no way of knowing what's causing the issue since there are no logs or anything. We are sadly reverting to uploading manually. Uploading manually causes issues with our development process as it gets slowed down significantly.

It was working perfectly fine several days ago and like when OP initially posted is when we had

[2022-06-22 18:59] abpatel commented on #718
This issue has been resolved. Please give it a spin. Would appreciate ya'll reporting back  here

[2022-06-22 19:11] betomadrazo commented on #718
I'ts been resolved, I tried with EU and still didn't work, but for NA it did. Many thanks.
Is it possible to know how it was fixed?

[2022-06-27 08:25] Betatester777 commented on #718
Now it works as expected with the EU account.
Thanks a lot;-)

[2022-06-27 08:37] Betatester777 commented on #718
Tested with both EU and NA accounts.
Debugging works perfectly.

[2022-06-27 08:37] #718 closed, assigned to nobody

[2022-07-05 10:11] CasperPas commented on #717
I'm using these packages and facing the same issue.
[code]

I had to change my code like this to submit.
![alexa](https://user-images.githubusercontent.com/330295/177305718-76000ac2-ed2a-4d3a-9c4d-55ff3ddc6e0c.png)

[2022-07-11 18:41] stx commented on #717
@doiron We're unable to submit updates to production Alexa skills because of this issue and we've found no workaround, including downgrading to Express 4. Disabling the verifySignature and verifyTimestamp flags will result in additional certification failures, which also prevent submission.

As far as we can tell, there is now no way to submit or update Alexa skills using the Express Adapter in th

[2022-07-13 08:06] stx commented on #717
For others running into this issue, here's our fix:

In `dist/verifier/index.js`, change:

[code]

to

[code]

You'll now be able to submit Alexa skills.

[2022-07-27 03:41] devsdmf commented on #717
+1

I'm facing the same problem here, is there any ETA for the solution?

[2022-07-27 20:30] garciaraul85 commented on #717
Same here, is there something we are missing?
Should we try doing:
    `const { SkillRequestSignatureVerifier, TimestampVerifier } = require('ask-sdk-express-adapter');

    const skillBuilder = Alexa.SkillBuilders.custom();
    const skill = skillBuilder.create();

    // This code snippet assumes you have already consumed the request body as text and headers
    try {
        await new SkillRequ

[2022-08-16 16:08] abhjroy commented on #610
Hi @voiceactivity is this ticket is still relevant?

[2022-08-16 19:17] pfilippov commented on #610
Hi, yes, of course. However there is still no change been made in the ASK to support that update.
Thank you

[2022-08-30 17:19] Pedro-vk opened #719 "Docs don't explain how to get Client ID"
Current documentation of `ask-smapi-sdk` says that we can get the Client ID following a link that doesn't explain how to get it.
[This is the link of the docs that doesn't redirects to the correct documentation](https://github.com/alexa/alexa-skills-kit-sdk-for-nodejs/tree/2.0.x/ask-smapi-sdk#generate-lwa-login-with-amazon-keys)

The document says:

## I'm submitting a...

<pre><code>
[ ] Regressi

[2022-09-02 23:07] doiron commented on #717
I believe we have identified the issue with the Alexa certification requests. The mitigation is now in production, you should be able to try upgrading again or re-introducing the validation to help secure your skill.

[2022-09-12 10:54] rahulawl commented on #490
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 10:55] rahulawl commented on #696
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 10:56] rahulawl commented on #691
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 10:56] rahulawl commented on #681
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 10:56] rahulawl commented on #680
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 10:56] rahulawl commented on #679
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 10:57] rahulawl commented on #671
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:04] rahulawl commented on #692
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:04] rahulawl commented on #697
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:04] rahulawl commented on #698
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:05] rahulawl commented on #700
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:05] rahulawl commented on #701
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:05] rahulawl commented on #707
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:08] rahulawl commented on #714
Is this issue/feature-request still relevant?
We are working on prioritization of relevant issues and cleanup of rest. If we don’t hear back in 2 weeks, we will assume that the issue is not relevant and we will close it.

[2022-09-12 11:14] paul-uz commented on #697
Yes of course its still relevant. Why wouldn't it be?

[2022-09-12 11:14] paul-uz commented on #671
Yes it is still relevant. The documentation should reflect what the code is/does.

[2022-09-12 15:48] TAKARA328 commented on #691
I would like you to fix it.

[2022-09-14 01:41] SRGDamia1 commented on #700
Yes, I believe this problem still exists.

[2022-09-20 23:39] kingbrell opened #720 "Amazon content"
Shared from Amazon Drive - https://www.amazon.com/clouddrive/share/n9J3kwS7AqHYUfr8GVNcn91o7kcPxAPBcFh9Sku7lyt

[2022-09-23 12:42] katiarc commented on #720
Can you please elaborate on this a bit more?

[2022-09-24 04:06] chandora commented on #692
Hi, I have given up using Skill Messaging API, so it is no longer relevant to me.

[2022-10-04 13:06] MarcoEsposito890 opened #721 "Cannot send a proper response to Alexa after MQTT Publish"
Hello, I'm having issues communicating back to Alexa after I publish an MQTT message on AWS IoT using the following handler.

[code]

I get this invalid response

[code]
instead of the desired one. Other handlers that do simpler tasks (such as just returning a speech response) work fine. The MQTT publishing also works (I see the messages on the broker).

I'm using the Alexa SDK v2 and the AWS SDK.

[2022-10-06 06:34] #721 closed, assigned to nobody

[2022-10-08 17:55] kingbrell opened #722 "Email"
CXVGJGDSVVACGEBPTGTJBQXVNBOJJISVCHCVORPKOGWFWZCVSVOUTJBJUPDYUXYJQELPAPFNPCALPCTHIKNJAODJXCEBQLVCULKRLLTXCNNMPQJQIRNWQRCGDZPQMGLCDKLFLILEFNGTLACYCBSYYRKPUVQYCEIWGRPKYYAEVFJPUZFYUMISVJGADEYFYUQTQVWYXCNWZCUKGDZETRVXZYNSNJFAHPZZSBHULFWYZNXLUVTAIJOQQZ

[2022-10-14 22:44] stx commented on #717
Yep, Alexa backend fixed now. Thanks!

[2022-10-14 22:44] #717 closed, assigned to nobody

[2022-10-23 03:44] Junot-Jean commented on #406
hi? i'm having the same issue, i've been trying to solve it with @tianrenz code but nothing changes.

[2022-10-25 19:49] tydonelson commented on #722
Spam? Closing.

[2022-10-25 19:49] #722 closed, assigned to nobody

[2022-11-06 09:57] akhilerm opened #723 "addAudioPlayerPlayDirective not playing some URLs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I have created an [alexa skill](https://github.com/akhilerm/youtube-music-alexa-skill) to stream music from youtube music. But echo dot is able

[2022-11-16 02:06] swalker326 opened #724 "Keep Compiled code in a dist folder"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

I've created an alexa skill built in typescript and in trying to compile it to js and keep my sanity I wanted to set the entry point in `package

[2022-11-19 20:26] jonnyreeves opened #725 "`AlexaHouseholdListEvent.ItemsCreated` only ever provides a single ItemId"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Expected Behavior
When telling alexa to add multiple items to a list (eg: 'Alexa add eggs and ham to shopping list'), the `AlexaHouseholdList

[2022-11-22 03:53] doiron commented on #725
thanks for reporting this issue. I have not had a chance to attempt to reproduce this issue yet. However, could you confirm if you are getting two events one for "eggs" and a second one for "ham", or, just the one event overall?

[2022-11-22 06:42] jonnyreeves commented on #725
Just the one event, hence the data loss.

On Tue, 22 Nov 2022, 03:53 Mario, ***@***.***> wrote: